[2011-11-21 06:27] ctide commented on #450
https://github.com/nodejitsu/node-http-proxy/pull/152 is the most pressing issue that I'm aware of blocking us from using node v0.6.  Once that's resolved, we'll figure out what the next blocker is, but who knows how many things still need to be updated before we can support 0.6.

Unfortunately, that error just means that the process died because whatever it had a connection to died, so it's not r

[2011-11-21 18:00] quartzjer opened #459 "test suite re-runs every migration every time it runs"
check the log, it's very hard to debug when something goes wrong and could be causing weird behaviors

[2011-11-21 18:10] ctide commented on #459
I wouldn't do anything to cause the test suite to not run migrations, since they could be run by people who have lockers installed.  If we don't think a migration will ever be run again, and we think it has the potential to cause problems, let's remove it.

[2011-11-21 20:13] bassdread opened #460 ""All Photos" Text wraps badly"
Using latest Chrome 15.0.874.121 the text "All Photos" wraps outside the arrow see https://me.singly.com/dashboard/#photos

[2011-11-21 20:17] bassdread commented on #460
http://chrishannam.co.uk/All_Photos_Text_Overrun.png shows the issue.

[2011-11-21 22:25] smurthas opened #461 "UI greys out when backend goes away"
If the locker is killed while the UI is open, the overlay appears and sometimes shows the welcome dialog.

[2011-11-21 22:51] ctide commented on #461
Dupe of #446

[2011-11-21 22:52] ctide commented on #461
Not a dupe of #446

[2011-11-21 22:56] ctide commented on #124
Closing this

[2011-11-21 22:56] #124 closed, assigned to nobody

[2011-11-22 00:56] smurthas commented on #461
:)

[2011-11-22 01:29] quartzjer commented on #459
Yeah, that's a much better idea, all of them are probably old now.

On Nov 21, 2011, at 12:10 PM, Chris Burkhartreply@reply.github.com wrote:

[2011-11-22 03:29] mdz opened #462 "Top nav wraps badly on 1024px wide screen"
I saw this today on my netbook. The search box ended up covering up the icons in the service tray.

[2011-11-22 03:48] ctide commented on #462
Dupe of #392

[2011-11-22 03:48] #462 closed, assigned to nobody

[2011-11-22 22:14] smurthas commented on #405
Fixed in https://github.com/LockerProject/Locker/commit/ae14a9437516ac46ac2f1cb72e09338b25c4e5c2

[2011-11-22 22:14] #405 closed, assigned to nobody

[2011-11-22 22:48] mdz commented on #460
Doesn't happen for me with Ubuntu 11.10 and Chromium 14.0.835.202

[2011-11-23 16:50] quartzjer opened #463 "twitter friends won't sync"
Twitter friends STDERR: { statusCode: 400,
  data: '{"error":"Rate limit exceeded. Clients may not make more than 350 requests per hour.","request":"\/1\/friends\/ids.json?screen_name=telehash&cursor=-1&path=%2Ffriends%2Fids.json&include_entities=true"}' }

Once you have too many friends, it simply won't work.

[2011-11-23 21:26] #463 closed, assigned to nobody

[2011-11-25 16:50] #252 closed, assigned to nobody

[2011-11-25 19:47] quartzjer commented on #320
after this, eventual memory corruption

[2011-11-28 03:25] zencuke opened #467 "can't get node-clucene to build properly on OS X 10.7.2"
I have spend the last two days trying to install locker. First I tried lockerbox.sh. Then I followed the link to "Detailed Install Instructions." Half the commands on this page failed for one reason or another: Macports/fink incompatability; node version incompatability with npm; npm can't cope with some of the dependencies in Locker/package.json. Apparently some of the specified package versions

[2011-11-28 04:06] quartzjer commented on #467
First, thank you for such thorough feedback (and persistence!), super helpful and appreciated.  I suspect all of us are using the Xcode and systems that have been upgraded, not a fresh start, so it looks like there's definitely some new things we need to fix :(

Also, unshortener was just recently removed from the package.json as it's not used anymore, have you tried updating from git master to se

[2011-11-28 04:13] quartzjer commented on #454
I've not seen/reproduced this, could you check again and maybe grab the actual json returned at https://me.singly.com/Me/places?offset=0&limit=1000&sort=at&order=-1 ?

[2011-11-28 04:18] quartzjer commented on #421
The config.js is intentional as it's only loaded when running via file://, but that could be if'd and only look for it in that case :)

Most of the rest are just attempting to load default favicons into view for the sites linked, a bit brute force :/

[2011-11-28 10:33] zencuke commented on #467
Unfortunately after everything I have done recently, especially the manual update of various dependencies, I don't really qualify as a "clean" install. My original problems seem to have been caused by various old macport and fink installs that were copied to my new Mac as part of the original Lion configure process. Among other things they were blocking brew from working. Also the fink version of

[2011-11-28 23:39] smurthas opened #469 "A viewer must specify exact sources for them to show up in the tray"
should be able to just say "photos" or "places" and get the whole lot.

[2011-11-29 18:56] temas opened #470 "Photos timeline viewer not showing all photos"
My collection shows that I have 50 photos and they are all viewable inside of the masonry viewer.  When I switch to timeline I only have 20 total available.

[2011-11-29 19:13] temas commented on #441
There's actually no such thing as overexposure because it only ever goes to you.  I'd like to readdress this after we have architecture conversations this week.

[2011-11-29 19:18] temas commented on #434
When we reevaluate the overall query system we can make sure that all data is fully accessible.  In realtion to the current api this will not be changed and the direct collection access should be used in its place.

[2011-11-29 19:22] smurthas commented on #469
@ctide, assigned to you to make sure this gets fixed with the new UI, not the old one.

[2011-11-29 19:23] smurthas commented on #461
@ctide, assigned to you to make sure this gets fixed with the new UI, not the old one.

[2011-11-29 19:25] temas commented on #460
Verified if the browser font is set larger than default.  It needs a specific font size set on the element.

[2011-11-29 21:02] smurthas commented on #452
@ctide assigned to you to make sure it is fixed in the new UI, not the old.

[2011-11-29 21:04] smurthas commented on #442
This will be deprecated with the new UI in a few days/weeks - closing as a wontfix.

[2011-11-29 21:04] #442 closed, assigned to nobody

[2011-11-29 21:07] smurthas commented on #427
@erictj, is this still open?

[2011-11-29 21:08] amcjen commented on #427
Yes, this is no longer an issue.  Jer updated the handling to be synchronous

[2011-11-29 21:08] #427 closed, assigned to amcjen

[2011-11-29 21:11] smurthas commented on #419
@merc3po, assigned to you to ensure it gets "fixed" in the new UI, not the old one.

[2011-11-29 21:12] smurthas commented on #415
+1

[2011-11-29 21:13] smurthas commented on #394
wontfix -- deprecated with the new UI coming in

[2011-11-29 21:13] #394 closed, assigned to nobody

[2011-11-29 21:17] smurthas commented on #415
Actually, dupe of https://github.com/LockerProject/Locker/issues/369

Closing this one.

[2011-11-29 21:17] #415 closed, assigned to quartzjer

[2011-11-29 21:17] smurthas commented on #369
+1.

[2011-11-29 21:18] smurthas commented on #247
@ctide, assigned to you to ensure it is "fixed" in the new UI, not in the old one.

[2011-11-29 21:19] smurthas commented on #315
This is fixed! PHEW!!!

check out the latest master and take a look at the config.json.example file and you can see how logging levels and file rotation can be utilized.

[2011-11-29 21:19] #315 closed, assigned to nobody

[2011-11-29 21:20] smurthas commented on #358
@merc3po, assigned to you to ensure that it gets "fixed" (considered) in the new UI, not the old one.

[2011-11-29 21:23] smurthas commented on #312
Have we hit the API limit anywhere? About how much/often does the synclet hit it? I'm just trying to get at whether this is urgent or even really needed anymore.

[2011-11-29 21:27] smurthas commented on #244
causing pretty huge file sizes in the Twitter Me data, making a priority.

[2011-11-29 21:27] smurthas commented on #281
Where are we at on this?

[2011-11-29 21:29] smurthas commented on #282
I think was already solved in the old UI, @temas can you confirm (or deny) whether this is still relavant? If it is fixed, we should assign it to @ctide or @merc3po to ensure that we don't regress on this in the next UI.

[2011-11-29 21:30] smurthas commented on #284
@ctide, assigning to you to make sure this gets "fixed" in new UI, not the old one.

[2011-11-29 21:31] smurthas commented on #250
As the dev dashboard is about to be two generations old, I'm going to close this as a wontfix.

[2011-11-29 21:31] #250 closed, assigned to nobody

[2011-11-29 21:33] smurthas commented on #306
This has been fixed. There was a bug in how the synclet handled bad friend/follower data from Twitter (repolled into infinity).

[2011-11-29 21:34] smurthas commented on #370
@quartzjer, can you add a bit more info here? Where does this happen? Should we still fix it? What do you mean by fake embed object?

[2011-11-29 21:36] smurthas commented on #420
@merc3po, assigning to you as this has been a concern for a while. Not sure whether we need to address it immediately or not, but passing it off to you.

[2011-11-29 21:38] smurthas commented on #392
@ctide, assigned to you to ensure that this gets fixed in the new UI, not the old one. (wontfix for UseUI)

[2011-11-29 21:39] smurthas commented on #270
I don't see this - is this still happening? It should be using JSONP instead of xhr now.

[2011-11-29 21:40] smurthas commented on #446
@ctide assigned to you to ensure it gets fixed in the new UI, not the current one.

[2011-11-29 21:42] smurthas commented on #249
This UI is about to be two generations old, so we won't be fixing any bugs on it.

[2011-11-29 21:42] #249 closed, assigned to nobody

[2011-11-29 21:43] alanz commented on #306
Thanks. Shaping up to be a great product

[2011-11-29 21:43] smurthas commented on #257
do we really need this? I haven't seen much trailing white space any time recently.

[2011-11-29 22:11] smurthas commented on #454
Which date? Lot's of objects have a timestamp that is whenever the collection encountered the object and a "created_at" date or something like that that is a true creation date.

[2011-11-29 22:12] smurthas commented on #387
That sounds reasonable to me. +1.

[2011-11-29 22:27] smurthas commented on #306
Spoke too soon, this is still happening. :(. Making it a high priority.

[2011-11-29 22:30] mdz commented on #270
In the log pasted above, it shows requests to both /socket.io/1/xhr-polling/ and /socket.io/1/jsonp-polling/ - what does that mean in regards to your question?

[2011-11-29 22:31] mdz commented on #270
I haven't seen this lately, no

[2011-11-29 23:37] merc3po commented on #282
If by notifications you mean the Growlesque stuff, we're taking them out in the new version of the UI.

[2011-11-29 23:38] merc3po commented on #419
Check and check! We have notes to support this in the new UI so I'll close this. Thanks everyone. :)

[2011-11-29 23:38] #419 closed, assigned to merc3po

[2011-11-29 23:40] merc3po commented on #358
Gotcha.

[2011-11-30 00:12] smurthas commented on #270
Not sure why it shows both. Since we will likely reimplement and socket.io stuff for the new UI, I'm removing the current tag from this. Next time we revisit it, if no one has seen it since, we can close it.

[2011-11-30 00:13] smurthas commented on #306
Ok, this should be much better with
https://github.com/LockerProject/Locker/commit/a6ddac375d7d49e949013924e9ae3c160ef20fbb
and
https://github.com/LockerProject/Locker/commit/d142a288f8c173cdb112ccda7c1e31145e24475e

[2011-11-30 00:13] #306 closed, assigned to smurthas

[2011-11-30 04:45] zencuke commented on #467
OK the status seems to be that anyone with a recently purchased Mac or anyone running Lion who updates to xCode 4.2 can't install Locker because the npm CLucene install fails. Only users who installed before xCode 4.2 are able to run because their previous clucene build is still valid. Strangely brew has no problem installing CLucene but the npm install process doesn't seem to look for that.

Too

[2011-11-30 08:00] alanz commented on #306
FYI I had been running without rate limiting with
-    "synclets":[{"name": "related", "frequency": 1800},
-                {"name": "friends", "frequency": 3600},
-                {"name": "timeline", "frequency": 120},
-    "synclets":[{"name": "related", "frequency": 3600},
-                {"name": "friends", "frequency": 7200},
-                {"name": "timeline", "frequency": 240},

[2011-11-30 19:35] smurthas commented on #244
k, some more info here -- there are actually lots of fields that change all of the time, statuses_count, status, friends_count, followers_count, etc. It actually does feel like most of these represent a true "update" to the person's contact info, so what it really feels like we should do is just strip out the status field since that is already captured in the timeline feed. There is already workin

[2011-11-30 19:36] #439 closed, assigned to quartzjer

[2011-11-30 19:39] smurthas commented on #439
awesome!

[2011-11-30 19:44] quartzjer commented on #357
ga.js is in https://github.com/LockerProject/Locker/tree/master/Apps/DevDocs/static/js and https://github.com/LockerProject/Locker/tree/master/Apps/UseUI/static/js and included by both (is it even used?). this should get cleaned up as part of the next analytics story.

[2011-11-30 19:59] #311 closed, assigned to quartzjer

[2011-11-30 20:34] #387 closed, assigned to quartzjer

[2011-11-30 20:57] mdz opened #473 "[search] TypeError: Cannot call method 'substr' of undefined"
I entered "occupy" in the search box, saw a Places result for "Occupy SF" and clicked on it. I got the places viewer with a red marker at a different location, and these errors in the log:

30 Nov 12:55:08 - info: search started at pid 7184, running startup callbacks.
[search] querying place\* for occu*
[search] querying contact\* for occupy*
[search] querying timeline/twitter\* for occupy*
queryi

[2011-11-30 22:02] smurthas opened #474 "Registry Test Failures"
I get this every so often:

[code]

[2011-12-02 01:38] quartzjer commented on #473
I'm fixing the crash that manifests the issue, but the real problem is search collection needs reindexing, which is a pretty moot point until #320 is fixed.

[2011-12-02 01:54] ctide commented on #257
Yes, otherwise it keeps coming back and Jer and I keep slowly removing it, but it makes diffs from us a lot more annoying to read.

[2011-12-02 01:54] ctide commented on #282
Closing this since the new UI is not porting over this functionality.

[2011-12-02 01:54] #282 closed, assigned to temas

[2011-12-02 02:06] ctide commented on #467
What happens if you do the following:

[ctide@Chris-Burkharts-MacBook-Pro-2 /development/Locker] [master]:~$ **brew uninstall --force clucene**
Uninstalling clucene...
[ctide@Chris-Burkharts-MacBook-Pro-2 /development/Locker] [master]:~$ **brew install clucene --HEAD**
==> Cloning git://clucene.git.sourceforge.net/gitroot/clucene/clucene
Cloning into /Users/ctide/Library/Caches/Homebrew/clucene--g

[2011-12-02 04:26] quartzjer opened #477 "github connector api limit easily hit"
API Rate Limit Exceeded for 107.20.214.94

Not sure why it's IP based and not key but it's happening :(

[2011-12-02 04:37] temas opened #478 "Empty apikeys.json breaks the system"
When you first setup a locker if you do not have at least one entry in the apikeys.json the system does not properly respond to service related requests.  This leads to no icons in the startup process.

[2011-12-02 04:51] amcjen opened #479 "Connector code should be deprecated"
During the hackathon, the extraneous code in the foursquare connector made it confusing to developers where they should put new extensions to functionality.

Let's get rid of old connector code for connectors that are clearly synclet-based now.

[2011-12-02 04:57] mdz opened #480 "TypeError: Cannot read property 'etag' of undefined (when running tests)"
♢ Registry

  Can init
    ✓ successfully
  Haz Apps
    ✓ successfully
'TypeError: Cannot read property \'etag\' of undefined\n    at Request._callback (/home/mdz/src/singly/Locker/node_modules/npm/lib/utils/npm-registry-client/request.js:167:33)\n    at Request.callback (/home/mdz/src/singly/Locker/node_modules/npm/node_modules/request/main.js:99:22)\n    at Request.<anonymous> (/home/mdz/src/si

[2011-12-02 05:01] smurthas commented on #477
Is this a dupe of https://github.com/LockerProject/Locker/issues/312 ?

[2011-12-02 05:19] mdz commented on #478
I think we should bail early if there are no API keys available, and not even start up.

[2011-12-02 05:19] mdz commented on #479
This is on the board as "deal with dormant locker code"

[2011-12-02 05:23] amcjen commented on #479
Ahh, perfect.

On Thursday, December 1, 2011 at 9:19 PM, Matt Zimmerman wrote:

[2011-12-02 06:23] smurthas opened #481 "API Explorer /push/{dataSet} endpoint is missing the {dataSet} input field"

[2011-12-02 06:23] smurthas opened #482 "API Explorer can't POST"
Looks like the API explorer doesn't have a means of doing a POST (needed for the /push/{dataSet} endpoint), should we look more at getting Swagger in?

[2011-12-02 07:30] beaugunderson opened #483 "Type 'shout' place does not process"
Ended up with no title and a lat/lng of 0.

[code]

[2011-12-02 11:47] zencuke commented on #467
**Same thing.**

papas-macintosh:~ steven$ **brew uninstall --force clucene**
Uninstalling clucene...
papas-macintosh:~ steven$ **brew install clucene -HEAD**
==> Cloning git://clucene.git.sourceforge.net/gitroot/clucene/clucene
Updating /Users/steven/Library/Caches/Homebrew/clucene--git
==> cmake . -DCMAKE_INSTALL_PREFIX='/usr/local/Cellar/clucene/HEAD' -DCMAKE_BUIL
==> make install
/usr/local/Ce

[2011-12-02 12:04] zencuke commented on #467
That is: It is the same except I seem to have remnants to two different node installs. The node in the execute path is 4.9 but the configure finds /usr/local/Cellar/node/0.6.2. That's consistant though. I originally installed the current version then installed 4.9 because of instructions I saw somewhere on the lockerProject site.

[2011-12-02 13:19] ctide commented on #467
OK, that makes sense.  The clucene module will most likely not build against node 0.6 source.  We haven't put too much time into node 0.6 compatibility since it's blocked on a few other modules we use (such as node-http-proxy).  I'd recommend removing node 0.6 entirely, and installing an 0.4.x version from source.

Sorry about that, we hope to get everything patched up for 0.6.x soon!

[2011-12-02 20:39] zencuke commented on #467
I had installed node 4.9 explicitly to avoid problems. The incompatibility
was noted somewhere and actually caused more problems than just clucene.
However I did that from source in my home directory. I didn't know how to
tell brew to delete the previous install. The source code install replaced
the executable but not the libraries from the brew install. There is
probably a way to tell the npm ins

[2011-12-04 01:04] trentlarson opened #485 "runTests.js: Cannot find module 'xmlhttprequest'. Cannot call method 'ensureIndex' of undefined."
When I 'node runTests.js' in the tests directory I get a bunch of successes, but then I get the following:

[code]

That last is repeated many times.  Then there's a pause, and then I get the following repeated many times:

[code]

After that a pause, then that part is repeated again, followed by a pause, followed by repeated error... endlessly.

This is code checked out yesterday (Dec 2).  I'm ru

[2011-12-04 23:42] zencuke commented on #362
It was a bit of a battle getting brew to install node-0.4.9. The brew formula for 4.9 requires gcc4.2 even though the default llvm compiler works fine for 4.9 and gcc4.2 is no longer installed by xCode. (I reported this problem to brew git issue list so hopefully it will be fixed soon.) I needed to uninstall node-0.6.2 because the npm clucene build kept finding it even though I had tarball install

[2011-12-05 18:16] zencuke commented on #467
After a torturous process I finally tried to clean everything out and start over. Actually I have done this several times learning more each time. I start by updating brew (there a couple of recent updates to brew to address issues I reported.) Then I use brew to install the node-0.4.9 (node is now up to 0.4.12 but I haven't tried that yet)  using what I learned about installing older versions of

[2011-12-05 19:14] mdz commented on #485
Similar to #480 that I filed

[2011-12-05 21:30] mdz opened #487 "Twitter friends error: failed to find remaining users"
5 Dec 13:29:01 - info: Synclet locations finished for glatitude
5 Dec 13:29:24 - info: Synclet friends starting for twitter
5 Dec 13:29:32 - info: Synclet recent starting for foursquare
5 Dec 13:29:33 - error: Twitter friends error:  failed to find remaining users
synclet returned an error: "failed to find remaining users"

5 Dec 13:29:33 - info: Synclet friends finished for twitter
5 Dec 13:29:33

[2011-12-05 21:34] quartzjer commented on #487
This is when the twitter api doesn't return all the users, a recent bug on their side. Nothing we can do about it other than complain :/ (I've already sent it to the twitter api team too).

[2011-12-05 21:34] #487 closed, assigned to nobody

[2011-12-05 22:23] othiym23 commented on #485
Trent, what version of Node.js are you running? And what version of CLucene do you have installed?

[2011-12-05 22:29] othiym23 commented on #454
I'm just going by the date shown in the stock HelloPlaces list viewer. If this is the behavior you guys expect, that's fine, but it surprised me, because I was expecting the date of the checkin / photo / whatever.

[2011-12-06 03:45] trentlarson commented on #485
node is v0.4.9
CLucene is harder to determine; I built it from clucene.git.sourceforge.net, which hasn't been changed since May so you may be able to determine from the source; I'm guessing 2.3.3.4 from the CMakeLists.txt file and the highest /usr/local/lib/libclucene... file which is liblucene-shared.2.3.3.4.dylib.

[2011-12-06 17:33] #450 closed, assigned to ctide

[2011-12-06 21:36] indexzero opened #489 "node >= 0.5.4 compat"
- `require.paths` does not exist.
- `sys` is now `util`

[2011-12-06 21:42] quartzjer commented on #467
clucene has been such a pain, very sorry :( As such, it's going away soon, there's a pull request open to replace it with something that will install normally like any other npm module.  Think that will help?

I live in Iowa :)

[2011-12-06 21:51] quartzjer commented on #489
We're actually blocking on https://github.com/nodejitsu/node-http-proxy/issues/159 to get to 0.6, have a nodev0.6 branch w/ all that cleaned up and just waiting :)

[2011-12-06 21:56] indexzero commented on #489
Haha. Ok. I get the hint :-)

[2011-12-07 06:08] merc3po opened #490 "Sign-up button on Singly.com not working"
A dev I let into Singly today let me know that the sign-up button wasn't working. His email is chad@____.__. He fwd-ed me the email that we generated with his invite.

[2011-12-07 17:12] mdz opened #492 "Test failure: dashboard should show a Gritter notification should show a close button when hovering over it"
/home/mdz/.rvm/rubies/ruby-1.8.7-p352/bin/ruby -S rspec ./spec/integration/dashboard_spec.rb
......F

Failures:

  1) dashboard should show a Gritter notification should show a close button when hovering over it
     Failure/Error: page.execute_script(<<"BLORF")
     Selenium::WebDriver::Error::UnhandledError:
       Script execution failed. Script:     socket.$events.viewer({
              type:'

[2011-12-07 17:59] smurthas commented on #490
removed the link as i think it might not expire and obfuscated his email. :).

[2011-12-08 19:48] quartzjer opened #494 "Facebook home synclet always re-crawls"
{"level":"info","message":"processing synclet data from post://facebook/home?id=facebook of length 86","timestamp":"8 Dec 19:45:41"}
{"level":"info","message":"processing synclet data from post://facebook/home?id=facebook of length 568","timestamp":"8 Dec 19:45:33"}
{"level":"info","message":"processing synclet data from post://facebook/home?id=facebook of length 92","timestamp":"8 Dec 19:45:46"}

[2011-12-09 19:54] smurthas opened #495 "Old Twitter data"
Twitter contacts used to pull in the status element for every single friends all the time. We've removed that now, but the old data is still there. We need to write a migration to remove it from the JSON, twitter mongo data, and contacts collection.

[2011-12-09 20:34] quartzjer commented on #495
Why?

On Fri, Dec 9, 2011 at 1:54 PM, Simon Murtha-Smith
reply@reply.github.com
wrote:

[2011-12-10 22:21] No9 commented on #467
Hi I have a pull request with node-clucene that resolves this.

https://github.com/erictj/node-clucene/pull/17

[2011-12-10 23:19] quartzjer commented on #467
Thanks Anton! Related, there's also a pull request that will land soon
that replaces clucene with sqlite-fts, which installs normally via npm
:)
https://github.com/LockerProject/Locker/pull/486

On Sat, Dec 10, 2011 at 4:21 PM, Anton Whalley
reply@reply.github.com
wrote:

[2011-12-12 17:13] mdz opened #496 "First visit to dashboardv3 shows a screenful of JSON"
I saw this last week, but wasn't able to reproduce it. It happened to me again over the weekend and I grabbed a screenshot: http://imgur.com/nfoCX

[2011-12-12 17:42] merc3po opened #497 "add search into leftnav of Account Dashboard experience"
Let's put search functionality (back) into the Account Dashboard experience and keep the behavior and styling that exists now: http://db.tt/cholvoRI

Sorry about that - I must have misread indifference as dismissal. :-P My apologies.

Let's only have search in the leftnav of the Account Dashboard Experience, otherwise people will use it to search for documentation and new apps.

[2011-12-12 21:43] othiym23 commented on #482
Simon was the last person to touch this, so he probably has the best idea of what to do about it.

[2011-12-12 21:46] othiym23 commented on #492
I helped smurthas create this test case in the first place, and I'm explaining the client tests to Singletons, so I'll take this one on.

[2011-12-12 21:48] othiym23 commented on #489
Jer, you're the best person to keep an eye on this, as you're closest to http-proxy right now. This is a priority inasmuch as we know we want to move to 0.6 ASAP.

[2011-12-12 21:52] othiym23 commented on #485
Having Eric take a look at this -- may be Linux-specific.

[2011-12-12 21:54] othiym23 commented on #481
Chris, you wrote this, can you take a look at it?

[2011-12-12 21:57] othiym23 commented on #473
This is going to be addressed by the rewrite, so leaving it with Jer.

[2011-12-12 21:58] othiym23 commented on #470
Simon, you've done the most work on the photos collection -- feel free to pass the potato if you think it doesn't make sense.

[2011-12-12 22:02] quartzjer commented on #489
Yep, last status update is that it's landing next week, excited to move to 0.6!

[2011-12-12 22:02] othiym23 commented on #467
FWIW, zencuke, the Singly dev team is doing all our development work on Macs running Lion. ;)

[2011-12-12 22:08] othiym23 commented on #453
Jer, could you dig into this a little and investigate?

[2011-12-12 22:12] othiym23 commented on #421
Most of this is expected behavior (we try to load favicons by default but don't bother verifying that they exist), but that devdocs error definitely deserves a look-see.

[2011-12-12 22:14] othiym23 commented on #417
This is semi-expected behavior on import and might be addressed by some upcoming changes to the dashboard, but assigning Jer to take a quick look at it.

[2011-12-12 23:27] zencuke commented on #467
I understand. However I suspect that the development team doesn't spend
much time installing on virgin Macs and they probably don't have fink or
MacPorts installed. The various package managers tend to step on each
other.  'brew doctor' complained loudly when I finally ran it. I suspect
that the principal reason the dev team didn't see the clucene install
problem with the new xCode was that they h

[2011-12-13 00:36] merc3po opened #498 "sorting of apps is odd in Dashboard v3"
Hey homie -

There appears to be no logic applied to how the apps are being sorted in the left-nav. It was supposed to be 1. bookmarked (which we took out) and then 2. most recently used apps. This isn't either of those (or the most-recently used sorting isn't working) but it isn't alphabetical either.

Here's an image for reference: https://skitch.com/e-merc3po/gx39a/unsorted

[2011-12-13 00:51] amcjen commented on #498
Weird.  It used to sort by most recently used.

Does it resort correctly to MRU when you refresh the page?

E.

On Monday, December 12, 2011 at 4:36 PM, Merci Victoria Grace wrote:

[2011-12-13 01:18] merc3po commented on #498
Oh yeah it does. When do we trigger page refreshes? Will that only be when I'm switching between YOU, EXPLORE, and CREATE?

[2011-12-13 01:20] smurthas commented on #498
Yes, it's only on refresh. This important to improve, but I think we can push it off for a few weeks

[2011-12-13 01:21] merc3po commented on #498
Roger that. Shall I close this issue and we can make other ones later?

[2011-12-13 01:24] smurthas commented on #470
This is an easy fix to the timeline viewer. I'll fix it this week!

[2011-12-13 01:36] ctide commented on #498
It's on refresh intentionally, having those links move around while you're using them would be obnoxious.  Having them move at all felt really weird to me when I was building with it, so we might want to rethink this ordering plan altogether.

On Dec 12, 2011, at 5:20 PM, Simon Murtha-Smith wrote:

[2011-12-13 01:48] othiym23 commented on #467
I'm sorry you've had such a tough time getting your locker up and running! The project is under active development and we're moving pretty fast, so there are definitely some rough edges.

I do have some comments on some of the issues you've seen:
- Node is an event-driven / asynchronous programming system built on top of Google's V8 Javascript runtime. People tend to use it for web-based systems l

[2011-12-13 03:31] merc3po commented on #498
Yeah this is why bookmarking was part of the original spec. Having the entire list move around probably does feel weird. I think this is good for now. :) I'll close this and we can re-open it later if we want.

[2011-12-13 03:31] #498 closed, assigned to ctide

[2011-12-13 04:42] zencuke commented on #467
Sorry. I should have mentioned that the curl problem has been fixed long
since. In my frustration I was whining about old problems and should have
instead given credit to whoever fixed it. It got fixed immediately after I
posted the issue. Quite a few things that orignally gave me trouble have
been fixed. I'm afraid I was overeacting to your lighthearted comment that
the Singly developers used the

[2011-12-13 13:13] ckemmler commented on #467
Hey, just to cheer things up a bit: I was lucky enough to be able to build and deploy lockerbox yesterday in less than 2 hours :-) I agree though that it was far from a smooth process and that I did require some help (kindly provided by othiym23 on irc) to get everything working.

[2011-12-13 19:56] smurthas commented on #470
This is fixed on both my local machine and my singly account. If you see this on local development, make sure to do:

[code]

[2011-12-13 19:56] #470 closed, assigned to smurthas

[2011-12-13 19:58] smurthas commented on #490
AFAICT, this was a one time incident that had nothing to do with Locker code. Closing - if this happens again it will likely make more sense in relation to one of our hosting platform repos.

[2011-12-13 19:58] #490 closed, assigned to smurthas

[2011-12-13 20:00] smurthas commented on #244
This is fixed as of the merge of pull #475

[2011-12-13 20:00] #244 closed, assigned to smurthas

[2011-12-13 21:01] #494 closed, assigned to quartzjer

[2011-12-13 22:00] ctide opened #499 "publishing things to the registry complains but seems to work"
13 Dec 13:59:50 - info: publishing /development/Locker/Me/github/ctide/prolific_posters/package.json
npm ERR! prepublish Error: undefined log message
npm ERR! prepublish     at log (/development/Locker/node_modules/npm/lib/utils/log.js:112:11)
npm ERR! prepublish     at lifecycle (/development/Locker/node_modules/npm/lib/utils/lifecycle.js:23:3)
npm ERR! prepublish     at /development/Locker/node_

[2011-12-14 00:18] mdz opened #500 "[searchlite] Links query returns no results"
http://localhost:8042/Me/search/reindexForType?type=links

followed by:

http://localhost:8042/Me/search/query?q=matt&type=links

returns no results

[2011-12-14 18:06] ctide opened #501 "Test logging is generating empty files"
When running tests, the locker.log in my test directory stays at 0 bytes, did we start logging somewhere else or is this just broken?

[2011-12-14 18:58] ctide commented on #501
10:57 < temas> ctide:  Logs/locker-tests.out
10:57 < temas> can set console:true in y our config for localspew
10:57 < temas> and set the level

[2011-12-14 18:58] #501 closed, assigned to smurthas

[2011-12-14 22:51] #478 closed, assigned to temas

[2011-12-15 01:26] ctide opened #503 "Applications from your github should be installed automatically"
They should show up in the list of apps on the left instead of just being added to the available list

[2011-12-15 01:37] ctide commented on #497
We should probably rethink this a bit, it doesn't work especially well there.  Maybe as another app or something, I don't really know.  I did some preliminary work and tossed it in the search branch.  It doesn't really work since there's a ton more code we'd have to convert over from the old dashboard to get it totally functional, but at least you can play around with how it looks and feels there.

[2011-12-15 01:37] ctide commented on #497
https://github.com/LockerProject/Locker/tree/search

[2011-12-15 03:28] merc3po commented on #371
+1

[2011-12-15 17:46] merc3po commented on #497
Okay how about this? http://db.tt/7nGImV9B

[2011-12-15 17:47] merc3po commented on #497
I used the same styling as the "See all" page so hopefully it's easier to implement and will also be more consistent with the new experience.

[2011-12-15 21:36] mdz opened #504 "[searchlite] Empty response when attempting to reindex"
tutti:[~/scratch/lockerbox/Locker] curl 'http://localhost:8042/Me/search/reindexForType?type=links'
...long delay...
curl: (52) Empty reply from server

15 Dec 13:32:39 - verbose: Normal proxy of /Me/search/reindexForType?type=links
15 Dec 13:32:39 - verbose: proxying GET /Me/search/reindexForType?type=links to http://localhost:18043//reindexForType?type=links
15 Dec 13:32:39 - verbose: Proxy comp

[2011-12-15 21:51] smurthas opened #505 ""view code on github" links to the wrong place"
It's just linking back to lockerproject/locker in many cases: http://bit.ly/u0z0R0

[2011-12-15 21:59] #505 closed, assigned to ctide

[2011-12-15 21:59] ctide commented on #505
That fix won't fix anything existing, btw, we'd need to write a migration to rescrape them to get existing ones functional

[2011-12-15 22:01] smurthas commented on #505
Seem like the migration should be part of this. Otherwise create a new issue for the migration?

[2011-12-15 22:05] ctide commented on #505
If you feel like it's necessary, then yeah, I'd create a new issue.  I'm not even sure how I'd even go about that migration, short of just deleting people's connected Githubs and forcing them to reconnect.  All the singly provided viewers have correct links, the only incorrect ones are ones that were pulled in via github.

On Dec 15, 2011, at 2:01 PM, Simon Murtha-Smith wrote:

[2011-12-15 22:09] smurthas opened #506 "github repos synclet doesn't remove deleted files"
When a file or directory gets removed from the remote repo, it should be removed from the local directory.

As a point of discussion, doing all of this manually (via the raw API) instead of just using git feels strange. We will keep running into these sorts of strange things as well as constantly hitting the API limits.

[2011-12-16 00:21] #500 closed, assigned to quartzjer

[2011-12-16 00:22] quartzjer commented on #504
re-open this if you can reproduce it now, should be fixed :)

[2011-12-16 00:22] #504 closed, assigned to quartzjer

[2011-12-16 17:46] mdz commented on #504
working now with 98c08b5a3840b5146a8ce20ab659bcf4862f1eeb

[2011-12-18 23:58] smurthas opened #508 "Synclet running multiple times in a row"
Sometimes a synclet will run multiple times, one right after another. The following is an example where it ran twice in a row, but I have seen it run as much as 5 times, once right after another.

[code]

Very likely this is happening in production and blowing through rate limits.

[2011-12-19 00:00] smurthas opened #509 "Photos unhandled feed/instagram"
I get this error stream every time I connect Instagram:

[code]

The photos still end up in the photos collection, so it might just be incorrect logging.

[2011-12-19 00:07] smurthas commented on #508
here we go:

[code]

[2011-12-19 14:16] zencuke commented on #467
I'm home for the holidays so I finally had time to try again. I again deleted lockerbox and started from the beginning (curl url | bash.). It worked this time including the build of CLucene. Thanks for the help. It is not clear how much of my trouble was preexisting conditions on my Mac that I needed to fix first and how much was fixed by cleanup of the lockerbox install process but either way tha

[2011-12-19 21:48] zencuke opened #511 "Can't connect to any services. Authentication fails."
I attempted to connect to facebook, twitter and github. All failed to authenticate. I asked for help on #lockerProject and temas
got me past some simple misunderstandings but authentication still failed. The first gist is a dump of the stdout of ./locker. The second is the irc thread so you can see what temas has already walked me through plus some possible relevant background.

gist.github.com/14

[2011-12-19 21:52] zencuke commented on #511
I forgot to mention. The log has two errors in it. node failure to open clucene library (twice) gthen

19 Dec 12:24:30 - error: Failed to auth github - {"error":"Couldn't authenticate you"}
19 Dec 12:24:37 - info: delaying quiesce for useui
19 Dec 12:24:45 - error: Failed to auth github - {"error":"Couldn't authenticate you"}
19 Dec 12:25:02 - error: { stack: [Getter/Setter],

There are quite a fe

[2011-12-19 22:46] #320 closed, assigned to temas

[2011-12-19 22:46] #473 closed, assigned to quartzjer

[2011-12-20 00:11] mdz opened #512 "Multiple processes write to the log file"
Only core should write to the log, to avoid log messages being corrupted

[2011-12-20 00:18] smurthas commented on #503
this was fixed in https://github.com/LockerProject/Locker/commit/3723b62380063123401813238e8174db8c12a711

[2011-12-20 00:18] #503 closed, assigned to ctide

[2011-12-20 01:03] smurthas commented on #474
This makes it hard to run tests fairly often - making a priority (I'd imagine it will also cause CI to fail)

[2011-12-20 01:56] othiym23 opened #513 "author history for app submission doesn't ______ work."
See title.

Click button, wait to collect bacon. No bacon comes. Sad... no bacon.

[2011-12-20 06:54] infobeans opened #514 "API Rate limit exceeded for..."
We are getting multiple issues from Mac when trying to commit/push changes.
issue #1) API Rate limit exceeded for...
issue #2) Missing repository

Please help

[2011-12-20 07:37] quartzjer commented on #514
Could you provide some more detail or a sample of the log output? Thanks!

On Dec 19, 2011, at 10:54 PM, infobeansreply@reply.github.com wrote:

[2011-12-20 08:10] infobeans commented on #514
Hi Jeremie,

Thanks for the quick response.

After logging the issue, we were able to resolve it from our end and it is not working fine.

Thanks again

Regards,
Jeevan Sharma

On Dec 20, 2011, at 1:07 PM, Jeremie Miller wrote:

[2011-12-20 15:47] quartzjer commented on #514
Glad it's working, let me know if I can do anything to help, and feel free to join on IRC in #lockerproject on freenode anytime!

[2011-12-20 15:47] #514 closed, assigned to nobody

[2011-12-20 16:34] quartzjer opened #515 "non-idle services quiesced"
It appears that even though http requests to collections are happening, they quiesce after the default timeout.

[2011-12-20 18:29] ctide commented on #513
We are currently all out of bacon!

[2011-12-21 04:04] #515 closed, assigned to quartzjer

[2011-12-21 08:04] zencuke commented on #467
Actually it didn't work. The build passed which I suppose technically closes this issue however although ./Iocker launched but nothing authenticates. I've tried twitter, facebook and github each with a different failure mode. I just clicked on the twitter icon and got:

21 Dec 02:52:14 - warn: Could not find Apps/HelloPlaces/img/viewer-icon.png
21 Dec 02:52:14 - warn: Could not find Apps/Foursquar

[2011-12-21 15:59] quartzjer commented on #467
This error is a failed authentication from twitter, ping me direct via IRC and I'll help you take a look at your oauth keys, it's probably a callback url mismatch (oauth makes it difficult or impossible to debug what went wrong sometimes).

[2011-12-21 16:01] quartzjer commented on #511
I'm going to close #467 and mark it as a duplicate of this one, so we can work through the issue on a new thread here.  As I mentioned in the other issue, ping me direct and I'll send you some test keys to try, thanks!

[2011-12-21 16:02] quartzjer commented on #467
Moving this to #511

[2011-12-21 16:02] #467 closed, assigned to quartzjer

[2011-12-21 16:32] temas opened #517 "No apikeys setup leaves locker useless"
You should be able to explore other parts of the locker or write a push app still if apikeys is not setup.

[2011-12-21 18:15] temas opened #518 "create#publish rename box is radio not check"
The button to choose to rename your app should be a checkbox and not a radio button on the create#publish page of dashboardv3

[2011-12-21 18:17] ctide commented on #518
It is a checkbox styled like a radio button to match the design.

[2011-12-21 18:27] smurthas commented on #517
The synclet reorg pull improves this by exiting with a useful error message, but I agree the longer term solution is to be able to run without it.

https://github.com/LockerProject/Locker/pull/510/files#diff-29

[2011-12-21 19:59] ctide opened #519 "Github repos synclet is broken"
21 Dec 11:43:10 - info: processing synclet data from profile://github/profile?id=github of length 1
21 Dec 11:43:15 - error: Github repos error:

21 Dec 11:43:15 - error: Github repos error:    buffer.js:156

21 Dec 11:43:15 - error: Github repos error:            throw new Error('First argument needs to be a number, ' +

21 Dec 11:43:15 - error: Github repos error:                  ^

21 Dec 11:4

[2011-12-21 21:08] #519 closed, assigned to nobody

[2011-12-22 20:51] smurthas opened #520 "Contacts collection hard codes path to gcontacts photos"
It hard codes them as gcontacts, when they could actually be from gcontacts-1, -2, etc.

This will become a serious concern when we enable auth-ing of multiple accounts, for now it only affects my poor locker. :(

[2011-12-23 20:42] quartzjer commented on #508
This might be fixed w/ the tolerance stuff, as it changes the logic around this (tho wasn't specifically trying to address this issue)

[2011-12-29 23:26] #508 closed, assigned to nobody

[2011-12-30 00:07] quartzjer commented on #479
I've been picking away at this in connector directories where there's mixed old and new code, but I'm not super comfortable yet removing all the older connectors entirely, just fyi, making progress!

[2011-12-30 00:37] merc3po opened #522 "Pull avatar from either Twitter or Facebook"
Currently we only pull the avatar in UI Dashboard v.3 from Facebook. Let's enable either Twitter OR Facebook, since we're allowing the account holder to begin with either service.

[2011-12-30 10:44] quartzjer opened #524 "odd looping w/ synclet, config, nextRun?"
The BodyMedia _day synclets will loop on the last item, somehow growing the config.queue array with the last date.  This seems to be something odd with how extends() is used to merge an empty array into one with a single element maybe? And why is it run immediately again, is nextRun stuck somehow too?

[2012-01-02 21:08] smurthas opened #526 "unhandled feed/instagram"
photos collection can't handle feed/instagram. I believe this intentional, in which case it shouldn't be an error message.

[2012-01-02 21:10] smurthas opened #527 "places collection is too verbose about logging instagrams without a location"
[code]

probably just a warning. It should only be an error if the data format is invalid.

[2012-01-02 21:11] smurthas commented on #371
There are some stranded accounts on Singly production that have bad gcontacts auths. These need to be forced to re-auth when this is fixed.

[2012-01-02 21:15] smurthas opened #528 "Don't parse stdin from a synclet if it is killed"
Should never see these two errors together:

[code]

[2012-01-02 21:17] smurthas opened #529 "Errors parsing synclet output should log more clearly"
This sux:

[code]

[2012-01-02 21:48] smurthas commented on #372
This will be replaced.

[2012-01-02 21:48] #372 closed, assigned to smurthas

[2012-01-04 00:34] #481 closed, assigned to ctide

[2012-01-04 00:34] ctide commented on #469
fixed in new UI

[2012-01-04 00:34] #469 closed, assigned to ctide

[2012-01-04 00:41] #526 closed, assigned to quartzjer

[2012-01-04 00:43] #527 closed, assigned to quartzjer

[2012-01-04 00:49] ctide commented on #247
fixed in new UI

[2012-01-04 00:49] #247 closed, assigned to ctide

[2012-01-04 00:50] ctide commented on #461
fixed in new UI

[2012-01-04 00:50] #461 closed, assigned to ctide

[2012-01-04 00:50] ctide commented on #452
fixed in new UI

[2012-01-04 00:50] #452 closed, assigned to ctide

[2012-01-04 00:50] ctide commented on #446
fixed in new UI

[2012-01-04 00:50] #446 closed, assigned to ctide

[2012-01-04 00:50] ctide commented on #284
fixed in new UI

[2012-01-04 00:50] #284 closed, assigned to ctide

[2012-01-04 01:00] #522 closed, assigned to ctide

[2012-01-04 01:11] ctide commented on #509
Dupe of #526

[2012-01-04 01:11] #509 closed, assigned to nobody

[2012-01-04 01:12] ctide commented on #492
This test got blown away

[2012-01-04 01:12] #492 closed, assigned to othiym23

[2012-01-04 01:19] #528 closed, assigned to nobody

[2012-01-04 01:25] temas opened #532 "atomicWriteFileSync is misnamed"
If there is an exception or other error the function does not return the .bkp file to the original name, leaving the systme in a broken state.

[2012-01-04 01:25] #529 closed, assigned to nobody

[2012-01-04 02:10] mdz commented on #532
Fixed in 8056d7842fb3cf881ff2b40ec630bcefaa1cb695

[2012-01-04 02:10] #532 closed, assigned to mdz

[2012-01-06 02:07] temas opened #534 "The service map should consist of a single service entry"
![The Whiteboard](http://dl.dropbox.com/u/1362507/Singly/Photo%20Jan%2005%2C%206%2003%2004%20PM.jpg)

Above is the whiteboard that resulted from an entire conversation that spun up due to the service map becoming polluted once again.

The core system has evolved for addressing and installation of services, at least three times, over the course of the core development, but remnants of each design c

[2012-01-06 03:14] temas commented on #534
@quartzjer @smurthas @erictj @othiym23 @mdz

Let me know what else you'd like me to expand upon from our conversations.

[2012-01-06 03:27] quartzjer commented on #534
+1!

[2012-01-06 09:22] othiym23 commented on #534
If it's not too huge a pain, it would be educational to have a sequence diagram / narrative description of how the locker goes about resolving available / installed services before / after making this change. In general, though, this seems like the right way to do it and now is totally the time to break all the things.

+1

[2012-01-07 17:30] temas commented on #534
Some thoughts from my flight home

# Service Map Overhaul

## Required Data

These are not exhaustive, just first musings.
- In the map
  - provides
  - uses
  - static
  - accounts
  - handle
  - version
- In the repository
  - screenshot / icon

## TODOs
- Fix areas that use the available list:
  - File list in sm-TODO.md in repo
- Check everything that uses provides
  - File list in sm-TODO.md

[2012-01-09 04:16] temas commented on #534
The migration for this needs to make sure that it does:
- merge manifest files and rewrite me.json with all fields
- iterate the installed me.json files and use that to npm install the correct modules.

[2012-01-09 23:23] temas commented on #534
The imthemap branch is almost there.  Bit more testing and hopefully tonight it will be pushed for review.

[2012-01-10 01:48] othiym23 opened #537 "Per-synclet config isn't."
When paginating, much use is made of the config object, which allows the setting of a next runtime as well as tracking the current state of pagination. Right now, there is one of these config objects per me.json wad, which means that it's, to quote @smurthas, bad news bears if there's more than one paginating synclet running at the same time.

[2012-01-10 04:19] quartzjer commented on #537
There's a bit of undocumented magic being unearthed here, which is good to uncover :)

As long as each synclet uses their own namespace within config (config.mysynclet.page), they are all good, and they can't overrun each other because they're changes are merged:
         info.config = lutil.extend(true, info.config, response.config);

Also, some synclets use config to talk to each other, like the

[2012-01-10 18:11] quartzjer opened #538 "when new service (app/connector) events fire they should show up in the new ui"
dashboardv3 should receive those events and update the ui

[2012-01-10 19:46] temas opened #539 "Log output is lost on process.exit()"
There's a potential that some logs are getting to stdout but not to the file log when enabled.  This needs to be investigated, and is possibly at the winston level.

[2012-01-10 20:33] quartzjer commented on #534
Also a known issue, until there's a new built-in migration framework, any needed migrations will have to be external / one-off ones (like Ops/me2me.js).

[2012-01-10 23:23] mdz commented on #539
The following test code shows that if process.exit() is called, log output may be lost. In this case, it doesn't even create the file(!). Commenting out process.exit makes it work properly.

var winston = require('winston');

var logger = new (winston.Logger)({
  transports: [
    new (winston.transports.File)({'filename': '/tmp/test.log'})
  ]});

logger.info('test');
process.exit(1);

[2012-01-10 23:33] mdz commented on #539
https://github.com/flatiron/winston/issues/15

[2012-01-11 21:00] ctide commented on #496
I'm going to close this as either some sort of local anomaly, or something weird on your machine.  Reopen if you ever see it again!

[2012-01-11 21:00] #496 closed, assigned to ctide

[2012-01-11 21:11] #460 closed, assigned to ctide

[2012-01-11 21:12] ctide commented on #392
Fixed in new ui

[2012-01-11 21:12] #392 closed, assigned to ctide

[2012-01-11 21:17] ctide commented on #257
This has to be done individually on everyone's machine, there's no way to push one out automatically as far as I can tell.

Creating a file 'pre-commit' in the .git/hooks directory under your repo that looks like this:

http://snipplr.com/view.php?codeview&id=28523

Will do it.

[2012-01-11 21:17] #257 closed, assigned to ctide

[2012-01-11 21:44] quartzjer commented on #537
Stale config data from another synclet can get re-extened back in, doh!

Possible option, run one synclet at a time per connector, serialize them, possibly safer overall.

[2012-01-11 23:29] mdz commented on #496
Boooooo

[2012-01-12 02:43] mdz commented on #539
The combination of these two commits should help a bit, but there are still other places where we process.exit() which probably need to be audited.

commit 0f0b8751409f42c5324c364e98ffefd20ae3e249
Author: Matt Zimmerman mdz@singly.com
Date:   Wed Jan 11 18:42:09 2012 -0800

[code]

commit 50d0e9033b8e357b79fb1f1ca3aacee1385c4e30
Author: Matt Zimmerman mdz@singly.com
Date:   Wed Jan 11 18:08:34 201

[2012-01-12 03:49] mdz opened #542 "If a static file is not accessible due to permissions, the request hangs"
This is sub-optimal, especially for debugging!

[2012-01-13 00:00] mdz opened #543 "After merging imthemap, some apps appear as 'undefined' and don't work"
They seem to be the ones which were previously "installed' from Github.

[2012-01-13 00:02] mdz commented on #543
Clicking on them yields:

TypeError: Cannot read property 'length' of undefined
    at Object.urlParse [as parse](url.js:94:27)
    at proxied (/home/mdz/src/singly/Locker/Ops/webservice.js:466:17)
    at /home/mdz/src/singly/Locker/Ops/webservice.js:275:17
    at Object.spawn (/home/mdz/src/singly/Locker/Common/node/lservicemanager.js:231:16)
    at proxyRequest (/home/mdz/src/singly/Locker/Ops/w

[2012-01-13 01:26] mdz commented on #542
This error gets logged on the console:

[contactsviewer]
[contactsviewer] stream.js:99
[contactsviewer]       throw er; // Unhandled stream error in pipe.
[contactsviewer]       [contactsviewer] ^
[contactsviewer] Error: EACCES, Permission denied '/home/mdz/scratch/locker/Me/node_modules/contactsviewer/static/test.html'
12 Jan 17:25:32 - info: contactsviewer exited with status 1, signal null

but

[2012-01-13 02:44] mdz opened #544 "Contacts not merged when they should have been"
I ended up with two "Simon Murtha-Smith"s. Simon saw it!

/Me/contacts/update fixed it.

[2012-01-13 03:02] quartzjer opened #545 "profile handling per connector is inconsistent"
There's a few needs for having the profile information per connected service really handy, both for synclets that depend on some of those bits, and for collections to know who "me" is.  It would also be great to someday validate auth tokens after connecting.

My proposal is to have the first synclet in the array of them in the manifest be responsible for returning an auth.profile = {...} (which ge

[2012-01-13 03:08] mdz opened #546 "Broken images for contacts"
Browsing in Merged Contacts Viewer, I see broken images, which are references to things like https://me.lvh.me:8443/synclets/gcontacts/getPhoto/f1b585b882b73b0, which are 404.

Also, the permissions are weird:

tutti:[.../Locker/Me/gcontacts/photos] ls -l
total 260
-rw-rw-rw- 1 mdz mdz  4434 2012-01-12 16:23 1a03d39289fc1a01.jpg
-rw-rw-rw- 1 mdz mdz  3041 2012-01-12 16:23 1fd2c14e0d6a2e5d.jpg
-rw-

[2012-01-13 03:11] mdz opened #547 "gcontact photo PNG stored as .jpg"
tutti:[.../Locker/Me/gcontacts/photos] file *
1a03d39289fc1a01.jpg: JPEG image data, JFIF standard 1.01
1fd2c14e0d6a2e5d.jpg: JPEG image data, JFIF standard 1.01
27e684cb087bb379.jpg: JPEG image data, JFIF standard 1.01
2ae79ae608613625.jpg: JPEG image data, JFIF standard 1.01
2c8fc920e6a6333.jpg:  JPEG image data, JFIF standard 1.01
33e9c61688ad948a.jpg: JPEG image data, JFIF standard 1.01
342e6f

[2012-01-13 04:50] #537 closed, assigned to quartzjer

[2012-01-13 09:10] #545 closed, assigned to quartzjer

[2012-01-13 17:25] merc3po opened #549 ""Explore more apps" on YOU doesn't link to the right section"
Right now the link just goes to the same page, just making sure that it will get all linked together so I'm making an issue: https://skitch.com/e-merc3po/g2y76/exploremoreapps

[2012-01-13 17:27] merc3po opened #550 ""App Gallery" breadcrumb is wonky"
The text is pretty far away from where it should be: https://skitch.com/e-merc3po/g2mnb/app-gallery-breadcrumb-is-wonky

[2012-01-15 22:33] smurthas commented on #544
I don't imagine I'll figure this out right away, so if anyone else sees this sort of thing happen, send me a message with the two (or more!) unmerged objects - that will help!

[2012-01-16 00:13] smurthas opened #551 "unhandled recents/foursquare in photos collection"
For now, since we don't process others photos, we should just call doNothing. Will be fixed after the imthemap merge.

[2012-01-16 17:17] temas opened #554 "All Collections should use IDRS"
All the collections need to be checked again to use IDRs instead of full previous object references.

[2012-01-16 17:18] temas commented on #543
I believe this is fixed now, but will be verified after the imthmap merge as it's part of the immediately next dashboard story.

[2012-01-16 21:21] othiym23 opened #556 "sad Linkalatte"
No links display, and this shows up in the Safari (but not Chrome, which gives a terser, less useful error message) console:

TypeError: 'undefined' is not an object (evaluating 'arg.item.encounters[arg.item.encounters.length - 1].from') [allAlone.js:223]

[2012-01-16 21:32] quartzjer commented on #556
I can add extra error checking to make sure it doesn't die when it
hits this case, but could you also provide a gist of the full json
it's trying to load? (look in the dev tools for the full resource
url?)

On Mon, Jan 16, 2012 at 3:21 PM, Forrest L Norvell
reply@reply.github.com
wrote:

[2012-01-17 00:49] othiym23 commented on #556
That would have been an excellent thing to do, but the problem was occurring before about 80 different deployments, migrations, and replacements of our proxy server, so the problem's fixed itself now. We know that somewhere there's a link in my links collection without an encounter, though, maybe? Is there any way I can search MongoDB for the bad link?

[2012-01-17 01:02] mdz opened #560 "Something is logging lots of raw JSON"
e.g.:

{"level":"info","message":{"0":105,"1":110,"2":115,"3":116,"4":97,"5":108,"6":10
8,"7":105,"8":110,"9":103,"10":32,"11":102,"12":114,"13":111,"14":109,"15":32,"1
6":114,"17":101,"18":103,"19":105,"20":115,"21":116,"22":114,"23":121,"24":32,"25":100,"26":97,"27":115,"28":104,"29":98,"30":111,"31":97,"32":114,"33":100,"34":118,"35":51,"36":10,"length":37,"parent":{"0":84,"1":117,"2":101,"3":3

[2012-01-17 01:15] merc3po opened #561 "Remove FB + Twitter buttons from app gallery"
Let's take out the "Share to Twitter" and "Share to Facebook" buttons since we're not going to do that project yet: https://skitch.com/e-merc3po/g3eie/remove-sharing

[2012-01-17 01:42] mdz opened #562 "me2me silently hangs forever if DNS resolution fails"
Reproduced locally in a VM

[2012-01-17 01:42] mdz commented on #562
It seems likely that other operations may show the same behavior, but this is the only case I've confirmed so far

[2012-01-17 02:10] quartzjer commented on #562
This is likely not just a me2me problem, but a problem with any
registry install, and with npm commands in general?

On Mon, Jan 16, 2012 at 7:42 PM, Matt Zimmerman
reply@reply.github.com
wrote:

[2012-01-17 02:11] quartzjer commented on #560
raw buffer objects it looks like, do you ahve any context before/after handy?

On Mon, Jan 16, 2012 at 7:02 PM, Matt Zimmerman
reply@reply.github.com
wrote:

[2012-01-17 02:16] quartzjer commented on #556
Yeah probably, but my mongo fu isn't good enough to figure it out,
what would be in the links collection but not in the encounters one :/

On Mon, Jan 16, 2012 at 6:49 PM, Forrest L Norvell
reply@reply.github.com
wrote:

[2012-01-17 02:54] othiym23 commented on #556
It's time for me to get better with Mongo querying, so I'll see what I can come up with.

[2012-01-17 17:25] mdz opened #563 "failed to install <foo>: Error: EPERM, Operation not permitted '/var/locker/Me/.npm/<foo>/<version>/package.tgz'"
This seems to be non-fatal, but is nonetheless unexplained

[2012-01-17 17:28] mdz commented on #563
Maybe related: https://github.com/isaacs/npm/issues/1895

[2012-01-17 17:59] mdz commented on #560
Fixed by 955caea805aa73a390181c5db9c4ece3d5d65dd3

[2012-01-17 17:59] #560 closed, assigned to temas

[2012-01-17 18:07] mdz opened #564 "Log timestamps are missing the year"
Probably a winston problem.

{"level":"verbose","message":"tolerance now at 1 synclet tweets for twitter","timestamp":"16 Jan 14:34:12"}

[2012-01-17 18:16] quartzjer opened #565 "global migrations run on new locker creation"
when creating a new locker or Me dir, global migrations try to run and prob shouldn't

[2012-01-17 18:42] smurthas commented on #565
*definitely shouldn't

[2012-01-17 19:26] temas commented on #564
Timezone is unclear and assumed to be system as well.

[2012-01-17 20:49] mdz opened #566 "warning: ClientCursor::yield can't unlock b/c of recursive lock ns: locker.alinks_queue"
Seeing this many times repeated in a hosted account. @smurthas  says he has seen it locally too.

[2012-01-17 21:09] smurthas commented on #566
here is my gist when it happened to me last wk: https://gist.github.com/9d853f6420458db2790e

[2012-01-17 21:16] mdz opened #567 "Shutdown messages are missing from Logs/locker.log"
A normal shutdown looks like this, on the console:

17 Jan 13:15:21 - info: Shutting down...
17 Jan 13:15:21 - info: Signalling search to shut down (pid 4232)
17 Jan 13:15:21 - info: Signalling links to shut down (pid 4236)
17 Jan 13:15:21 - info: Waiting for search to exit.
17 Jan 13:15:21 - info: [mongo] Tue Jan 17 13:15:21 [conn3] end connection 127.0.0.1:37608
17 Jan 13:15:21 - info: [mongo] T

[2012-01-17 21:27] quartzjer commented on #567
Is this fixable, if winston isn't finished flushing before the process exit? Add a short timer (ick!), or does winston have a way to force a flush or wait for a callback when it's done?

[2012-01-17 21:49] mdz commented on #567
This code is supposed to wait until it's flushed the message: https://github.com/LockerProject/Locker/blob/master/_lockerd.js#L214

I wrote it based on https://github.com/flatiron/winston/issues/15

[2012-01-18 02:07] smurthas opened #568 "Top right header doesn't work in dashboardv3"
Doesn't show the "Accounts Settings | Sign Out", etc links

[2012-01-18 02:09] #568 closed, assigned to othiym23

[2012-01-18 02:10] smurthas commented on #534
This is done with imthemap merged in

[2012-01-18 02:10] #534 closed, assigned to temas

[2012-01-18 02:30] othiym23 opened #569 "lconfig loading is dumb"
We should be passing the config object into the services directly to prevent bugs like issue #568 when we do simple refactorings.

[2012-01-18 02:31] smurthas commented on #556
The issue there is the links and encounters are "SQL-style" (i.e. two diff collections) instead of "Mongo-stlye" (embeds) so you'd have to loop through all of the links and query to encounters to find the missing one, there isn't a magical join that would tell you.

[2012-01-18 02:31] smurthas commented on #569
I am so all over this.

[2012-01-18 09:01] quartzjer commented on #569
+1! and the dependency mesh in Common/node with lconfig and logger is uncomfortable also.

On Jan 17, 2012, at 8:30 PM, Forrest L Norvellreply@reply.github.com wrote:

[2012-01-18 12:30] quartzjer opened #570 "offline (no dns) causes shutdown"
18 Jan 04:47:55 - info: total of 0+0+0 and threshold 50 so setting tolerance to 2
18 Jan 04:50:10 - info: registry update from http://registry.singly.com/-/all/since?stale=update_after&startkey=1326829502282
18 Jan 04:50:10 - error: { stack: [Getter/Setter],
  arguments: undefined,
  type: undefined,
  message: 'ECONNREFUSED, Could not contact DNS servers',
  errno: 11,
  code: 'ECONNREFUSED' }
18

[2012-01-18 17:57] smurthas opened #571 "Stlye of dashboardv3 is out of date"
Changes need to be pull in to spacing, borders and a few other things.

Remove border under the header: http://bit.ly/AAJJjS
Add spacing to header and left nav: http://bit.ly/xEuU1p vs http://bit.ly/A7ouVf
Add gradient to app cards (large and small): http://bit.ly/xOKv0G --> http://bit.ly/zQuNGp

[2012-01-18 18:10] smurthas opened #572 "When first starting locker, thing aren't available"
http is open on 8042, but there is a bunch of stuff that isn't around yet.

http://bit.ly/wXfZvP

http://bit.ly/w7YAUS

[2012-01-18 18:11] smurthas opened #573 "FitBit needs an icon"
http://bit.ly/wyBfKf

[2012-01-18 18:14] smurthas opened #574 "Explore page filtering should be ANDing, not ORing"
This should only be showing things that use both links and photos: http://bit.ly/zTbsit

[2012-01-18 18:16] smurthas opened #575 "It's very hard to tell which services are connected"
They used to and are supposed to

http://bit.ly/x2O8c5

_UPDATE:_ See below for new mock.

[2012-01-18 18:18] smurthas opened #576 "App cards show "Connect" links for services that are already connected"
http://bit.ly/zUhwzq

[2012-01-18 18:19] smurthas opened #577 "App card connect links are broken"
all link to /dashboard/undefined

http://bit.ly/zUhwzq

[2012-01-18 18:21] smurthas opened #578 "Filter-able services list is incomplete"
Should show all valid services for which there is an api key available (can be connected).

http://bit.ly/wF2NkF

[2012-01-18 18:29] smurthas opened #579 "Incorrect click behavior on app cards"
Clicking anywhere to the right of the author's name (nowhere near the link) goes to the page showing all of the their apps. Should just open the details page.

[2012-01-18 18:30] smurthas opened #580 "Remove version from detailed app card page"
versions are so Firefox.

[2012-01-18 18:31] smurthas opened #581 "Convert last updated to relative date and un-bold"
Should just be regular font-weight.

http://bit.ly/yDXpCZ --> http://bit.ly/yHwFkn
moment.js FTW

[2012-01-18 18:34] smurthas opened #582 "App title should be bold"
only in app detail view

[2012-01-18 18:47] smurthas opened #583 "Should upload multiple size screenshots to registry"
Loading the full size one for each of 10+ apps shown is slooooow.

[2012-01-18 18:49] smurthas opened #584 "Put varnish in front of https://burrow.singly.com"
The registry is slow right now, this might help.

For now probably a low priority.

[2012-01-18 18:49] smurthas opened #585 "Lazy loading of app cards"
Right now there are only a few apps, but once that number grows past about 12 or 15, it will get unwieldy and they will need to be lazy loaded.

[2012-01-18 18:59] quartzjer opened #586 "dashboardv3 should use connector icons from registry"
every connector should have it's official icon.png in the registry and that should be used by dashboardv3.  The Ops/registry.js should cache and serve these locally...

[2012-01-18 19:19] merc3po commented on #585
We're not paginating them - we're going to do lazy loading ala Pinterest.

[2012-01-18 19:25] smurthas commented on #585
updated

[2012-01-18 22:06] smurthas commented on #573
done!

[2012-01-18 22:06] #573 closed, assigned to nobody

[2012-01-18 23:29] #550 closed, assigned to smurthas

[2012-01-18 23:31] smurthas commented on #571
This is fixed.

[2012-01-18 23:31] #571 closed, assigned to smurthas

[2012-01-18 23:32] smurthas commented on #582
done!

[2012-01-18 23:32] #582 closed, assigned to nobody

[2012-01-18 23:41] #579 closed, assigned to nobody

[2012-01-18 23:55] smurthas opened #587 "Service overload"
When an app uses a bunch of services, they don't all fit on the app card: http://bit.ly/wc4H0K

@merc3po, assigning you as we will need a mockup. Once that's don't someone can implement.

[2012-01-19 00:04] smurthas opened #588 "Last updated date is funky"
http://bit.ly/x6j9Rm

Month is 0 (jan?), and the repo hasn't been update in months, definitely not today.

[2012-01-19 00:06] smurthas opened #589 "Authorship history doesn't do anything"
Should it? Might not be worth it for now. Either way, it needs to be fixed of removed.

[2012-01-19 00:07] smurthas commented on #580
this is fixed.

[2012-01-19 00:07] #580 closed, assigned to nobody

[2012-01-19 00:14] merc3po commented on #589
Let's move this to LOGO. The team expressed a desire to show authorship history but it looks like we're not getting that from Github right now, so let's remove it from MEGA. :)

[2012-01-19 00:15] smurthas commented on #589
Ok, I'll remove the code for now and move this issues to LOGO.

[2012-01-19 00:25] smurthas commented on #574
Also, it should only allow services or types to be the filter criteria, not both.

[2012-01-19 00:38] merc3po commented on #587
Let's use small icons here, since we're teaching people to click them to connect services anyway. These icons are 16x16.

https://skitch.com/e-merc3po/g36ih/16x16-icons-appreg

[2012-01-19 03:16] mdz commented on #572
@temas  said this would be fixed by making dashboardv3 mandatory in config.json

[2012-01-19 03:18] mdz commented on #575
As long as we're here, I think the highlight is too subtle for indicating what's connected. I feel like maybe a checkmark over the icon would be clearer, or maybe even two lists (connected and available). @merc3po ?

[2012-01-19 17:45] merc3po commented on #575
This is the original spec, which is clearer than the implementation: <img src="https://img.skitch.com/20120119-mj54x3nmedf5mbx5yfi9g9yhe2.jpg">

However I think that this is a better solution: <img src="https://img.skitch.com/20120119-g5yftwyxpjsut529w7jrt6umgn.jpg">

[2012-01-19 18:06] mdz commented on #575
+1 on "connect more"

[2012-01-19 18:08] smurthas commented on #575
I like the second one as well, I think it would be clearer to say "CONNECTED SERVICES" rather than "YOUR SERVICES".

[2012-01-19 18:15] smurthas commented on #572
That will only solve the first issue. The second one is still there in that is looks for the contactsviewer app by default if none is selected, but it's not there. We will need some sort of page to handle the case where the person hasn't added any apps yet, or hasn't connected services. Let's revisit this after the New Account Exp work lands.

[2012-01-19 18:17] smurthas commented on #587
That looks awesome! That should get us father along.

[2012-01-19 18:17] mdz commented on #575
Maybe "already connected" and "connect more"?

[2012-01-19 20:29] mdz commented on #572
Agreed. I was thinking maybe a "welcome" app that's mandatory comes up as the default. Maybe the setup experience already has that?

cc @erictj

[2012-01-19 20:52] merc3po commented on #575
Let's just say "Connected" and "Connect More"

<img src="https://img.skitch.com/20120119-pxyu95bxerh1gdw1kdwdyarxxt.jpg">

[2012-01-19 22:06] merc3po opened #590 "Consistent spacing across pages"
Let's apply consistent spacing across the pages. Here is a visual guide for the spacing between the sections:

<img src="https://img.skitch.com/20120119-crmmb2m2fwcr1gyt416g48qjb2.jpg">

[2012-01-19 22:17] merc3po opened #591 "Text for "Our Mission" section"
Here is the straight-up text:

Singly exists for you.

We’re on a mission to empower individuals and developers by breaking down barriers that limit personalization and creative expansion of the web. To allow people to see, share, understand--and most importantly, own--their stories.

How?

Singly is an open personal data platform that delivers truly personalized computing. We’re building an ecosy

[2012-01-19 22:45] merc3po opened #592 "Add IRC details as a page in CREATE section"
Linked from the Integral issue, should be present in both versions of the site: https://github.com/Singly/integral/issues/126

[2012-01-20 00:17] mdz commented on #575
I thought it might be more visually distinct if they didn't both start with
"Connect", but it's your call.

On Thu, Jan 19, 2012 at 12:52:15PM -0800, Merci Victoria Grace wrote:

##
- mdz

[2012-01-20 15:11] elsmorian opened #594 "My places defaults to showing San Francisco"
At first launch, My places focuses on San Francisco even if you or your friends have no places there.

Maybe the last place that locker has stored for you (ie your last 4Sq checkin, tweet or latitude entry) could be used for initial marker?

[2012-01-20 15:19] elsmorian opened #595 "UI feedback of 'things happening' is poor"
There is no visual concept of locker working in the background to download new data, which is disconcerting to the user.

For example, I can add 4Sq service, and a popup starts to load, and then disappears, and thats it. If I click on photos, no photos- and it is unclear what has happened. (Of course, if I wait 5 secs for locker to start downloading pictures they appear fine.)

Some sort of cue is

[2012-01-20 15:23] elsmorian opened #596 "Service icon state seem inverted"
Maybe this one is just me-

But when I start, all service icons are in full colour, which to me means available / ok / working fine.
After connecting the services, they turn greyed out, to me meaning unavailable, or unappreciable.

Perhaps they should start off greyed out, becoming full colour on mouse over, indicating the user could change the state by clicking? After successful connection, they

[2012-01-20 15:50] elsmorian opened #597 "Python import error with glatitude"
After connecting Latitude service, I get an import error for lockerfs:

20 Jan 15:40:52 - error: Google Latitude locations error:   Traceback (most recent call last):

20 Jan 15:40:52 - error: Google Latitude locations error:     File "/home/elsmorian/NewLocker/Common/python/synclet/client.py", line 66, in <module>

20 Jan 15:40:52 - error: Google Latitude locations error:
20 Jan 15:40:52 - error:

[2012-01-20 16:24] elsmorian opened #598 "API explorer no longer mentions filters"
IIRC, you used to be able to play with the query filters in the API explorer, which was ver handy, and allowed you to test functionality such as only returning 10 places which you created.

Any chance we can get this back?

[2012-01-20 16:29] elsmorian opened #599 "Since API has no provision for dates / times"
It would be really nice to be able to return all photos / places added since a certain date / time.

[2012-01-20 16:44] elsmorian opened #600 "Getting items from API offers no sorting ability"
It would be rather nice to be able to request the first 20 or last items in a collection etc. sorted by time, or latitude from a starting point etc (ie 10 first photos you took, or 10 farthest places you've been from a lat).

[2012-01-20 17:30] merc3po commented on #595
I want to make sure we look for this as we polish the experience, so I'm adding it to MEGA.

[2012-01-20 17:47] merc3po commented on #596
I'm going to close this, as we have a pending issue that should resolve this (shared) confusion: https://github.com/LockerProject/Locker/issues/575

If you have thoughts about the proposed solution, feel free to comment on that issue. Thanks so much elsmorian!

[2012-01-20 17:47] #596 closed, assigned to nobody

[2012-01-20 17:50] merc3po commented on #575
I thought the word "already" looked a wee bit strange:

<img src="https://img.skitch.com/20120120-8j62nw567gpd1bfusfcjsrnrtm.jpg">

[2012-01-20 18:48] merc3po opened #601 "Add final art to "Supported services" page"
Should be the same as in integral: https://github.com/Singly/integral/issues/130

[2012-01-20 19:10] smurthas commented on #574
this is fixed on the uimerge branch, will close when merged into master.

[2012-01-20 23:35] merc3po opened #602 "App Registry Exp."
Stub for the eng. story alreayd in progress, just to measure work that still needs to be done:
https://docs.google.com/a/singly.com/document/d/1AHaCqkZFoclze2Tx7KmRmTRijonOo18s85fycxcYCxs/edit?hl=en_US

[2012-01-21 01:27] amcjen commented on #572
The newuserexp branch will force a redirect to the connect page (and the rest of the flow) if it finds no connectors have been hooked up yet.  If that's sufficient, then we can close this issue.

[2012-01-21 03:37] smurthas commented on #576
this is done on uimerge. I'll close when I merge to master.

[2012-01-21 21:17] othiym23 opened #603 "integration tests can't be run against apps under development"
With the changes made by the imthemap branch, it is currently difficult to impossible (I couldn't figure out how) to get the integration tests to run against a version of the locker with the local development version of an App. There is a prepopulated directory containing some of the apps, and the rest are pulled down from the registry at runtime. There needs to be a mechanism in place for devs to

[2012-01-21 23:19] quartzjer commented on #603
cc @temas

Temas and I have talked about this some and it's not reached group
level yet, but the consensus we have so far is that we should start
moving all _unit_ tests to the app/connector/collection directories
themselves (which is what many of the tests are), and have the top
level test directory become core unit and overall integration only
(related enough to mention here I guess).

After the

[2012-01-22 00:12] othiym23 commented on #603
The problem is that this makes a TDD / BDD workflow (which I prefer / am much more productive following) much more difficult, because it interrupts the quick / tight write test -> tweak code -> get test passing flow with a publishing step. Does npm let you publish the same package with the same version multiple times?

Stepping back a bit, pushing unit tests out into the package directories for co

[2012-01-22 00:24] quartzjer commented on #603
For TDD/BDD you probably have to approach apps the same way you would
if you're coding against any 3rd party API, which outside of unit
tests is probably a mix of fixtures and mocks (which I think is what
you're saying already)?

I used to think sharing fixtures made sense, but I'm pretty sure it
doesn't.  A connector should have it's own fixtures tied to whatever
version it is, and the same for a

[2012-01-22 00:38] othiym23 commented on #603
Here is the workflow I've developed over the last few years of working with BDD:
1. Write an integration test case tied to one of the top-level features in the story I'm working on (e.g. click the link on Account Settings, get taken to the account settings area).
2. Drill down, writing functional and unit tests as I find the additions and modifications that need to be made to lower-level APIs and

[2012-01-22 02:21] quartzjer commented on #603
IMO there's an expectation perception difference here.  If you're
developing tests for a web app, you don't run all of the databases and
web servers and operating systems tests and depend on those in order
to test your app, you expect them to work as advertised.   We need to
depend on other parts of the locker ecosystem in this loosely coupled
way, not tightly bound into a a single testing (or eve

[2012-01-22 03:05] othiym23 commented on #603
I'm going to dig into the situation I'm confronting, because I am actually hitting a pain point _right now_.

I'm working on building out the account settings page, based on @merc3po's mockups. The way I have done this kind of UI work in the past is to write a capybara / webrat / Selenium test case that drives a piece of the behavior (clicks on the link for the account settings) and then verifies

[2012-01-22 18:59] quartzjer commented on #603
Ok, outside of anything else, it sounds like the more modern style of
in-browser-navigated (#-based) apps are more difficult to test with
traditional tools.  I'm so way out of my element here both on testing
and in the browser, so I can't offer much help/input :(

So yes, two weeks ago the startup process was more locally tightly
coupled, the requirements to test new code could be turned on at onc

[2012-01-22 20:05] othiym23 commented on #603
If you'll recall, we (@nym, really) did write some tests in exactly the way you describe -- set up a test instance configured the way the tests expect, run the Selenium tests against them, write them in such a way that they create a new account each time because the framework couldn't tear down an existing locker / create a new one on the fly remotely. This was ungainly and led to us having a bunc

[2012-01-22 20:17] othiym23 commented on #603
As I see it, there are three chunks of work necessary to make this approach work:
1. Having some way of signaling to the locker core that it should use the current set of packages as supplied (something set in registry.json?).
2. A framework for running up a test Me / Data directory with a specific set of packages in node.modules (maybe something that generates a packages.json file and passes it o

[2012-01-22 20:20] ctide commented on #603
Yes, using the locker that was built up via the unit tests was definitely a stopgap measure.  It was the simplest thing so that we could get some front end tests up and running quickly, as opposed to maintaining a separate set of test data that's designed just to work with the front end tests.

Ideally, the test suite should create a locker whose data set is established by a set of factories that

[2012-01-22 21:40] mdz opened #604 "Interrupting runTests.js causes it to return a successful exit code"
To reproduce:
cd tests
node runTests.js
# press ^C in the middle

It should exit nonzero if it's aborted in this way.

[2012-01-22 22:19] smurthas commented on #574
done.

[2012-01-22 22:19] #574 closed, assigned to smurthas

[2012-01-22 22:19] smurthas commented on #576
done.

[2012-01-22 22:19] #576 closed, assigned to smurthas

[2012-01-22 22:20] smurthas commented on #543
@temas, can you verify that this behavior is gone?

[2012-01-22 22:41] #549 closed, assigned to smurthas

[2012-01-23 04:07] smurthas commented on #575
updated the issue title and text to reflect the new direction here.

[2012-01-23 05:05] #577 closed, assigned to smurthas

[2012-01-23 05:54] smurthas commented on #603
There's a lot here and I'm not sure what the best path it just yet, but I just spent the past several hours fighting to try to debug the dashboard and connectors without any real ability to test whether I was consistently making progress without breaking anything.

We definitely need to improve this!

[2012-01-23 06:40] quartzjer opened #605 "registry.js has confusing installed[]"
It was missed during the map cleanup that the installed array in registry is now redundant to the map, and is going to lead to subtle bugs and confusion to have a copy of that same function, make sure it's not used anywhere and replace it with SM.map()!

[2012-01-23 06:54] quartzjer commented on #603
An upsert does that already for a running locker, but I think there's
a need to have that happen during initial startup ahead of installing
required packages?  This could make new-locker-setups on production go
really fast too, to have a copy of all the base required packages
local and upsert them the first time.

Ok, so, a standalone tool to create a new Me dir and running lockerd
from a predefin

[2012-01-23 14:58] elsmorian commented on #575
I'd be tempted to use "Connected" and "More Services" :-)

[2012-01-23 15:12] elsmorian opened #606 "Top links to Singly services etc break when locally running"
Links go to https://singly.com/learnmore which returns an Internal Server Error, and things like https://lvh.me:8443/users/me/settings which don't resolve. I understand these are to do with the Singly hosted lockers, any chance on boot locker can check itself where it is hosted, and only display these if hosted at Singly?

[2012-01-23 16:28] temas commented on #587
Should we maybe change the wording of "Connect" to "Services" or similar and show them in the same full/partial opacity style as the bottom left of the You screen?  This way it's consistent and you can always see all the services used by an app.

[2012-01-23 17:21] merc3po commented on #587
So the ones that we display here are ONLY the ones that are not already connected by the user. Hence "Connect" as a verb directing them to connect those services rather than a listing of the "Services" - though I 100% agree that that would make the most sense if it was a listing of the services used by the app.

[2012-01-23 17:32] smurthas opened #607 "If an invalid dashboard is specified in the config, locker bails hard"
It should probably default to something that it knows works and complain loudly.

[2012-01-23 17:45] merc3po commented on #575
Nice - I like that. Let's use "Connected" and "More Services" :-) Thanks elsmorian!

<img src="https://img.skitch.com/20120123-ephbay529f8btkneqhyedhaxxp.jpg">

[2012-01-23 18:32] quartzjer commented on #607
I kinda disagree, it should bail hard shouldn't it?

On Mon, Jan 23, 2012 at 11:32 AM, Simon Murtha-Smith
reply@reply.github.com
wrote:

[2012-01-23 19:28] mdz commented on #566
I just saw this in a completely fresh install from lockerbox

[2012-01-23 19:43] #578 closed, assigned to smurthas

[2012-01-23 21:31] #575 closed, assigned to smurthas

[2012-01-23 21:44] smurthas commented on #591
This is not a locker issue, moving to integral.

[2012-01-23 21:45] #591 closed, assigned to smurthas

[2012-01-23 22:20] #587 closed, assigned to kristjan

[2012-01-23 22:42] mdz opened #608 "Facebook to require refreshing auth tokens every 30 days"
We'll need to implement support for this in Locker.

http://developers.facebook.com/blog/post/633/

https://developers.facebook.com/docs/offline-access-deprecation/

[2012-01-23 22:51] othiym23 opened #609 "can only filter by ALL the services, not one of them (w/bonus Undefined!)"
1. Click Explore
2. Try to filter by a single service.
3. What! Only apps that use all the services will show, because all the checkboxes check themselves at once!
4. Also the breadcrumb trail goes bananas.

[2012-01-23 23:25] temas commented on #602
This all seems relatively complete now.  Simon is pushing some changes to the github synclet to make sure data is in the correct order, but otherwise multiple testers have success.  Any more issues before close out?

[2012-01-24 00:06] merc3po commented on #602
Huh if I click on one, I get blank page, but this is the live site and not local. (On my local I can't access my Locker at all)

[2012-01-24 00:07] amcjen commented on #572
If you have no connected services, and you visit localhost:8042 (or lvh.me:8443), you will automatically get redirected to this page:

http://cl.ly/412d1q2Q3Z371W3o0o0e

If you start hand-entering URLs, then you can get it to break, but you have to actively try to do so.

[2012-01-24 00:07] #572 closed, assigned to amcjen

[2012-01-24 00:54] merc3po commented on #602
Also happening on my local, now that I can get into Locker again.

<img src="https://img.skitch.com/20120124-myx2ceqyytiwaijurr38i6n39f.jpg">

[2012-01-24 00:54] smurthas commented on #602
i'll take a look at this, probably something simple.

[2012-01-24 01:27] merc3po opened #610 "Change text in New User Experience"
When the user comes across the dialog box/modal telling them how to add more services to their account, let's change it to just say "More Services" and not "Your Services" and "Account Settings".

We changed the names on the leftnav, and Account Settings it looks like will not be done for the first day of usability testing.

[2012-01-24 02:39] smurthas opened #611 "Clicking away from /you#You-connect causes modal problems"
When first creating a new locker, while on the you#You-connect page, if you click don't auth a service, but instead click EXPLORE or CREATE you see a screen like this:

http://bit.ly/z8yvej

[2012-01-24 15:26] temas commented on #543
Can not reproduce, @mdz can you verify on your locker.

[2012-01-24 16:50] merc3po commented on #602
smurthas got this to work :)

[2012-01-24 17:06] amcjen commented on #610
Done!

[2012-01-24 17:06] #610 closed, assigned to amcjen

[2012-01-24 17:15] merc3po opened #612 "Processing submissions to the registry"
Capturing this engineering project: https://docs.google.com/a/singly.com/document/d/1Pzp_3_D0GjC0-NdWT-edc3EbwSCMFZdJmDPXO17z7Zs/edit?hl=en_US

[2012-01-24 17:16] merc3po opened #613 "Account settings"
Capturing this engineering project in the issues list: https://docs.google.com/a/singly.com/document/d/1Oeq04eQIu5TqCj1CikoQ99dweNA3O2C2l4Hs9USGxc0/edit?hl=en_US

Here are the mocks:
<img src="https://img.skitch.com/20120126-tam5wx3kiqbu8jdp2nr7wx93uj.jpg">
<img src="https://img.skitch.com/20120126-d1cj6ys9jf4gjma31ndprphkn8.jpg">
<img src="https://img.skitch.com/20120126-ferq5mtqehr199krmq5qqah9j

[2012-01-24 18:43] mdz commented on #543
Can't reproduce on latest

[2012-01-24 18:43] #543 closed, assigned to temas

[2012-01-24 18:56] quartzjer opened #614 "when publishing via the dashboard, no indicator it's working"
Takes 10 seconds or so after you click the publish button, and there's no way to tell it's actually doing anything...

[2012-01-24 18:58] quartzjer commented on #524
This was fixed when synclet runs were serialized so they can't overlap.

[2012-01-24 18:58] #524 closed, assigned to quartzjer

[2012-01-24 19:00] quartzjer commented on #479
all of the connectors that have synclets and package.json's are now cleansed of old unused code :)

[2012-01-24 19:00] #479 closed, assigned to quartzjer

[2012-01-24 19:02] quartzjer commented on #312
Fixed using v3! https://github.com/LockerProject/Locker/commit/548438fa9ae59324453dcea43f8d89eb52e8dcc5

[2012-01-24 19:02] #312 closed, assigned to nobody

[2012-01-24 19:02] quartzjer commented on #477
Fixed using v3! https://github.com/LockerProject/Locker/commit/548438fa9ae59324453dcea43f8d89eb52e8dcc5

[2012-01-24 19:02] #477 closed, assigned to quartzjer

[2012-01-24 19:03] quartzjer commented on #357
this isn't relevant anymore :)

[2012-01-24 19:03] #357 closed, assigned to quartzjer

[2012-01-24 19:05] quartzjer commented on #453
I've not seen this at all again, and have gone through these steps a few times.  I suspect it was the event system slamming a connector simultaneously, which are now serialized much more safely. We can re-open this if it happens again...

[2012-01-24 19:05] #453 closed, assigned to quartzjer

[2012-01-24 19:07] quartzjer commented on #474
I think this was fixed but never closed, I've not seen it again, we can re-open if it's reproducible or happens again...

[2012-01-24 19:07] #474 closed, assigned to quartzjer

[2012-01-24 19:08] merc3po commented on #614
I'll make a loading animation :-)

[2012-01-24 19:09] quartzjer commented on #499
I've not seen this again, possibly fixed in the newer versions of npm.

[2012-01-24 19:09] #499 closed, assigned to quartzjer

[2012-01-24 19:13] quartzjer commented on #370
When links encounters a http://foo/image.png direct to an image, it should grab the metadata from the HEAD headers to verify it's an image and create an embed:{} object with the info about the image, so that anything asking links for image embeds, it shows up.

[2012-01-24 19:20] othiym23 opened #615 "Connectors should only show up if they aren't hidden but DO have API keys."
n/t

[2012-01-24 19:26] quartzjer commented on #615
There's an api endpoint that should give just connectors that have api keys locally available: http://localhost:8042/registry/connectors

[2012-01-24 20:34] merc3po opened #616 "Getting logged out during usability testing"
Just while clicking on the site, people are getting logged out during the usability testing.

[2012-01-24 20:37] smurthas opened #617 ""repository" field of package.json objects causes confusion"
We are very inconsistent as to what fields are in the repository section of package.json and what fields are at the top level. This is hard to work with both when building an app and when working with the Locker code.

[2012-01-24 20:53] merc3po opened #618 "Not using my Twitter avatar"
If I sign up first using Twitter, it's not using my Twitter avatar as my account avatar.

Since we sign up w/ either Twitter or Facebook, the Locker should grab either one of those as the avatar image. Detailed here in the original spec: https://docs.google.com/a/singly.com/document/d/1R7-e31FyB9wAgd9H-0T5t0cBEjqkssDUBNIcfviAVXM/edit?hl=en_US#bookmark=id.93iqvvddemm9

[2012-01-24 21:33] quartzjer commented on #617
NPM uses http://wiki.commonjs.org/wiki/Packages which allows the
invention of new top-level fields (that aren't reserved), but the
publish hooks npm has in couch will sanitize since it merges the
fields as new versions are published.  "repository" was the only field
available in order to use everything as-is, but I agree we should
document _clearly_ which fields are used in the package top level
v

[2012-01-24 21:45] othiym23 opened #619 "DevDocs has hardcode references to singly.com for user API key."
So calls have been silently failing for non-Singly-hosted accounts, and it's what's causing logouts for user testing (see also #616).

[2012-01-24 22:18] quartzjer commented on #616
This looks to have been fixed by the devdocs update to not auto-hit api.singly.com (which would overwrite *.singly.com cookies).

[2012-01-24 22:18] #616 closed, assigned to nobody

[2012-01-24 22:19] smurthas commented on #518
This is still really confusing. I almost filed another issue because I thought the same thing. We should reconsider the styling here.

[2012-01-24 22:22] smurthas commented on #601
This page doesn't exist in locker.

[2012-01-24 22:35] merc3po commented on #518
Do I need to make an asset or can it be restyled w/ CSS?

[2012-01-24 23:53] #619 closed, assigned to quartzjer

[2012-01-25 01:01] smurthas opened #620 "/dashboard is a 404"
http://bit.ly/AtUncW

[2012-01-25 01:07] smurthas opened #621 "Local screenshot is inconsistent with remote"
It detects that I have already published this app, but doesn't have a copy of the already published screenshot:

http://bit.ly/zlSLvJ

[2012-01-25 01:17] othiym23 commented on #620
I've seen this as well. The most annoying thing about it is that it's intermittent and doesn't seem to have a whole lot to do with anything else I'm doing.

[2012-01-25 02:03] smurthas opened #622 "on first startup, "no dashboard :(""
This happens when starting a locker prior to the dashboard installing from the registry.

[2012-01-25 02:08] smurthas opened #623 "First startup is sloooow"
to install the basic, requires apps and services from the registry takes a long time.

Here are my thoughts on how we could solve this:
1. Create a way to "pre-install" things (pre populate the Me/node_modules dir?)
2. Make the registry FASTER (varnish? pay them some money?)

Any other thoughts?

[2012-01-25 02:17] smurthas opened #624 ""upserting" a connector puts in the service map"
Even if a connector hasn't been authed, it ends up in the map. Really, connectors should only show up in map if they are authed.

[2012-01-25 02:18] smurthas commented on #623
This also results in being able to click over to the CREATE section before dev docs is available.

[2012-01-25 02:36] quartzjer commented on #624
This semantic changed, so that connectors can exist and be preserved even in an un-authed state (either by choice or by error) at any point in their lifecycle (without loosing data).  To know if it's auth'd or not, there's a .auth object and .authed timestamp, the rough consensus (between temas/eric) so far is to use the .auth object as the flag to know it's current state or not.

[2012-01-25 02:36] #624 closed, assigned to nobody

[2012-01-25 03:25] quartzjer commented on #623
I added the ability to locally install stuff last night (see email :)
that will totally solve this when first boot speed is important :)

I also set up a fastly.com account today that is a turn-key cdn to
front our registry and aggressively cache, didn't have time to test it
yet!

On Tue, Jan 24, 2012 at 8:08 PM, Simon Murtha-Smith
reply@reply.github.com
wrote:

[2012-01-25 05:47] smurthas commented on #609
Fixed.

[2012-01-25 05:47] #609 closed, assigned to smurthas

[2012-01-25 12:14] elsmorian opened #626 "Lockerproject.org doesn't mention other deps"
Lockerproject.org download section mentions Git and Python are needed, but not the curl, build-essential and libssl-dev packages (Which by default are not installed in Debian Squeeze and probably a few other distros.)

[2012-01-25 14:17] elsmorian opened #627 "In a new locker, no service icons show up"
In a new locker freshly installed with an once-working apikeys.json file,

I get: https://skitch.com/elsmorian/g5sh7/locker-running

[2012-01-25 14:56] quartzjer commented on #627
Heh that's a problem :)

I wonder, do you have twitter and Facebook apikeys? Was there any console errors or could you gist the full startup log (maybe with silly logging on?)?

On Jan 25, 2012, at 8:17 AM, Chris Elsmorereply@reply.github.com wrote:

[2012-01-25 15:02] elsmorian commented on #627
I don't have either apikeys, just GLatitude, 4Sq and Github.

https://gist.github.com/1676646 is the startup log, but I can't see any errors.

[2012-01-25 15:14] #602 closed, assigned to temas

[2012-01-25 15:16] temas commented on #627
So there's currently an assumption that you have Facebook or Twitter, the two richest data sources right now.  The startup logic could be tweaked to skip that assumption if neither is configured, but they definitely help in terms of real data availability.

[2012-01-25 15:26] elsmorian commented on #627
While I agree they are the richest source of data, the use that we shall be using locker for has a very high probability that users may not have any services connected, relying on pushes to the locker to get data into it for apps to use.

[2012-01-25 17:10] amcjen commented on #627
I touched that piece of code last, so I'm happy to add some logic in there where if no Twitter or Facebook API keys exist, then just show all available services.  If you don't have _any_ API keys, then I'll have it show a message indicating so.

Good find!

[2012-01-25 17:16] elsmorian commented on #627
That would be great!

[2012-01-25 17:54] smurthas commented on #627
+1 what @erictj suggested.

[2012-01-25 18:07] smurthas commented on #518
I can just make it go back to looking like a regular checkbox. good?

[2012-01-25 18:09] #601 closed, assigned to nobody

[2012-01-25 18:11] mdz commented on #626
curl is only used to download lockerbox.sh, which could be done by saving it from the browser or with wget or various other ways as well. I guess I considered the curl command line to be an example, rather than an API. :-)

The website is in the "lockerproject.org" repo adjacent to this one, btw, so we should probably move this over there

[2012-01-25 18:17] merc3po commented on #518
Yep

[2012-01-25 19:42] temas opened #628 "static apps should always autoupdate"
Currently if registryUpdate:false is in the config static apps will no longer autoupdate.  This flag should either only apply to core modules (via a package.json flag) or be tweaked in a few other ways TBD.

[2012-01-25 19:51] smurthas opened #629 "Update Skeleton-Viewer"
This is waay behind current package.json reqs, etc.

https://github.com/LockerProject/Skeleton-Viewer

[2012-01-25 21:51] merc3po opened #630 "Three states for buttons: regular, hover, clicked"
Let's show people when they click, that they've clicked and that when they're hovering, they're hovering. This is groundbreaking stuff. You might want to step back.

Here are the assets on Dropbox: http://db.tt/P54wwJJM

And here they are lined up next to each other like little round shouldered duckies:
<img src="https://img.skitch.com/20120126-p8bqkqmiwsrg4ja23cxkjpcd9n.jpg">

[2012-01-25 22:04] #611 closed, assigned to amcjen

[2012-01-25 23:27] merc3po opened #631 "User testing environment needs different URL for "Hosted by Singly" link"
Clicking on "Hosted by  Singly" signed out one of our testers and then broke the experience for him. He had to clear his cookies to sign back in and then the "CREATE" section was empty.

[2012-01-25 23:55] #627 closed, assigned to amcjen

[2012-01-26 00:24] merc3po commented on #595
Thoughts on this?

<img src="https://img.skitch.com/20120126-jigqpeuyt4uddsux1wfe7747hy.jpg">

and then

<img src="https://img.skitch.com/20120126-eacwrint6n41iers1515m7qc59.jpg">

[2012-01-26 00:26] merc3po commented on #595
We can show the data types w/ icons rather than text, too, which will look prettier for sure. It might be less clear than text, though.

[2012-01-26 01:07] merc3po commented on #622
I've never had this happen - do you have a screen shot? I'm working on site polish stuff.

[2012-01-26 01:27] merc3po commented on #614
This might solve that issue, thoughts @quartzjer? https://github.com/LockerProject/Locker/issues/630

[2012-01-26 02:28] smurthas commented on #622
We're already solving this.

[2012-01-26 07:26] elsmorian commented on #595
I like the look of this. A few thoughts-  Provides: instead of Gets:?
Would be nice to have a spinner or something next to the current services that are being installed I think, just to reassure the user that things are happening in between percent complete updates.

The colour of the buttons is tricky IMO- Green is cool for "go! connect your services!" But then they turn grey when connected, whic

[2012-01-26 15:13] elsmorian opened #632 "First run, clicking Explore presents a big white box.."
That looks a bit like this.. https://skitch.com/elsmorian/ghb7j/deblocker-running !

[2012-01-26 16:39] elsmorian commented on #627
This is still occurring in both a brand new locker, and one that has been git-pulled. my apikeys.json has glatitude, 4sq and github. Interestingly I added a twitter account, which then worked, but it's not showing the glatitude service on the page.

[2012-01-26 16:41] elsmorian commented on #627
Also, I get a link to connect to Pandora, even though it is not in my apikeys file.

[2012-01-26 16:44] elsmorian commented on #597
This is still happening and preventing any import of latitude data.

[2012-01-26 16:56] merc3po commented on #595
Here's the account settings project issue: https://github.com/LockerProject/Locker/issues/613

[2012-01-26 16:57] merc3po commented on #595
And here's the button states: https://github.com/LockerProject/Locker/issues/630

[2012-01-26 17:47] quartzjer commented on #597
I fixed this, YAY!  Man I have almost 15 thousand locations!

[2012-01-26 17:47] #597 closed, assigned to nobody

[2012-01-26 17:55] merc3po commented on #630
If you're doing this with CSS, the "clicked state" buttons have an opacity of 40%; and let's use the TypeKit font "Ratio" https://typekit.com/fonts/ratio

[2012-01-26 18:45] merc3po opened #633 "Text change button states for "publish" and "create account""
The "publish" and "create account" buttons' text should change as well as the other states changes (from this issue ) that apply to all buttons in #630

Once clicked, "Publish" should become "Publishing"; "Create Account" should be "Creating".

The opacity should change as well.

[2012-01-26 18:52] merc3po commented on #614
This is the solution for the issue: https://github.com/LockerProject/Locker/issues/633

[2012-01-26 18:52] #614 closed, assigned to merc3po

[2012-01-26 18:53] merc3po commented on #630
This is also a related issue: https://github.com/LockerProject/Locker/issues/633

[2012-01-26 19:11] temas commented on #566
We should try updating to the latest mongo driver.  We are well behind again.

[2012-01-26 19:30] merc3po opened #634 "Add "gamma" to site"
Appears in both Locker and Integral.

Here's the button on Dropbox: http://db.tt/RDJmVEcu

The "gamma" should be in the top right nav and look like this
<img src="https://img.skitch.com/20120126-kbwtijwj1w3hpk8pwt1m6wqhst.jpg">

Clicking it should open up a modal like this:
<img src="https://img.skitch.com/20120130-4e1nf47yt5e68aamrgmj9f225.jpg">

[2012-01-26 20:08] merc3po opened #635 "Site width changes"
Also exists on Integral, affects the entire site: https://github.com/Singly/integral/issues/151

[2012-01-26 20:48] elsmorian opened #636 "Feature Request: Pushable places!"
Following from a conversation with Quartzjer, It would be very handy to be able to push a place directly into the places collection. Quartz mention this could be done using the push api, and have a generic push/X type that the places collection listens for?

A proposed format (heavily based on the current places query API):

_id - string - An auto-generated unique identifier for this place.
at - s

[2012-01-26 21:04] quartzjer opened #637 "show apps that aren't static too"
Things like merged contacts aren't static, and others may not be in the future too, but we should still show them in the explore area.

[2012-01-26 21:06] kristjan opened #638 "Radio button should be a checkbox"
First it's confusing that there's a radio button with no friends, and it gets worse when it behaves like a checkbox (appears and disappears the rename field).

![](http://f.cl.ly/items/3h1m0O1T190U3T0I341R/Identity%20Crisis.png)

[2012-01-26 21:09] kristjan commented on #638
Oops, duplicate of #518

[2012-01-26 21:09] #638 closed, assigned to nobody

[2012-01-26 21:09] merc3po commented on #638
https://github.com/LockerProject/Locker/issues/518

On Thu, Jan 26, 2012 at 1:06 PM, Kristjn Ptursson <
reply@reply.github.com

##

Merci Victoria Grace

Playful Designer + Producer

http://artserf.net
http://linkedin.com/in/merci
http://twitter.com/merci

[2012-01-26 21:15] amcjen commented on #627
Hmm, I don't have a glatitude API key at the moment, but replacing that with Gcontacts, when I have those four API keys in place, my first connect screen looks like this:

http://cl.ly/2X2M3n032d371z3b231M

Is that not what you're seeing?

Also, Pandora is a black sheep, b/c it doesn't really have a concept of API keys, so it shows up regardless of state in the apikeys.json file.

[2012-01-26 21:33] amcjen commented on #618
It does show up, it just sometimes takes a few seconds because when we auth, the locker has to go out and get the profile, so it's not immediate.  Mine below showed up after about 3 seconds:

http://cl.ly/1Q3P3c3g2W0o1G2l1u1H

[2012-01-26 21:40] amcjen commented on #632
Hi elsmorian.  This bug was also described in #611 and should now be fixed.

Thanks for all the issue submissions!  You're putting the new interface through its paces.  :)

[2012-01-26 21:40] #632 closed, assigned to nobody

[2012-01-26 21:42] kristjan commented on #634
Do we have a canonical means of popping up modal dialogs?

[2012-01-26 21:53] temas commented on #242
Ran into this in a few other places still, going to flag this for a code pass through before closing.

[2012-01-26 21:54] temas commented on #251
This UI does not exist anymore.

[2012-01-26 21:54] #251 closed, assigned to nobody

[2012-01-26 21:57] merc3po opened #639 "Loading animation for the Registry"
<img src="https://dl.dropbox.com/s/dw7hn00udibb4av/loading-v4.gif">

[2012-01-26 21:58] temas commented on #254
The issue seems to have stalled in npm, poked for update.

[2012-01-26 22:02] amcjen commented on #636
I really like this idea.

It might be a good idea to add a "type" field that says what type this particular push is.  The type could just be an enumeration of the collections that are currently there (places, contacts, photos, etc).   That way you could have multiple push events of different names with the same type.   Then when each new push endpoint is created, it could announce to the specific

[2012-01-26 22:20] temas opened #640 "Locker library exploration"
The internal locker library exists, but some places are making direct requests to core services.  Other areas are performing common patterns that have not been realized as common and should be pulled into the library.  This issue is to track these concerns and other related growing ones.

[2012-01-26 22:55] #605 closed, assigned to quartzjer

[2012-01-26 22:56] quartzjer commented on #622
simon fixed it :)

[2012-01-26 22:56] #622 closed, assigned to smurthas

[2012-01-26 23:08] smurthas commented on #634
Ya, there is one in the sign up flow.

[2012-01-26 23:09] merc3po commented on #634
Yep we do - it's what was implemented for clicking the sign-up button and in the new user experience. @erictj has used it as a canon before.

[2012-01-27 00:12] smurthas commented on #637
done.

[2012-01-27 00:12] #637 closed, assigned to nobody

[2012-01-27 00:25] quartzjer commented on #637
Thx!

On Jan 26, 2012, at 6:12 PM, Simon Murtha-Smithreply@reply.github.com wrote:

[2012-01-27 08:38] elsmorian commented on #636
+1 Really like the sound of that :)

[2012-01-27 16:28] elsmorian opened #642 "Glatitude icons don't show up under Connected or More Services"
I have the same issue with pandora.

After this, is there anything stopping a republish of dashboard?

[2012-01-27 17:48] merc3po opened #643 "Replicate IRC details page in the Locker"
This looks awesome: https://singly.com/#Create-Chat

Let's also have it appear under "Community" when you're logged in. :-)

[2012-01-27 22:47] temas commented on #583
I think there are, possibly, 3 sizes.  Original, small (app Card), and medium (app details).

[2012-01-27 22:49] temas commented on #617
I feel we've largely resolved this through OOB discussions.  Perhaps some fields need to go into config, but we've already started down this path.  Motion to close.

[2012-01-27 22:52] temas commented on #623
Jer's tweaks plus a few more I put in 1c6fed90c0c215e4917f8d5f4c3624846b9a85b0 should close this out.  Issues related to using these changes can be a new issue.

[2012-01-27 22:52] #623 closed, assigned to smurthas

[2012-01-27 23:44] smurthas commented on #617
agreed.

[2012-01-27 23:44] #617 closed, assigned to nobody

[2012-01-28 02:31] #643 closed, assigned to kristjan

[2012-01-29 03:51] othiym23 opened #646 "Masonry viewer interprets t.co links in tweets as links to photos"
...even when they're just shortened links to regular web pages.

Seen in @alirayl's locker.

[2012-01-29 08:17] quartzjer commented on #646
This should /only/ happen if the oembed data comes back with a type of
photo for the link (which if the target site is lying could happen)...
any chance you could get the relevant json from the link collection to
see the embed object?

On Sat, Jan 28, 2012 at 9:51 PM, Forrest L Norvell
reply@reply.github.com
wrote:

[2012-01-30 02:40] beaugunderson opened #648 "Publishing system doesn't pull submodule files within an app's repository"
I currently have [Spearmint](https://github.com/beaugunderson/Spearmint) added to my Singly instance in a draft state. It shows up in my sidebar but the publishing system appears to not have checked out the d3 submodule I've added.

Here's my `.gitmodule` file:

[code]

All of the files show up except for the ones underneath js/d3 (and hence everything works but the parts that depend on d3). It wo

[2012-01-30 03:47] mdz opened #649 "dashboardv3 shows no connectors if registryUpdate=false"
It looks like it's relying on the registry to tell which connectors are available. Even though there are connectors in the map, it's acting as if none are available.

[2012-01-30 03:57] beaugunderson commented on #648
The issue is in `Connectors/GitHub/repos.js`. The GitHub API exposes submodules as a tree node of type 'commit' with  mode '160000':

[code]

Unfortunately the URL returned by the GitHub API doesn't work (it returns 'not found'). I've opened a bug with GitHub. Once it's fixed I'll attempt to add some logic to recursively pull blobs from submodules.

[2012-01-30 05:14] quartzjer commented on #648
Hmm, there has to be a better way to do this I think? Submodules have proven problematic in a diverse system, and d3 is ginormous as a git dep :)

What about symlinking in just the req'd files? Or a npm or git hook?

On Jan 29, 2012, at 8:40 PM, Beau Gundersonreply@reply.github.com wrote:

[2012-01-30 05:16] quartzjer commented on #649
The fix for this ended up in the regprocess branch as it was weaved into the sig validation, which I'm rallying to deploy asap :)

On Jan 29, 2012, at 9:47 PM, Matt Zimmermanreply@reply.github.com wrote:

[2012-01-30 16:35] temas commented on #629
Brought up to date.

[2012-01-30 16:35] #629 closed, assigned to nobody

[2012-01-30 16:40] temas commented on #565
Done.

[2012-01-30 16:40] #565 closed, assigned to temas

[2012-01-30 16:41] temas commented on #588
Is fixed.

[2012-01-30 16:41] #588 closed, assigned to nobody

[2012-01-30 16:46] temas commented on #595
I feel there's an issue of using any actual progress meter on this page.  It will cause people to stay on this page until it is all the way done.  As soon as data starts syncing the locker is usable, so we want them to quickly move through adding as many services as they want and then get to the exploration phase.  There should definitely be feedback, but not anything that makes them feel restrict

[2012-01-30 16:57] #518 closed, assigned to smurthas

[2012-01-30 17:28] merc3po opened #651 "Get access to Get Satisfaction"
Emailed Mr. Burkhart, need to set that up.

[2012-01-30 17:29] mdz commented on #649
OK. Sandbox was supposed to use registryUpdate=false, but I'll just switch it off for now rather than block. Once your branch is merged in, we can switch it back

[2012-01-30 18:12] merc3po opened #652 "Add a FAQ/Help page"
In the top right nav:
<img src="https://img.skitch.com/20120202-ffhybhch8nn3igfrsw14dh9yx5.png">

[2012-01-30 19:08] beaugunderson commented on #648
Yeah, submodules are probably the wrong way to include something like d3, but I could see how it might be useful to support them in the future. I'll just include the necessary files from d3 at this point. :)

Here's the response from GitHub, by the way:

[2012-01-30 19:08] #648 closed, assigned to nobody

[2012-01-30 19:26] temas commented on #631
So this is actually already in the code and just needed to be configured.
- customLearnmore - link target "#About-OurMission"
- customHostedby - link wording "Hosted by Singly"

[2012-01-30 19:26] #631 closed, assigned to nobody

[2012-01-30 19:36] #592 closed, assigned to kristjan

[2012-01-30 19:38] kristjan commented on #592
Looks like this got duplicated in #643

[2012-01-30 19:41] merc3po commented on #651
http://getsatisfaction.com/singly

[2012-01-30 19:41] #651 closed, assigned to merc3po

[2012-01-30 19:42] merc3po commented on #634
Here's the link to GetSatisfaction: http://getsatisfaction.com/singly

[2012-01-30 19:56] #581 closed, assigned to temas

[2012-01-30 19:56] #590 closed, assigned to temas

[2012-01-30 19:56] #615 closed, assigned to temas

[2012-01-30 20:11] alirayl commented on #646
It's fixed now.

[2012-01-30 22:02] merc3po commented on #561
done!

[2012-01-30 22:02] #561 closed, assigned to nobody

[2012-01-30 22:02] merc3po commented on #554
Is this a bug or an improvement?

[2012-01-30 22:03] merc3po commented on #551
Is this fixed now that we've merged imthemap?

[2012-01-30 22:04] merc3po commented on #482
Where are we on this?

[2012-01-30 22:07] merc3po commented on #371
@othiym23 you should be able to close this when you're done with #613

[2012-01-30 22:09] merc3po commented on #406
Where are we at on this? Is @kristjan covering this?

[2012-01-30 22:12] merc3po commented on #434
Where are we on this?

[2012-01-30 22:12] merc3po commented on #441
Where are we on this?

[2012-01-30 22:14] merc3po commented on #454
Sounds like we can close this? @othiym23?

[2012-01-30 22:53] othiym23 commented on #371
Yep, this is definitely part of the scope of #613.

[2012-01-30 22:55] mdz opened #653 ""Filter by service" shows all "undefined""
http://imageshack.us/photo/my-images/810/screenshotat20120130143.png/

[2012-01-30 22:55] othiym23 commented on #454
Yeah, I think this can be put down to me being confused about what happened at place event creation time. Closing.

[2012-01-30 22:55] #454 closed, assigned to amcjen

[2012-01-30 22:57] mdz opened #654 "New account goes directly to #contactsviewer, skips connecting services"

[2012-01-30 23:17] #654 closed, assigned to amcjen

[2012-01-30 23:20] temas opened #655 "TLPBot Test"
This is a test and should be ignored.

[2012-01-31 00:07] quartzjer opened #656 "getCurrent should default to and enforce a sane limit"
Any anything that depends on it returning all should be updated to use paging :)

[2012-01-31 00:16] quartzjer opened #657 "On publish, need some copy/UI somewhere to explain that an issue is used"
We create an issue automatically to track the publishing review process, need to explain that somewhere :)

[2012-01-31 00:28] merc3po commented on #360
Is this still an issue after imthemap?

[2012-01-31 00:32] merc3po commented on #358
We have captured this issue elsewhere so I'm gonna close it.

[2012-01-31 00:32] #358 closed, assigned to merc3po

[2012-01-31 00:42] #87 closed, assigned to nobody

[2012-01-31 00:44] merc3po commented on #184
Is this still happening?

[2012-01-31 00:45] #214 closed, assigned to nobody

[2012-01-31 00:47] merc3po commented on #289
@elsmorian Where are we on this?

[2012-01-31 00:52] merc3po commented on #420
I'm going to mark this as a request. Not sure we want to spend time improving our default apps in a piecemeal fashion.

[2012-01-31 00:52] merc3po commented on #270
Has anyone seen this happen again?

[2012-01-31 00:53] merc3po commented on #495
Is this still an issue?

[2012-01-31 00:54] merc3po commented on #489
Is this fixed now?

[2012-01-31 00:55] merc3po commented on #423
We don't have icons for the apps anymore so I'm closing this. :-)

[2012-01-31 00:55] #423 closed, assigned to amcjen

[2012-01-31 00:55] merc3po commented on #421
Let's make another issue for the devdocs error and close this.

[2012-01-31 00:59] merc3po commented on #497
This hasn't been implemented yet.

[2012-01-31 01:04] quartzjer commented on #489
Nope but it's a duplicate of #533 pull req now so I'm closing this one :)

[2012-01-31 01:04] #489 closed, assigned to quartzjer

[2012-01-31 01:08] quartzjer commented on #495
I don't think so, I'll close it, can be reopened if it really is :)

[2012-01-31 01:08] #495 closed, assigned to smurthas

[2012-01-31 01:12] quartzjer commented on #360
Yeah, it's a Location: header that the proxy spits back with the full domain being incorrect for api calls, not sure how best to fix it yet but it's also not blocking anything, just an edge case.

[2012-01-31 01:12] merc3po commented on #511
What's the status of this?

[2012-01-31 01:13] quartzjer commented on #511
I believe this has all been resolved now, @zencuke can re-open it or add more detail if there's still any problems with the auth, thx!

[2012-01-31 01:13] #511 closed, assigned to nobody

[2012-01-31 01:14] merc3po commented on #513
I'm closing this since we took out author history.

[2012-01-31 01:14] #513 closed, assigned to nobody

[2012-01-31 01:15] merc3po commented on #608
We'll need to do this before we add a ton more people since it applies to new users.

[2012-01-31 01:16] merc3po commented on #606
Is this still happening @elsmorian? If so I feel like we have other issues that are filed to deal w/ setting those URLs via a config file.

[2012-01-31 01:18] merc3po commented on #600
Hmm is this what Timeline is for @quartzjer?

[2012-01-31 01:19] merc3po commented on #599
Is this also fixed by Timeline @quartzjer? @elsmorian see #398

[2012-01-31 01:20] merc3po commented on #598
Adding @smurthas to this as he's making significant improvements to that section this week. :-)

[2012-01-31 01:20] #589 closed, assigned to nobody

[2012-01-31 01:21] indexzero commented on #489
@quartzjer Sure you're aware, but `node-http-proxy@0.8.x` is compatibile with `node >= 0.5.6`. We've been running it in prod at nodejitsu for about a month now (since 0.6.6)

[2012-01-31 01:22] quartzjer commented on #600
Timeline will do this for some of the data, but I think the current query api can do quite a bit of it already.  Perhaps @elsmorian you could make specific issues for exact api calls you need and we can verify each of them as existing or new features independently? (time sort exists, but distance based doesn't for instance)

[2012-01-31 01:24] merc3po commented on #626
Done: https://github.com/LockerProject/lockerproject.org/issues/1

[2012-01-31 01:24] #626 closed, assigned to nobody

[2012-01-31 01:25] quartzjer commented on #489
Yep!  We've got it running here too in a branch, we just don't have
all the other modules changes integrated and tested yet (working
through a backlog), should be in sync this week, thanks!

On Mon, Jan 30, 2012 at 7:21 PM, Charlie Robbins
reply@reply.github.com
wrote:

[2012-01-31 01:25] merc3po commented on #584
Is this still happening after the overall speed up of registry?

[2012-01-31 01:29] quartzjer commented on #599
Does this work for what you need? (besides the awful syntax) http://localhost:8042/query/getPhoto?terms=[timestamp:1327673262000+.]

Try more variants in the api explorer too...

[2012-01-31 01:34] merc3po commented on #242
Let's review this and then close it.

[2012-01-31 01:35] merc3po commented on #655
Can't... ignore... must... comment. (Can I close this or do you need it still?)

[2012-01-31 01:37] merc3po commented on #646
I'm opting this for review so that someone checks it 2x before closing it.

[2012-01-31 01:43] merc3po opened #658 "Redirected to nonexistent Contacts Viewer after account successfully created"
I created an account on Sandbox and after choosing to "start exploring" at the end of the new-account-creation (which worked like a gem!) I was sent to a blank page: <img src="https://img.skitch.com/20120131-jaqw1pgmq34edxtay7uuycd47g.jpg">

[2012-01-31 01:44] merc3po opened #659 "No apps already installed on a fresh account"
I found this on sandbox. A few apps should come packaged with the account when it's created: <img src="https://img.skitch.com/20120131-jaqw1pgmq34edxtay7uuycd47g.jpg">

Found at the same time as #658 but I'm not sure if there is a connection.

[2012-01-31 01:50] merc3po commented on #642
I'm going to suggest we close this since Google-Latitude is not deployed to the live service, it's not actually broken.

[2012-01-31 01:55] temas commented on #655
testing

[2012-01-31 02:19] temas commented on #655
testing

[2012-01-31 02:20] temas commented on #655
fun fun

[2012-01-31 02:22] temas commented on #655
do soemthing robot.

[2012-01-31 02:23] temas commented on #655
Getting there....

[2012-01-31 02:24] temas commented on #655
this is making me a tad aggro

[2012-01-31 02:27] temas commented on #655
more testing.

[2012-01-31 02:28] temas commented on #655
blah

[2012-01-31 02:32] temas commented on #655
Ok, test more.

[2012-01-31 02:33] temas commented on #655
lol testing.

[2012-01-31 02:34] merc3po opened #660 "Analytics v3"
Here's the project on Google docs: https://docs.google.com/a/singly.com/document/d/1V-jGW5amMROlWPTqnvCE0R7NdVR-jexMXppOMXWx3-E/edit?hl=en_US

Needs to be implemented for OPENIT.

[2012-01-31 02:34] temas commented on #655
asdf

[2012-01-31 02:36] temas commented on #655
asdf

[2012-01-31 02:37] temas commented on #655
wtf?

[2012-01-31 02:38] temas commented on #655
que?

[2012-01-31 02:39] mdz commented on #570
I see this too

[2012-01-31 02:39] temas commented on #655
closer?

[2012-01-31 02:41] temas commented on #655
not really.

[2012-01-31 02:42] temas commented on #655
right meow.

[2012-01-31 02:44] temas commented on #655
grrr

[2012-01-31 02:51] othiym23 commented on #556
This is definitely still an outstanding issue; I just ran into it on 01/27. It still renders my links list undisplayable until the problematic link has worked its way out of the list of recently-synced links.

[2012-01-31 02:57] quartzjer commented on #270
we don't use socket.io currently, so closed!

[2012-01-31 02:57] #270 closed, assigned to nobody

[2012-01-31 03:01] temas commented on #655
what what?!

[2012-01-31 03:01] #655 closed, assigned to temas

[2012-01-31 03:04] temas opened #661 "TLPBot Test 2"
Another test of TLPBot

[2012-01-31 03:08] temas commented on #661
testing.

[2012-01-31 03:08] smurthas commented on #584
very likely.

[2012-01-31 03:08] temas commented on #661
Temp close.

[2012-01-31 03:10] smurthas commented on #495
all good.

[2012-01-31 03:11] temas commented on #661
one more time

[2012-01-31 03:11] #661 closed, assigned to nobody

[2012-01-31 03:14] smurthas commented on #441
/available is gone, /map still returns run field. seems a bit strange for a static app to be able to see all of this, but we can close for the sake of cleanliness and handle in the future if there is a need.

[2012-01-31 03:14] #441 closed, assigned to temas

[2012-01-31 03:19] smurthas commented on #482
Still doesn't work.

[2012-01-31 03:21] smurthas commented on #551
still happening.

[2012-01-31 03:28] #556 closed, assigned to nobody

[2012-01-31 03:57] smurthas commented on #598
Nothing has changed about how the API explorer works. Could you explain more?

[2012-01-31 03:59] smurthas opened #662 "Devdocs: Uncaught TypeError: undefined is not a function"
[code]

[2012-01-31 03:59] smurthas commented on #421
done. #662

[2012-01-31 03:59] #421 closed, assigned to smurthas

[2012-01-31 05:02] smurthas commented on #642
This should have been fixed with #615. @elsmorian can you confirm?

[2012-01-31 05:04] smurthas commented on #417
this was with the old UI. closing as that has been replaced.

[2012-01-31 05:04] #417 closed, assigned to quartzjer

[2012-01-31 05:08] smurthas opened #663 "If a service is pointing to the local tree (via the config), it shouldn't update from the registry"
jer, you said this would be in your new branch.

[2012-01-31 05:08] smurthas commented on #649
We discussed this today over lunch. The behavior we really want is that if a service is pointing to the local tree, it should never update from the registry. That is now captured in #663.

[2012-01-31 05:08] #649 closed, assigned to quartzjer

[2012-01-31 05:09] smurthas commented on #184
Yes. This is still relevant.

[2012-01-31 05:10] quartzjer commented on #663
Yep, it's fixed in the signing pull req, which with one more reviewer/tester should be good to land :)

[2012-01-31 05:13] kristjan commented on #289
When I was installing a week ago, lockerbox failed for me and I was advised to just `npm install` and then `node _lockerd.js`, which worked. Based on that, it seems like lockerbox is kaput and the installation docs should be updated.

[2012-01-31 05:16] smurthas commented on #289
if you already have node and mongod on your machine you are very close to getting things running, but not everyone else has that. lockerbox is still pretty valuable IMO.

[2012-01-31 07:48] kristjan opened #664 "Broken image under More Services"
It's expected at https://me.singly.com/dashboard/img/icons/32px/smtp.png

![](http://f.cl.ly/items/3Q1o1X263V2o211P1i3Y/Screen%20Shot%202012-01-30%20at%2011.47.04%20PM.png)

[2012-01-31 16:59] temas commented on #289
I definitely think we should get this updated and working.  It's been helpful to plenty of people.  Is this issue complete and we need a new one to track updates?

[2012-01-31 17:01] temas commented on #163
closing this and filing a larger i18n tracker.

[2012-01-31 17:01] #163 closed, assigned to nobody

[2012-01-31 17:03] temas opened #665 "i18n and l10n discussion"
We currently have no consideration of how we'll handle internationalization (i18n) and localization (l10n).  This is a large issue for future growth, and this is just a place to track discussion and thoughts as we can spin out stories to work on it.  Possibly this morphs into a milestone down the road.

[2012-01-31 17:04] temas commented on #256
Pulled into engineering notes with some other concepts of using Error.stack.

[2012-01-31 17:04] #256 closed, assigned to nobody

[2012-01-31 18:13] smurthas opened #666 "Connect GitHub link in DevDocs is broken"
the /synclets endpoint is gone and probably just needs to be replaced with /map in `DevDocs/static/js/common.js`

[2012-01-31 18:14] smurthas commented on #666
#666, eeeek!

[2012-01-31 18:47] mdz commented on #289
@kristjan if lockerbox failed for you, please file a bug on the lockerbox repo

[2012-01-31 18:52] othiym23 opened #667 "'CREATE' returns internal server error"
Filing as a Locker issue, although the problem may actually lie with Integral.

![busted locker](https://img.skitch.com/20120131-bgcq7rafi7aurgmwga3tys2qqi.jpg)

[2012-01-31 18:52] mdz commented on #289
There are a few issues discussed here, all of which pertain to either lockerbox or lockerproject.org, both of which have separate repos.
- apparently, OpenSSL development libraries are required in order to build node. but lockerbox doesn't take care of this → lockerbox issue
- curl is required in order to install npm, but this dependency isn't documented → lockerproject.org issue
- clucene →  this

[2012-01-31 18:55] mdz commented on #289
I filed the first issue as https://github.com/LockerProject/lockerbox/issues/6
Merci filed the second issue as https://github.com/LockerProject/lockerproject.org/issues/1

I think that handles everything here, and this one can be closed.

[2012-01-31 18:55] #289 closed, assigned to othiym23

[2012-01-31 18:56] mdz commented on #649
Both #663 and this issue are fixed in regprocess

[2012-01-31 18:56] mdz commented on #663
i.e. https://github.com/LockerProject/Locker/pull/644

[2012-01-31 19:02] mdz opened #668 "Publishing an app fills in a description of "undefined""
http://imageshack.us/photo/my-images/197/workspace5002.png/

[2012-01-31 19:14] amcjen commented on #406
We've changed tests so much since this was opened, I'd mark this for close.

[2012-01-31 19:18] quartzjer opened #669 "service manager detect non-zero exits and set fail state for /core/selftest"
Will help catch when dashboard or a collection is crashing, etc.

[2012-01-31 19:26] quartzjer opened #670 "when lockerd goes away, all child processes should detect and exit"
prob watch stdin/stdout close, or any http requests fail, should log and exit(1)

[2012-01-31 19:33] smurthas commented on #670
another possibility, we could write out all pids to a file and have a simple wrapper script that kills them when it detects lockerd has died (killing mongod last). This could also serve to stop lockerd from starting with the same Me dir.

[2012-01-31 19:34] amcjen commented on #459
This should probably be reconsidered as our test suite is being refactored.  (Assigning to Kristjan so it's on his radar!)

[2012-01-31 19:36] amcjen commented on #480
Still an issue Matt?  If not, let's mark it as OPT-CLOSE

[2012-01-31 19:37] amcjen commented on #485
Search indexing is being refactored, setting this to OPT-CLOSE

[2012-01-31 19:40] amcjen commented on #634
The modal is all handled client-side in jquery.  I had to do some lame hacking with the new user flow in regards to cookies, to track state between Integral and Locker, so ignore that code.  But the basic handling is pretty straightforward.

[2012-01-31 19:44] mdz opened #671 "Locker should not allow more than one instance to be started on the same Me/ directory"
Currently, it just does this: fs.writeFileSync(__dirname + '/Logs/ocker.pid', "" + process.pid);

[2012-01-31 19:45] mdz opened #672 "At startup, locker should shut down mongo if it's already running on Me/mongodata"

[2012-01-31 20:02] mdz commented on #184
#672 should address this

[2012-01-31 20:05] #672 closed, assigned to mdz

[2012-01-31 20:22] mdz commented on #658
I think this is the same underlying issue as #659

[2012-01-31 20:26] mdz commented on #649
I believe they are distinct, though, not the same issue. This might have had the same root cause as the initial setup bug which @erictj  fixed though

[2012-01-31 20:28] mdz opened #673 "regprocess: fails silently if GitHub token is read-only"
See #644

[2012-01-31 20:32] mdz commented on #665
I expect @kristjan will have some input on this, given his native character set ;-)

[2012-01-31 20:34] mdz commented on #480
I haven't seen it since, and it happened when running the test suite, so it's probably fixed. The test suite is about to become much more deterministic as well. :-)

[2012-01-31 20:43] temas commented on #480
I've spent a fair deal of time inside the testing and haven't seen it.  Motion to close.

[2012-01-31 20:44] #480 closed, assigned to amcjen

[2012-02-01 01:03] quartzjer commented on #673
Fixed now!

[2012-02-01 01:03] #673 closed, assigned to quartzjer

[2012-02-01 01:05] quartzjer commented on #636
Great stuff, I'm so assigning myself to this :)

[2012-02-01 01:24] smurthas commented on #653
FWIW, this appears to only be happening in dashboard, not integral.

[2012-02-01 01:26] smurthas commented on #406
I haven't seen it in a while and CI has never encountered it, so I'm going to close it

[2012-02-01 01:26] #406 closed, assigned to amcjen

[2012-02-01 01:26] mdz opened #674 "me.json et al are getting created with world-writable permissions"
tutti:[~/src/singly/Locker/Me] ls -l */me.json */state.json
-rw-rw-rw- 1 mdz mdz 1389 2012-01-31 15:06 contacts/me.json
-rw-rw---- 1 mdz mdz 25 2011-11-18 17:21 contacts/state.json
-rw-rw-rw- 1 mdz mdz 855 2012-01-31 15:06 contactsviewer/me.json
-rw-rw-rw- 1 mdz mdz 711 2012-01-31 15:06 dashboardv3/me.json
-rw-rw-rw- 1 mdz mdz 1077 2012-01-31 11:06 dashboardv3/state.json
-rw-rw-rw- 1 mdz mdz 250 2

[2012-02-01 01:28] mdz commented on #653
What do you mean?

[2012-02-01 01:32] smurthas commented on #653
I mean that the bug is in locker code, not in integral code, despite the fact that they should be using the same code, implying that they are now out of sync and that we should use integral's version as a valuable diff to help find the bug.

[2012-02-01 02:07] smurthas commented on #667
I can't reproduce this. Could you check the log files and provide a bit more info?

[2012-02-01 02:21] mdz commented on #653
@othiym23 this is the bug @smurthas was talking about just now

[2012-02-01 04:03] othiym23 opened #675 "lutil.extend doesn't do what we want"
Ran across this when I found a bug around how I was storing profile information on a couple of my connectors. The synclet manager uses `lutil.extend` to add the objects returned by the synclet back into me.json. In the case where the preëxisting object is an array, it tries to put the object into the array rather than replacing the array with the object. This behavior arguably makes sense in the c

[2012-02-01 14:49] elsmorian commented on #642
Yup! Thanks :D

[2012-02-01 14:49] #642 closed, assigned to nobody

[2012-02-01 14:52] elsmorian commented on #598
My apologies guys, this was a result from me looking in the wrong place for the docs. I was unaware of teh difference between the collections API and query API :)

[2012-02-01 14:52] #598 closed, assigned to smurthas

[2012-02-01 15:00] elsmorian commented on #599
Again, this was mainly just me looking in the wrong place. I think it would be cool to have a bigger list of stuff to play around with in the Query section of the API explorer, and include this example in there :)

[2012-02-01 15:08] elsmorian commented on #600
Sure, I will have a think and make specific issues for each :)

[2012-02-01 15:08] #600 closed, assigned to nobody

[2012-02-01 15:14] elsmorian commented on #606
They don't seem to be showing up anymore!

[2012-02-01 15:14] #606 closed, assigned to nobody

[2012-02-01 15:21] elsmorian commented on #595
Agreed, the user shouldn't get the feeling they have to wait for the locker to be completely full to start using it. Quickly adding services would be quite nice with a series of checkboxes, account you want to add, and then one big connect button, which connects all services one by one and then guides to to the explore page?

A spinner at the top corner of each service icon when they are syncing m

[2012-02-01 16:59] smurthas opened #676 "An app's "code on github" link should be populated automatically"
Currently it is specified in the package.json, but that is easy to set incorrectly:

<img src="https://img.skitch.com/20120203-krt7cfshbjes1m9icrem22t7ug.png">

[2012-02-01 17:43] amcjen opened #677 "Timmeeez for a Profiles collection"
A lot of user profile functionality is getting pushed all the way to the client-side (at least for the account settings story).  It's probably time to consider a proper Profiles collection so any app or functionality can just retrieve it from here, instead of duplicating code all over the place.

[2012-02-01 17:53] quartzjer opened #678 "Places collection should geolookup lat/lng"
To make sure zip, state, timezone, etc is all available for all palces

[2012-02-01 18:50] merc3po opened #679 "Verify that the package is signed before apps show up in the gallery"
Feel free to rewrite this issue, comes as the last bit of work from #612.

[2012-02-01 18:51] merc3po commented on #612
This was deployed (w00t!) so I'm closing the issue and creating another one for verifying whether the package is signed before the app shows up in #679

[2012-02-01 18:51] #612 closed, assigned to quartzjer

[2012-02-01 19:50] merc3po opened #680 "Add more context to Create Account flow"
(This shows the experience at 1024width resolution.)

Screen 1 of the account creation flow
<img src="https://img.skitch.com/20120202-m2ge7w7rk5a4y2y45dkan6hbjb.png">

Screen 1, "Learn more"
<img src="https://img.skitch.com/20120202-t4xgpypm11rkn8wuf31nxynq5u.png">

Screen 2, see more services and show that we're getting Twitter w/out indicating a specific state "done" as per @temas' comment
<img

[2012-02-01 23:08] merc3po commented on #595
Okay great. Splitting this into a different issue for implementation since this covered a bunch of issues. #680 will cover the new account experience.

[2012-02-01 23:08] #595 closed, assigned to nobody

[2012-02-01 23:18] smurthas commented on #653
@othiym23 I'm in this code right now and the fix is simple, so I'm going to put it in the submodule

[2012-02-01 23:23] smurthas opened #681 "FitBit Connector requires fitbit-js"
It isn't included in the locker package, and it doesn't really feel right to add it. Will it be simple for us to move these deps to the connectors?

[2012-02-01 23:25] #653 closed, assigned to smurthas

[2012-02-01 23:53] kristjan commented on #459
I don't know anything relevant yet, but we could compromise by leaving migrations in but having a schema snapshot we kick off tests from. That way we have everything there for those managing a locker but don't incur the init cost during CI.

[2012-02-02 00:23] merc3po commented on #639
@smurthas I emailed a new one to you.

[2012-02-02 00:46] quartzjer commented on #679
DONE!

[2012-02-02 00:46] #679 closed, assigned to nobody

[2012-02-02 03:37] smurthas opened #682 "Publish UI should be read-only"
It is confusing to have a package.json and have "local" changes within the locker (from the publish screen). This screen should be for information checking only and have links to documentation about how to package and publish. Values should simply pass through from the package.json and a screenshot.png should be required as part of the app itself.

<b>Requires #689 and #700 to be done first; #707

[2012-02-02 03:39] smurthas opened #683 "Change CREATE page to DEVELOP"
DEVELOP is a much stronger call to action for a developer.

it's probably worth it to go through and change the div and section ids for consistency.

[2012-02-02 04:04] smurthas opened #684 "New DEVELOP section"
Structure + content captured in **Sections**. @merc3po, if you can put together a mock for the HOW IT WORKS page (content in the doc), that would be great - let me know if you need more info.

https://docs.google.com/a/singly.com/document/d/1fLsNmTW3_3mUO-8yGrL8ad395jHclO6i3Dnbx1SPJww/edit?hl=en_US&authkey=CKWQ79EB

[2012-02-02 04:10] smurthas opened #685 "Faster updates from GitHub app repos"
For repos that are apps, we should be getting updates faster.  For lockers exposed on a public url, we should be able to use http://developer.github.com/v3/repos/hooks/.

Could also use faster polling from GitHub when present in the dashboard or something like that, but IMO the repos push API is very straightforward and we need to address push soon anyways.

Total alternative: manual sync button(s

[2012-02-02 04:15] smurthas opened #686 "No more js/config.js for developing from file://"
More often than not, this results in an API getting checked into someone's repo. There are lots of options here.

My thought, a simple JS library that just wraped jquery's getJSON method if run from within a locker, or creates a hidden iframe loaded from the locker and uses postMessage to do ajax from within the iframe, avoiding the cross origin stuff altogether.

[2012-02-02 05:31] volkovasystems opened #687 "No photos.json in Locker/Me/facebook/"
I had an experiment because it has bugging me why there are no photos from my Facebook on the Photos Timeline since other collections are syncing well. There are public photos on my Facebook account so i am assuming that it will appear.

I deleted the entire Locker folder then started from scratch again (i did it today actually) using the detailed installation procedures with only using Facebook A

[2012-02-02 07:46] merc3po commented on #684
How It Works - Getting Started
<img src="https://img.skitch.com/20120202-xqr5wb1hsjhjwgt17t13mwidk.png">

Documentation - Build an App!
<img src="https://img.skitch.com/20120202-gy9axt4913a37292c78awkejam.png">

[2012-02-02 08:45] merc3po commented on #664
Who's adding an SMTP connector? What did you have in mind for an icon?

[2012-02-02 18:10] quartzjer commented on #662
I started looking at this, and there is a lot of broken logic in the devdocs index page now beyond just this error, I'm wondering what this page actually needs to do now?

[2012-02-02 18:17] quartzjer commented on #607
I'm going to close this as I don't think defaulting to (or even figuring out what "knows works" is) is good at all :)

Totally happy to have it reopened if you have a convincing reason why hard-bail isn't the best thing to do here!

[2012-02-02 18:17] #607 closed, assigned to nobody

[2012-02-02 18:19] quartzjer commented on #621
The source of this bug is going away in #682, if it comes back somehow after that it can be re-opened.

[2012-02-02 18:19] #621 closed, assigned to nobody

[2012-02-02 18:33] quartzjer commented on #608
I'm taking this off of USEIT as the cutover is May 1st, and it's confusing enough in their docs to make it a large unknown how this works yet.  I _think_ it means that new tokens we get after that date will be valid for 60 (not sure!) days, and expire unless the person comes back and we use their browser (?! not sure!) to exchange the token for a new one.

AFAICT the final word is if someone doesn

[2012-02-02 18:44] merc3po opened #689 "Reorganize leftnav"
Sections:

YOUR APPS
Apps you're developing, allows you to preview them
Apps stay here even after they're published

INSTALLED APPS
Apps you've installed

CONNECT MORE SERVICES
Services you can connect, full opacity

YOUR CONNECTED SERVICES
Services you've connected with your Singly account; 40% opacity

Leftnav you don't have any apps in development:
<img src="https://img.skitch.com/20120202-k931

[2012-02-02 18:45] quartzjer commented on #586
I think this is a simple change to use this as a base https://burrow.singly.com/registry/twitter/icon.png wherever the local icons are referenced, and enforce fixed sizes on the images (just in case icon.png isn't)... but it's lost on me how the common/template stuff works where I see references to it.

I don't think it's critical for USEIT so I'm changing the milestone, and am going to ask @smurt

[2012-02-02 18:49] quartzjer commented on #668
This code/view will disappear in #682.

[2012-02-02 18:49] #668 closed, assigned to nobody

[2012-02-02 18:53] #663 closed, assigned to quartzjer

[2012-02-02 18:54] merc3po opened #690 "Header reorganization/renaming"
Rename sections as follows:
You --> Explore
Explore --> App Gallery
Create --> Develop

Add 50px of buffer (currently set at 20px) between the leftnav and the rest of the chrome. (see mock below)
<img src="https://img.skitch.com/20120202-kq3xe6wudajeiu6p67bgp5r3ej.png">

[2012-02-02 18:55] smurthas commented on #662
This will be completey revamped, so don't worry about this error.

[2012-02-02 18:55] #662 closed, assigned to nobody

[2012-02-02 18:56] smurthas commented on #666
closing as this will be revamped shortly.

[2012-02-02 18:56] #666 closed, assigned to nobody

[2012-02-02 18:58] merc3po opened #691 "New navigation in Develop section"
Light gray (F2F2F2) box extends all the way to the edge of the page.
Contains links to documentation
Navigation is persistent, documentation pages load underneath it.
Links show in columns

Here's the same nav on Integral: https://github.com/Singly/integral/issues/191

<b>Here are the links and the content they link to: </b>
Build an App! (see #696)
API Explorer (loads existing page below the nav)

[2012-02-02 19:01] #656 closed, assigned to nobody

[2012-02-02 19:01] merc3po commented on #683
Closing this since the whole header needs to be renamed in #690

[2012-02-02 19:01] #683 closed, assigned to nobody

[2012-02-02 19:02] quartzjer opened #692 "Old collection /update logic won't work anymore"
It depended on being able to get all the data in a blob, which isn't feasible with larger data sets anymore.  Also due to #656 this isn't even possible if they don't switch to using streaming.

[2012-02-02 19:03] quartzjer commented on #657
This might get added in #682?

[2012-02-02 19:05] merc3po opened #693 "Write publishing documentation, package.json"
Stubbed

[2012-02-02 19:06] merc3po opened #694 "Flowchart for integral landing page"
Wireframe this and pass it to Merci.

[2012-02-02 19:06] merc3po opened #695 "Write content for Locker Develop landing page"
Stub

[2012-02-02 19:08] merc3po opened #696 "Rewrite "Develop Locally" as "Build an App""
It goes on this page under the develop-nav

<img src="https://img.skitch.com/20120204-95ujcgrsnk22twggbjtr4gefx.png">

[2012-02-02 19:09] merc3po commented on #684
This is getting broken into different, smaller issues: #689, #690, #691, #682, #693, #694, #695, #696, and #652

[2012-02-02 19:09] #684 closed, assigned to merc3po

[2012-02-02 19:16] merc3po commented on #694
Oops should have made this in Integral: https://github.com/Singly/integral/issues/170

[2012-02-02 19:16] #694 closed, assigned to smurthas

[2012-02-02 19:21] merc3po opened #697 "Deploy Sandbox environment for USEIT"
We're testing the sign-up context flow and the new Develop section in our next round of Usability testing. Let's deploy it for remote testing as our last action. :-)

[2012-02-02 20:30] smurthas commented on #607
Yep, makes sense.

[2012-02-02 20:48] merc3po opened #698 "Add forums to the site"
Let's use Vanilla Forums: http://vanillaforums.org/. Break this issue into smaller ones if applicable.

Forums will link from the Documentation navigation section of DEVELOP. (Will attach screenshots.)

[2012-02-02 21:18] merc3po commented on #660
This is related work on SendGrid: https://github.com/Singly/integral/issues/72

[2012-02-02 21:24] merc3po commented on #657
What repo does the issue get created in? @quartzjer actually can you write the text for this? I'll put it in a mock in #682 :)

[2012-02-02 22:15] temas opened #699 "Migration numbering is odd"
The numbering should be much simpler and clear, mostly this means fixing the substring.

[2012-02-02 22:17] merc3po commented on #657
This folds into #682, so I'm closing it.

[2012-02-02 22:17] #657 closed, assigned to quartzjer

[2012-02-02 22:22] #485 closed, assigned to amcjen

[2012-02-02 22:48] merc3po opened #700 "Move app details to top"
Looking at an app you did not develop:
<b>Title
Author
Data type ("with ____ from")
Icons of the services
Link to Github code</b>
<img src="https://img.skitch.com/20120202-k87f5h4irjt5q95qjptc5mgewe.png">

Looking at an app you developed:
<b>Title
Author
Data type ("with ____ from")
Icons of the services
Link to Github code
Publish button</b>
<img src="https://img.skitch.com/20120202-b9g6jyb7hmp2t

[2012-02-02 23:01] merc3po opened #701 "Rename all pre-installed apps to DEMO"
When you first start your account, you should have four apps pre-installed. These apps should be renamed to demonstrate that they are the "demo" versions of the apps.

Masonry = DEMO Photos App
Linkalatte = DEMO Links App
Hello Places = DEMO Places App
Basic Contacts = DEMO Contacts App

What the account holder sees when they arrive at their account for the first time:
<img src="https://img.skitch

[2012-02-02 23:16] merc3po opened #702 "App details view updates"
App details view of DEMO Photos Apps, an app that has already been added to the account.
Includes:
<b>Title
Author
Data type ("with ____ from")
Icons of the services
Link to Github code
Description
Version #
Action button
<img src="https://img.skitch.com/20120203-8h9gy5ey4439534jn8csmu2e1b.png">
1. Add an app (button state changes)
2. App moves to top of the list in "INSTALLED APPS" section of lef

[2012-02-02 23:17] merc3po opened #703 "App card improvements"
An individual card, showing:
<b>Title
Author
"This app uses:"
Icons of the services the app uses
A small screenshot</b>
<img src="https://img.skitch.com/20120203-f7m9etru96rgtkepsai25sfnbc.png">

An individual card, showing the hover state of the card (clicking opens the app details page seen in #702):
<b>Gradient goes from #CCCCCC to #E6E6E6 and back to #CCCCCC</b>
<img src="https://img.skitch.co

[2012-02-02 23:22] quartzjer opened #704 "public key in place in Config/keys and requireSigned:true"
Use a basic one to start

[2012-02-02 23:48] merc3po opened #705 "Move filter functionality to top of App Gallery"
Use the same light gray box as in #691 as the background for the existing filtering functionality in the App Gallery.

Showing the filters:
<b>Click "Hide filters" to toggle off</b>
<img src="https://img.skitch.com/20120203-tt3mr7w185aacxp8cdgmkud4d3.png">

Using the filters:
<b>Removing breadcrumbs for filters: the apps will just display below the filters but the breadcrumbs will no longer change

[2012-02-03 00:11] #639 closed, assigned to smurthas

[2012-02-03 00:13] smurthas commented on #639
@merc3po I set it load only show if loading takes more than 1000ms because it was pretty fast and mostly only showed

"l   o"

and then flashed away.

registry is faster enough that this almost never shows now, but will show in the event that the registry gets bogged down.

[2012-02-03 00:15] smurthas commented on #690
@merc3po Seems like on integral these should be

`| ABOUT | APP GALLERY | DEVELOP`

sounds good?

[2012-02-03 00:35] merc3po commented on #690
Yeah sounds good. I think that's an entirely separate story, redoing the left-nav and the header for integral. I'll look into it.

[2012-02-03 00:39] merc3po commented on #639
That sounds ideal! Thanks, homie!

[2012-02-03 01:34] #680 closed, assigned to amcjen

[2012-02-03 01:36] amcjen commented on #680
This is in the settings-ui branch, so once that's merged with master, this feature should show up.

[2012-02-03 01:56] smurthas opened #706 "LastFM being funky"
[code]

[2012-02-03 01:58] merc3po commented on #676
Updated w/ a more recent screenshot

[2012-02-03 02:07] merc3po commented on #690
Here's an issue for the Integral version: https://github.com/Singly/integral/issues/172

[2012-02-03 02:08] merc3po commented on #689
Here's the corresponding version for Integral: https://github.com/Singly/integral/issues/173

[2012-02-03 02:27] merc3po opened #707 "Write errors for each field on app submission"
Users will need to know what went wrong in a few words and either how to fix it or where in the documentation they should look. The error styling is in #682.

[2012-02-03 02:51] kristjan commented on #630
@merc3po I think I've got 'em all. Wanna take a run through and post any URLs that still need treatment? Optimistically closing the issue for now.

[2012-02-03 02:51] #630 closed, assigned to kristjan

[2012-02-03 03:10] smurthas commented on #690
done.

[2012-02-03 03:10] #690 closed, assigned to smurthas

[2012-02-03 05:40] smurthas commented on #676
There's not actually any UI work for this issue. Just need to update the publish scripts to auto-fill that correctly.

[2012-02-03 06:57] merc3po commented on #676
Yeah just trying to avoid any confusion. :)

On Feb 2, 2012, at 9:40 PM, Simon Murtha-Smithreply@reply.github.com wrote:

[2012-02-03 08:10] beaugunderson commented on #703
@merc3po It looks like the icons in the mock are a size between 24px and 32px; I used 24px because 32px was a tad too big

I also just realized that the cards should get a tad less wide than they are now according to the mockup

![screenshot](http://i.imgur.com/a0RGY.png)

[2012-02-03 16:16] smurthas commented on #689
An important point here, all the drop down details are to be removed from the left nav. They will be put back in with #700.

[2012-02-03 16:25] temas commented on #701
If we're only picking one demo photos app to start with, should it be masonry or timeline?

[2012-02-03 16:57] temas commented on #703
Done on shared-ui submodule.

[2012-02-03 16:57] #703 closed, assigned to nobody

[2012-02-03 17:30] merc3po commented on #701
Masonry (I wrote them all in the issue description above.)

[2012-02-03 17:30] merc3po commented on #701
Oops

[2012-02-03 17:39] quartzjer commented on #658
I'm looking at / trying to reproduce this...

[2012-02-03 17:50] temas commented on #701
Doh, precoffee brain on that one ;)

[2012-02-03 18:30] #658 closed, assigned to quartzjer

[2012-02-03 18:30] #701 closed, assigned to quartzjer

[2012-02-03 18:43] #700 closed, assigned to smurthas

[2012-02-03 18:49] merc3po opened #708 "Embiggen app cards, add the "Add to Account" button"
App card, default state:
<img src="https://img.skitch.com/20120203-2m27jirsp66u3x9hegk7jky5q.png">

App card, hover state on both the card and the button:
<img src="https://img.skitch.com/20120203-r61r84bn9eij1dp624jq758r9w.png">

App card, hover state on just the card:
<img src="https://img.skitch.com/20120203-j4rmsrwtm38yj9xgbihe88ygj.png">

App card, app has already been installed:
<img src="ht

[2012-02-03 18:52] quartzjer commented on #682
I'm starting on the parts of this that happen inside the frame, also related is #693 as the docs to link to.

[2012-02-03 19:05] kristjan opened #709 "Failure publishing app locally"
[code]

[2012-02-03 19:06] kristjan commented on #709
This may've happened because I neither uploaded a photo nor set a URL for one.

[2012-02-03 19:10] quartzjer commented on #709
the prepublish stuff is all normal (npm spits that out to stderr, part of the node 0.4x ver of npm we have to use afaict), but the lack of screenshot is the real bug here, this is being fixed in #682 too so I'm on it :)

[2012-02-03 21:24] #689 closed, assigned to amcjen

[2012-02-03 21:33] temas opened #711 "appHeader does not clear or update in some cases"
As an example my Rolodex Viewer does not show a header, possibly JSON parsing failures.  It also does not hide the previously selected viewer details on failure.

[2012-02-03 21:41] beaugunderson commented on #705
Is there any CSS hotness for the rounded blue checkboxes yet? (If not I'm confident I can whip some up)

[2012-02-03 22:06] kristjan opened #712 "Apps "See All" link broken"
Doesn't appear to lead anywhere; the main pane comes up empty.

![](https://img.skitch.com/20120203-kd78742kk27g5aqwkmxf18ecs1.png)

[2012-02-03 23:56] kristjan commented on #695
What's the difference between this and #696?

[2012-02-04 00:49] merc3po commented on #695
Nothing - good catch :)

[2012-02-04 00:49] #695 closed, assigned to nobody

[2012-02-04 01:21] merc3po opened #713 "Remove sub-header from leftnav"
Since the author and Github link are in the new appheader, let's remove this section from the leftnav:
<img src="https://img.skitch.com/20120204-bx432gt1kaxqw5qq953y8952qu.png">

[2012-02-04 01:26] #713 closed, assigned to kristjan

[2012-02-04 02:09] merc3po opened #714 ""Create Account" instead of "Submit""
<img src="https://img.skitch.com/20120204-816h735cm4ximqj74aat2wqk2y.png">

[2012-02-04 02:12] merc3po opened #715 "Account-creation button states not working"
In addition to the text changes on #714, the styling of the buttons isn't working.  #714 probably needs to be done first.

<b>
Correct behavior is:
button changes to 40% opacity
word "Create" becomes "Creating"
</b>

Currently on sandbox, the button does lose opacity and the word is different/doesn't change.

[2012-02-04 02:18] othiym23 opened #716 "Flickr auth redirects to Locker page in OAuth popup"
Instead of closing the window and redirecting back in the parent.

[2012-02-04 02:20] othiym23 commented on #716
Also, it doesn't successfully auth. This may be a sandbox-only issue.

[2012-02-04 04:49] merc3po opened #718 "Opacity missing on Connected services icon"
Found on sandbox:
<img src="https://img.skitch.com/20120204-qef2k9jh3mx4661u7u3iqrhhe8.png">

[2012-02-04 04:56] merc3po commented on #618
I'm still seeing this on Locker/Sandbox. I only authed Twitter, went through the new-account-experience and waited several minutes. No avatar. (I only authed Twitter to mimic what most usability participants did.)

<img src="https://img.skitch.com/20120204-nmkrfjgea57jsyuxn3wixtruc4.png">

[2012-02-04 21:31] temas commented on #618
While exploring running on windows this weekend I saw some odd behavior here.  I connected twitter and saw my icon for a bit, but then going form gallery -> explore again it went away.

[2012-02-04 21:43] temas commented on #707
Closing this as it's all tracked in #682 now.

[2012-02-04 21:43] #707 closed, assigned to nobody

[2012-02-05 02:44] merc3po opened #721 "Flickr auth broken on sandbox"
https://www.flickr.com/services/auth/?api_key=e2ef2f37f0fd359a8f08d90a39523fa5&perms=read&api_sig=3517392b66757cdf1aa8e504cc307878

Says requested URL not found.

[2012-02-05 02:53] merc3po opened #722 "Instagram photos appear as "No title" in Links (DEMO) app"
<img src="https://img.skitch.com/20120205-jtdsagc8j94b7hy31rm457rw98.png">

[2012-02-05 03:08] merc3po opened #723 ""create the first" link on App Gallery error is broken"
<b>Should go to the Develop section landing page. Needs #691 to be done.</b>

Clicking "create the first"
<img src="https://img.skitch.com/20120205-8h6hufd4jymxsswmtk8xmeewt9.png">

Takes you here: https://me.sandbox.singly.com/dashboard/appGallery#About-ForDevelopers
And it looks like this:
<img src="https://img.skitch.com/20120205-bruxdiryuq5fu8mi7m6hy91wsm.png">

[2012-02-06 00:54] merc3po commented on #667
I also haven't been able to reproduce this, so I'm going to close it. We can re-open if it appears again.

[2012-02-06 00:54] #667 closed, assigned to nobody

[2012-02-06 09:53] bassdread opened #724 "Text "No app like that exists...yet." Repeated"
Select a filter on Apps page (https://me.singly.com/dashboard/appGallery#AppGallery-Filter?&services=lastfm) for service with no apps and "No app like that exists...yet. Why don't you create the first?" is repeated.

[2012-02-06 09:55] bassdread commented on #724
http://twitpic.com/8gfcm3 shows the duplicated text

[2012-02-06 17:20] temas opened #725 "Github not pulling down all files"
The github synclet seems to not always pull down a complete set of files from a repository.  If it can only pull down a partial set it should not cache the last timestamp of the repository so that it can try again later to finish getting the files.  Currently the cached time gets set and the file state is stuck.  This could also be smart and schedule itself to run again more quickly to finish fetc

[2012-02-06 17:43] amcjen commented on #718
This is part of my story that got reverted.  Should be fixed today.

[2012-02-06 17:45] amcjen opened #726 "On first-use connect page, should not be able to click around in nav"
...because this takes you away from connecting services first, and is confusing from a user perspective.

@merc3po , are you good with us making the connect page on first-time signup locked in--meaning you can't navigate away from it until you connect at least one service?

[2012-02-06 17:55] merc3po commented on #726
Yeah that's the intended behavior. :-) (The rest of the nav should be grayed-out)

[2012-02-06 18:37] merc3po opened #727 "Link to forums.singly.com"
Make sure the Develop section in Locker has a link to forums.singly.com :-)

[2012-02-06 20:34] merc3po commented on #697
Removing this from the list, looks like we're on the same page for it and we don't need a unique instance for usability. :-) Thanks everyone.

[2012-02-06 20:34] #697 closed, assigned to mdz

[2012-02-06 20:51] smurthas commented on #711
fixed.

[2012-02-06 20:51] #711 closed, assigned to temas

[2012-02-06 20:51] smurthas commented on #676
done.

[2012-02-06 20:51] #676 closed, assigned to smurthas

[2012-02-06 22:04] amcjen commented on #718
This is fixed

[2012-02-06 22:04] #718 closed, assigned to amcjen

[2012-02-06 22:08] smurthas opened #728 "dust compiled_templates.js shouldn't be committed"
as per LockerProject/shared-ui#2

[2012-02-07 00:38] mdz opened #729 "Add more account servers"
We should have some reserve capacity online and ready to go

[2012-02-07 00:52] mdz commented on #721
This needs @smurthas to merge @othiym23 's pull request in order to fix this bug

[2012-02-07 01:06] smurthas commented on #714
This is on integral. fixed.

[2012-02-07 01:06] #714 closed, assigned to smurthas

[2012-02-07 01:08] mdz opened #730 "/#Develop should go to the Develop section"
dev.singly.com redirects here

[2012-02-07 01:10] smurthas commented on #715
does this happen anywhere that I should use as an example?

[2012-02-07 01:27] merc3po commented on #715
So the text change should happen on Publish UI too, but the opacity issue is more pressing (since you end up pressing twice and then it gives you a JS window error) and impacts the sign-up flow.

[2012-02-07 01:27] smurthas commented on #715
this was an integral issue. fixed now.

[2012-02-07 01:27] #715 closed, assigned to smurthas

[2012-02-07 01:41] #633 closed, assigned to kristjan

[2012-02-07 05:57] merc3po commented on #698
The forums are up on forums.singly.com; #691 has details for linking to there from the new develop section navigation.

[2012-02-07 05:57] #698 closed, assigned to merc3po

[2012-02-07 06:12] merc3po commented on #652
We're going to link to the forums in the Develop section nav instead and not have this in the topright nav.

[2012-02-07 06:12] #652 closed, assigned to nobody

[2012-02-07 06:23] merc3po commented on #691
Realized we don't need #727...

[2012-02-07 06:23] merc3po commented on #727
You know what, covered in #691.

[2012-02-07 06:23] #727 closed, assigned to nobody

[2012-02-07 06:34] merc3po commented on #371
Since this is covered in #613 I'm closing it.

[2012-02-07 06:34] #371 closed, assigned to nobody

[2012-02-07 09:14] beaugunderson commented on #705
It's all there except the blue checkboxes... Wanted to do some more research into a good crossbrowser way to implement them. Also, this is a big change and needs to be well-tested. :)

[2012-02-07 15:17] elsmorian opened #732 "dashboardv3 logs 'info' style logs when level set to 'error'"
Outputs lots of

[dashboardv3] The "sys" module is now called "util". It should have a similar interface.
[dashboardv3] no oauthSize for connector pandora, using default of width:960px, height:600px
no oauthSize for connector glatitude, using default of width:960px, height:600px
[dashboardv3] no oauthSize for connector pandora, using default of width:960px, height:600px
[dashboardv3] no oauthSize

[2012-02-07 16:00] elsmorian opened #733 "Locker started and ready message is an INFO"
It would be handy to have this logged at all levels, or maybe just output to stout just to know when the locker has done setting up its stuff.

[2012-02-07 16:05] elsmorian opened #734 "GLatitude connection popup is empty"
On a brand new locker, clicking connect to connect GLatitude popups a blank popup where the Google OAuth stuff is supposed to be. No errors are output. Popup address is about:blank.

[2012-02-07 18:17] garyp opened #735 "google contacts fetching broken"
just logging this before i forget about it. the google contacts connector is broken with the move to node v6 because of a bug in the gdata-js library: the http connection to google's servers stays open, causing the synclet to hang and not make progress.

i've submitted a pull request for the bug fix: https://github.com/smurthas/gdata-js/pull/4. once that's integrated, locker should update its depe

[2012-02-07 18:19] #728 closed, assigned to smurthas

[2012-02-07 19:45] smurthas commented on #696
realistically, this page will change quite a lot when we do #686, but for now, I can take the Develop Locally page, bring it up to date and style it.

[2012-02-07 19:47] merc3po commented on #696
Sweet. :)

[2012-02-07 20:29] mdz opened #736 "[search] node: symbol lookup error: /home/node_modules/sqlite-fts/build/Release/sqlite3_bindings.node: undefined symbol: _ZN2v82V815MarkIndependentEPPNS_8internal6ObjectE"
This is happening on sandbox right now (build 469)

[2012-02-07 20:35] merc3po commented on #734
@erictj is Google Latitude part of the main product now? If so, let's fix this for OPENIT.

[2012-02-07 20:56] mdz opened #737 "Fatal errors from subprocesses aren't logged at all"
I noticed this when tracking #736. It dies from a runtime linker error, and I only caught it by seeing it on the console. There was nothing in the locker logfile.

[2012-02-07 21:14] mdz commented on #286
@merc3po no

[2012-02-07 21:38] mdz commented on #736
Fixed

[2012-02-07 21:38] #736 closed, assigned to mdz

[2012-02-07 21:38] mdz commented on #736
this was due to an outdated node in the chroot tarball used on sandbox

[2012-02-07 22:41] quartzjer opened #738 "connect buttons on first screen don't work"
On this screen, on a new locker:
http://jeremie.com/i/d9f580869b82100225a5b997c0b7a236.png

When clicking on the connect's, it pop's up a blank window that doesn't do anything (no requests hit locker core either afaict).

[2012-02-07 23:16] #682 closed, assigned to quartzjer

[2012-02-07 23:17] quartzjer commented on #693
It's linked to from the new publish screen when fields are missing, it's more novel than a novel, but it's something!

[2012-02-07 23:17] #693 closed, assigned to quartzjer

[2012-02-07 23:28] merc3po opened #739 "Missing first screen of new account experience"
Currently on Sandbox, you go immediately to the complete list of apps.

In the spec for the New Account Experience, it shows a screen w/ just Twiter + Facebook as your initial choices for creating an account. The reason for this is that Twitter and Facebook have enough data to populate the four demo apps, whereas if you just sign up with Fitbit or Pandora or Foursquare, you won't be able to explor

[2012-02-07 23:29] #618 closed, assigned to quartzjer

[2012-02-08 01:44] smurthas opened #740 "API Explorer styling is messed up"
looks like this: http://bit.ly/xTwLGZ

[2012-02-08 01:44] othiym23 commented on #618
Just so everyone knows, I flipped the default order from Facebook -> Twitter to Twitter -> Facebook. This is entirely to satisfy my own vanity, because I hate my Facebook avatar and don't want to have to futz with Facebook long enough to change it.

[2012-02-08 01:45] merc3po opened #741 "Instagram photos not loading in my Locker"
Looks like this: <img src="https://img.skitch.com/20120208-dfac3ry8puwkimqdj86k2i6fc.png">

[2012-02-08 02:00] merc3po commented on #618
Ha! That is both acceptable and funny. It shouldn't really be in an order though, it should be whichever they authed first. If they did FB first, then it's their FB; Twitter first, it's their Twitter ID. I think this relates to the FB/Twitter page being missing from the new account experience - #739

[2012-02-08 02:05] othiym23 commented on #618
It makes sense to use whichever authed first, but to do this would require more changes than are worth the effort right now, due to the way that the code pulls the profiles from the map. The right way to do it would be to pull the avatar at auth time and cache it within the locker. I'll create a new issue describing how that could be done and we can prioritize accordingly.

[2012-02-08 02:05] merc3po commented on #618
Okay thanks. :-)

[2012-02-08 02:07] othiym23 opened #742 "first-time auth should cache an avatar in Me/dashboardv3/avatar.png"
See #618 for details. This will ensure that the avatar is local and also ensure that the avatar displayed is always the first one that was found during the auth process.

[2012-02-08 02:23] smurthas opened #743 "Clicking around messes up the filter"
Clicking on DEVELOP and then to APP GALLERY results in this: http://bit.ly/wKhWnG

[2012-02-08 02:36] beaugunderson commented on #743
I'm on it (will you assign it to me?)

[2012-02-08 10:38] beaugunderson commented on #724
This no longer happens with the new filtering code :)

[2012-02-08 17:18] smurthas opened #745 "Empty modal"
I see this all the time. Right now I have GitHub connected. Seems as though the "Connect" screen and "Got It" modal aren't quite figuring out whether I have services connected all the time?

http://bit.ly/w6Vz2x

Adding to USEIT because I see it ALL THE TIME, but if I'm the only one, then we can move it to OPENIT.

[2012-02-08 17:32] othiym23 commented on #745
You are not the only one. I get it a lot when using the back button, so maybe it's a weird interaction between our code and jQuery.history.

[2012-02-08 17:36] smurthas opened #746 "Can still get to other pages when no services are connected"
http://bit.ly/xfJ2SP

[2012-02-08 17:54] smurthas opened #747 "Apps not syncing correctly"
apps are showing up in the top left nav, but they haven't been properly synced. http://bit.ly/Ati1ux

The actual repo code: https://github.com/smurthas/PhotosViewer
What got synced to disk: http://bit.ly/yMzmHI (just package.json, css, and .gitignore)

[2012-02-08 18:10] smurthas commented on #725
(from #747)

apps are showing up in the top left nav, but they haven't been properly synced. http://bit.ly/Ati1ux

The actual repo code: https://github.com/smurthas/PhotosViewer
What got synced to disk: http://bit.ly/yMzmHI (just package.json, css, and .gitignore)

If it doesn't pull down every single file successfully, it **definitely** shouldn't upsert into the map

[2012-02-08 18:11] smurthas commented on #747
Closing as it appears to be a dupe of #725

[2012-02-08 18:11] #747 closed, assigned to nobody

[2012-02-08 18:21] kristjan commented on #725
Same problem on https://github.com/kristjan/prolific_posters

Got package,json, css, .gitignore and README.md: http://cl.ly/1W3n3m1x2a1w290D1g2k

[2012-02-08 18:58] smurthas commented on #725
Oh, interesting. That seems like it might be a bug in our code if we both only got the css dir?

[2012-02-08 19:24] merc3po commented on #691
Took out the "Example Apps" section from this nav - we'll get to it later.

[2012-02-08 19:30] merc3po opened #748 "Create "example apps" section for Develop"
Let's spend some time making some excellent example apps for the Develop section.

[2012-02-08 19:42] #738 closed, assigned to kristjan

[2012-02-08 21:06] othiym23 opened #749 "having DevDashboard and UseUI in the tree is confusing"
They don't work with the registry and occasionally lead bystanders astray. We should remove them.

[2012-02-08 21:18] temas commented on #705
Done by Beau

[2012-02-08 21:18] #705 closed, assigned to beaugunderson

[2012-02-08 21:19] temas commented on #708
Done by Beau

[2012-02-08 21:19] #708 closed, assigned to beaugunderson

[2012-02-08 21:19] temas commented on #743
Done by Beau

[2012-02-08 21:19] #743 closed, assigned to beaugunderson

[2012-02-08 21:21] mdz commented on #749
+1

##
- mdz

[2012-02-08 21:26] temas commented on #749
remove them now!  They have a backup in git!

[2012-02-08 21:42] smurthas opened #750 "History doesn't work on DEVELOP section"
@erictj sorry if you are still working on this. I just noticed it and wanted to make sure it doesn't get forgotten.

[2012-02-08 21:49] #749 closed, assigned to nobody

[2012-02-08 22:16] smurthas opened #751 "Confusing experience without any data"
When using an app for which there is no data, things are pretty confusing: http://bit.ly/ytOd3K

We solved this before by checking the uses.types info and seeing if those collections had any data. If they didn't we would show a splash page, which could be a call to action to add services for which there are, in this case, photos.

@merc3po assigning to you as this will need some UX thought before

[2012-02-08 22:54] smurthas opened #752 "Author info is missing from map"
Despite it being populated in the package.json file (in the tree, in the reg, and in Me/node_modules), the author field doesn't show up in the map. This field is needed for the appHeader.

[2012-02-08 22:56] kristjan commented on #745
Seems to happen not when I click on a Develop age, but when I reload one

[2012-02-08 23:02] merc3po commented on #751
Ah yeah totally. I'll work on this.

[2012-02-08 23:03] smurthas opened #753 "Language for Connect page"
and

and then

Really, it should say Locker instead of Singly account and be swapped out. If that's straight forward, let's do it, otherwise we can come back and fix it in a few days.

[2012-02-08 23:05] smurthas commented on #745
Yes, I also get it on reloading.

[2012-02-08 23:23] othiym23 opened #754 "new user experience is showing all connectors"
Should only be showing Facebook and Twitter (or maybe GitHub -- but in any case not all available connectors).

F

[2012-02-08 23:27] othiym23 opened #755 "new user experience is not updating buttons properly"
When connecting to a service, the button should change from the enabled, "CONNECT" state to the disabled, "CONNECTED" state. RIght now it stays on "CONNECT" and enabled.

[2012-02-08 23:45] merc3po commented on #751
@smurthas do you have a screenshot of the old splash page? I never saw it.

[2012-02-08 23:45] smurthas commented on #751
It wasn't very good. didn't have alls to action or anything just said something like "Singly makes you data great!".

[2012-02-09 00:00] amcjen commented on #691
Will need the content for the following pages:

Chat with the team!
Templates + Icons

[2012-02-09 00:01] amcjen commented on #691
Example Apps has been removed

[2012-02-09 00:02] #723 closed, assigned to nobody

[2012-02-09 00:10] merc3po commented on #691
Those pages both exist already on our current Singly.com.

Here's "Chat with the team!" - which I'd like to change to "Find us on IRC" - https://singly.com/#Develop-Chat
And here's Templates + Icons - https://singly.com/#Develop-TemplatesIcons

[2012-02-09 00:11] merc3po commented on #754
I filed this bug already :-) --> #739

[2012-02-09 00:11] #754 closed, assigned to nobody

[2012-02-09 00:13] amcjen commented on #691
Where do those pages live?  They look like they're in integral?

[2012-02-09 00:13] merc3po commented on #745
I'm getting this all the time, too. Both clicking around the develop section and it's still there when I reload. I have to sign out and back in to get rid of it. Happening on Sandbox.

[2012-02-09 00:14] merc3po commented on #691
Yeah they're on integral but that information should also be accessible when someone is signed-in.

[2012-02-09 00:20] #745 closed, assigned to kristjan

[2012-02-09 00:20] merc3po opened #756 "something else"
something

[2012-02-09 00:25] amcjen commented on #740
Fixed!

[2012-02-09 00:25] #740 closed, assigned to nobody

[2012-02-09 00:27] #752 closed, assigned to quartzjer

[2012-02-09 00:29] amcjen commented on #750
Is there something special I need to do for saving the nav in DEVELOP to the $.history?  I've never used that plugin before.

[2012-02-09 00:40] amcjen commented on #691
N/m, I brought them over.  Good to go! This story is ready for review/close :)

[2012-02-09 00:43] amcjen commented on #739
hm, this used to work.  Must've reverted.  I'll fix

[2012-02-09 00:46] #360 closed, assigned to quartzjer

[2012-02-09 01:05] merc3po commented on #691
Fuck yeah!

[2012-02-09 01:14] #739 closed, assigned to amcjen

[2012-02-09 01:37] #753 closed, assigned to kristjan

[2012-02-09 01:38] #726 closed, assigned to amcjen

[2012-02-09 01:39] #691 closed, assigned to amcjen

[2012-02-09 02:07] merc3po commented on #756
k taking it out

[2012-02-09 02:07] #756 closed, assigned to merc3po

[2012-02-09 02:16] othiym23 commented on #613
This is not only closed, but in production (pending the update of production's config.json to point at the correct endpoint). No more MEGABLOX!

Some of the validation styling could use a little help. File as bugs if noticed.

[2012-02-09 02:16] #613 closed, assigned to othiym23

[2012-02-09 02:31] smurthas opened #757 "After publishing, issue link doesn't work"
The link is command-clickable (into a new tab), but not just regular-clickable.

[2012-02-09 02:33] smurthas commented on #696
done!!!

[2012-02-09 02:33] #696 closed, assigned to smurthas

[2012-02-09 02:39] kristjan opened #758 "Develop-Publish content missing"
Dunno where it went, @smurthas swears he saw it there.

[2012-02-09 02:41] kristjan opened #759 "Navigating away from Develop-Publish loses one item in your history"
See 664c07f for details

[2012-02-09 02:53] jasoncavnar opened #760 "can't re-auth services after disconnect."

[2012-02-09 02:53] #760 closed, assigned to nobody

[2012-02-09 02:56] othiym23 opened #761 "reauth is failing from account settings"
Go to auth services, deauthorize it, try to reauthorize it.

Window opens, doesn't display anything, reauth doesn't happen.

[2012-02-09 02:57] othiym23 opened #762 "account info isn't getting pulled down from integral properly"
Go to account settings, your name and email address aren't getting populated correctly.

[2012-02-09 03:09] #762 closed, assigned to nobody

[2012-02-09 03:27] mdz commented on #750
I reverted 664c07f because it broke the build in CI and I didn't know how to fix the failing test

[2012-02-09 05:00] #724 closed, assigned to nobody

[2012-02-09 05:42] #721 closed, assigned to othiym23

[2012-02-09 05:44] smurthas opened #763 "Empty initial connect screen"
When first opening dashboard (empty me dir): http://bit.ly/w0KfD0

[2012-02-09 05:45] smurthas opened #764 "Half connect screen / half explore screen"
after connecting 1 service, refreshing the page (or closing and reopening) does this: http://bit.ly/zPG1f1

[2012-02-09 06:26] merc3po opened #765 ""Connect" buttons are editable"
If you click on a button you're able to edit the text in it

<img src="https://img.skitch.com/20120209-t378bgi3etpf3s8tfjta2kkyam.png">

[2012-02-09 06:37] quartzjer opened #766 "photo collection proxy image data"
In order to process the data in the browser w/o cross-domain issues, the photo collection should optionally proxy the image itself and add the right headers too, including main image and thumbnail.

[2012-02-09 06:38] #766 closed, assigned to quartzjer

[2012-02-09 06:48] othiym23 commented on #765
This is fixed for account settings in ad7b696e39731e44354db42167e30ff75a0f4658, which is currently in production. There may be other incidences of this lurking in the codebase, though.

[2012-02-09 08:34] #761 closed, assigned to nobody

[2012-02-09 08:56] #765 closed, assigned to nobody

[2012-02-09 17:54] smurthas commented on #686
This is just about the simplest proposal that I could come up with: https://gist.github.com/1781534

First bit would be a file hosted that all app would include, second bit is just a simple usage example, just create a Singly client and make API calls. It will do a simple javascript prompt for an API if the protocol is `file:` and then save it to sessionStorage (so that it clears when the browser

[2012-02-09 17:57] merc3po opened #767 "email"

[2012-02-09 17:58] merc3po opened #768 "Email address showing up in appheader"
This shouldn't appear - just their name.
<img src="https://img.skitch.com/20120209-g3jrgy5mqt3t8aqy13hh4xe1fh.png">

[2012-02-09 18:01] merc3po opened #769 "Facebook auth not working from Account Settings"
I disconnected and attempted to reconnect my FB account from my real Locker (on the live site) and it opens up a blank window. The status bar at the bottom says "Waiting for me.singly.com" eternally.

[2012-02-09 18:23] merc3po opened #770 "Error message when there's no data for an app"
Let's show this error message and arrow so that people have some action they can take when an app doesn't have any data to display:
<img src="https://img.skitch.com/20120209-nq56jephyac5kxdrhudukde1ai.png">

Solves for #751

[2012-02-09 18:23] merc3po commented on #751
Created #770

[2012-02-09 18:23] #751 closed, assigned to merc3po

[2012-02-09 18:24] quartzjer commented on #686
Looks good, +1 here, only thing I'd suggest is making it API() or something more generic, not using Singly() :)

[2012-02-09 18:26] smurthas commented on #686
Ya, I thought about that. It's a bit generic, but I think it will work.

[2012-02-09 18:28] quartzjer commented on #750
YAY done

[2012-02-09 18:28] #750 closed, assigned to nobody

[2012-02-09 19:07] quartzjer commented on #763
I can't reproduce this, I'm going to close it and can be reopened if it happens again

[2012-02-09 19:07] #763 closed, assigned to quartzjer

[2012-02-09 19:41] othiym23 commented on #686
+1, but in contrast to @quartzjer I like the idea of having it be named Singly(). Too many generic APIs out there already!

[2012-02-09 19:42] othiym23 commented on #767
?

[2012-02-09 19:42] quartzjer opened #771 "show the last-updated time in publish preview"
and a button to force a re-sync, to make sure dev has newest to publish

[2012-02-09 19:43] othiym23 commented on #769
This will be fixed by another deploy -- see #761 / 3ca75dcf4afd858e3aed3fb55cfe4b6e95fcc58d.

[2012-02-09 19:43] #769 closed, assigned to nobody

[2012-02-09 19:47] #757 closed, assigned to quartzjer

[2012-02-09 19:51] #758 closed, assigned to kristjan

[2012-02-09 19:55] quartzjer commented on #686
I've had problems in the past with using company and/or possibly trademarked names in code, always good to avoid and be generic if possible, esp if the symbol will be hard-wired for a long time :)

[2012-02-09 19:57] othiym23 commented on #686
That's a good point -- maybe we can give it a non-Singly but still distinctive name. I suggest Trukkknutttz!

[2012-02-09 19:59] beaugunderson commented on #686
I like this, but checking for the 'file:' protocol might be too narrow (it excludes people using their own webservers, which is how I work). I think checking for the 'file:' protocol or a non-singly domain would make this work for both uses cases. :)

[2012-02-09 20:38] smurthas commented on #686
the problem with a non-singly domain, is that running in a local (development) locker on localhost or lvh.me will force you to enter an api key. What I'll do is move the baseUrl out a a global, so that you can use a config.js still to set it for local development if you want to run behind a local server and it won't override.

[2012-02-09 20:48] smurthas commented on #686
This is merge into master. Further improvements can be new issues.

[2012-02-09 20:48] #686 closed, assigned to nobody

[2012-02-09 21:38] merc3po opened #772 "Leftnav not showing up in App Gallery"
Not sure why this is happening - the leftnav should be consistent across all sections of the site now. (The "featured" section should no longer appear.)

<img src="https://img.skitch.com/20120209-k58r8u5i264dt465mm8pmw7gs2.png">

[2012-02-09 21:42] quartzjer commented on #741
I've reproduced and it seems like crazytime, the 302 to redirect to the HTTP url for the image SOMEHOW gets turned into an HTTPS along the way

[2012-02-09 22:11] merc3po opened #773 "Open "Forums" link in a new tab"
Apparently the usability testers are wary of opening something that they think won't open in a new tab if it's off-site. Also, if you try to open it in a new tab by holding "command" while you click (on a Mac), it does not work. Seemed weird.

[2012-02-09 22:11] merc3po opened #774 ""Your locker" should be "Your Singly account""
We're not using locker as a user-facing word, at LEAST not during the account creation flow.

Your Singly account saves the data from these services data for you, it doesn't post to them (unless you explicitly ask!).

Your Singly account saves and normalizes your data from these services so that, for instance, your contacts from Twitter, Facebook, Instagram, Flickr, etc. are all saved in your indi

[2012-02-09 22:22] merc3po opened #775 "Super slow weirdness on Sandbox"
I'm getting (random) pages loading ~2 minutes on a consistently inconsistent basis. Based on the JS error console it appears to be different files each time.

On this particular page load, /develop [dashboard] loaded after 2 minutes, but then these weird little files kept loading until I killed the page after ~7 minutes.

If we could investigate and kill this before usability testing that would be

[2012-02-09 22:36] othiym23 commented on #746
Simon clicked away during the signup process, before he'd connected any services.

Let's make connecting services during initial setup modal. It should not go away until you connect something. After you connect one, you still have the chance to connect more before you dismiss it.

[2012-02-09 22:39] othiym23 commented on #685
@quartzjer is going to add a Sync button to the publish page. This will  be good enough for OPENIT, but the rest of this is future work.

[2012-02-09 22:42] othiym23 commented on #660
Lindsay specified what we want for OPENIT: https://docs.google.com/a/singly.com/document/d/1Pl9PquNgtmz58R4kNOcT3zJQCVRtVmuz4gIwD-qwxNk/edit?authkey=CPKk0RM&authkey=CPKk0RM

[2012-02-09 22:46] othiym23 commented on #767
It was hard, but we did it.

[2012-02-09 22:46] #767 closed, assigned to nobody

[2012-02-09 22:48] othiym23 opened #776 "Roll out LinkedIn"

[2012-02-09 23:37] mdz commented on #776
This includes at least:
- getting a LinkedIn API key for sandbox
- adding it to sandbox's apikeys.json
- confirming LinkedIn works properly on sandbox
- getting a LinkedIn API key for production
- adding it to production's apikeys.json
- restarting all production accounts

[2012-02-09 23:38] mdz commented on #776
None of this work is actually in Locker, interestingly, but we don't have a better place for it at the moment

[2012-02-09 23:50] kristjan commented on #764
This appears to have been subsumed by another change. Now when you first install, you immediately see the list of all available connectors.

[2012-02-10 00:36] quartzjer commented on #741
Seriously. Seriously?! https://github.com/elfsternberg/node-http-proxy/blob/411bb51cc6/lib/node-http-proxy/http-proxy.js#L216

[2012-02-10 00:41] jasoncavnar opened #777 "i deactivated facebook and want to reactivate it."

[2012-02-10 00:47] mdz commented on #777
Is this different from #760, #761 and #769?

[2012-02-10 01:24] corntoole opened #778 "Intermittent Error when sending twitter contact"
The following error: `TypeError: Object #<Object> has no method 'connectToMongo'` keeps occurring in my local instance of Locker when attempting to send a contact to the database
Here is my environment info:

[code]

Here is a paste of the error:

[code]

[2012-02-10 02:18] mdz opened #779 "Denying requested access to a service yields an ugly error page"
Tested with Google, clicked on it, selected an account in the popup, and then chose "no thanks"

The result was that the popup window showed only "very bad request"

[2012-02-10 03:58] mdz opened #780 "Hanging requests when proxying keepalives to dashboard"
ab -k -n 1000 http://localhost:8042/core/revision # core endpoint - behaves normally
ab -k -n 1000 http://localhost:8042/dashboard/js/dashboard.js # proxied static content - hangs
ab -n 1000 http://localhost:8042/dashboard/js/dashboard.js # without keepalives - behaves normally

[2012-02-10 03:59] mdz opened #781 "Slow performance when proxying keepalives to devdocs"
ab -k -n 1000 http://localhost:8042/core/revision # core endpoint - behaves normally
ab  -n 1000 http://localhost:8042/Me/devdocs/js/common.js # proxied static content - behaves normally
ab -k -n 1000 http://localhost:8042/Me/devdocs/js/common.js # with keepalives - very slow!

[2012-02-10 04:00] mdz commented on #780
@quartzjer suspects node-http-proxy

[2012-02-10 04:00] mdz commented on #781
@quartzjer suspects node-http-proxy

[2012-02-10 04:01] mdz commented on #780
@merc3po I think this is the issue you noticed on sandbox (it is easily reproduced locally or on production as well)

[2012-02-10 04:07] mdz commented on #780
I tried rolling back to node 0.4.9 and http-proxy 0.7.0 and the issue is still present there

[2012-02-10 04:10] mdz commented on #781
I tried rolling back to node 0.4.9 and http-proxy 0.7.6 and the issue is still present there

[2012-02-10 04:12] mdz commented on #780
Reproducible as far back as e5cb98a218ea451ded6187883028a7adf0b6ee98 so far

[2012-02-10 04:22] merc3po opened #782 ""Add to Account" buttons shouldn't be bold"
Very minor styling issue
<img src="https://img.skitch.com/20120210-883gg93mdt6t215kqkbyq8p7hx.png">

[2012-02-10 04:29] merc3po opened #783 "No photos appear in Photos (DEMO) app w/ only Twitter connected"
This seems odd
<img src="https://img.skitch.com/20120210-djakkw515n9kas45spdwanf575.png">

[2012-02-10 04:42] merc3po opened #784 "Inconsistent alignment on Develop section"
Really minor setup
<img src="https://img.skitch.com/20120210-q92p35m39y9ns86dbqa3anqbet.png">

[2012-02-10 05:48] quartzjer commented on #781
I tried a bunch of things and while I did see some strange differences, it depended a lot on what system I was using ab on and if it was over the network, often there was no difference.

I've found numerous suggestions that ab doesn't work with node, one of the examples: http://www.subbu.org/blog/2012/02/benchmarking-node-js-0-6-x-or-later

I tried siege and httperf and couldn't reproduce this eit

[2012-02-10 05:50] quartzjer commented on #780
See #781, I did a bunch more testing and have found out ab and node don't get along, and tried to reproduce using seige and httperf which both worked fine here, no random lags or hangs regardless of changing keepalives and concurrencies.  Going to close this as well, seems like a dead end on the possible hang :(

[2012-02-10 05:50] #780 closed, assigned to nobody

[2012-02-10 06:25] quartzjer commented on #741
fixed in integral using my fork w/ the bad logic commented out for now

[2012-02-10 06:25] #741 closed, assigned to quartzjer

[2012-02-10 06:26] quartzjer commented on #741
filed as an issue at https://github.com/nodejitsu/node-http-proxy/issues/192 too

[2012-02-10 06:30] jasoncavnar commented on #777
The others were closed.  didnt know you can comment on closed issues?

[2012-02-10 07:04] quartzjer commented on #783
I just did this today from scratch and had mine show up, maybe someone
else can reproduce either way?

On Thu, Feb 9, 2012 at 10:29 PM, Merci Victoria Grace
reply@reply.github.com
wrote:

[2012-02-10 07:10] quartzjer commented on #778
It looks like perhaps you have had your locker directory around since
last summer or before?  The hash code in there has to be from back
then, and I don't think that old of a Me/ directory is likely to work.

Is there data you want to keep in your Me/ directory? If not, you
should rm -rf Me/ and start over, if there is let me know and I'll
help you clean it up by hand over IRC/IM :)

On Thu, Feb 9

[2012-02-10 07:11] quartzjer commented on #778
Maybe not rm -rf Me/ but just "mv Me Me.old" so you don't loose it
just in case :)

On Fri, Feb 10, 2012 at 1:10 AM, Jeremie Miller jeremie@jabber.org wrote:

[2012-02-10 16:04] temas commented on #775
Very odd, seeing this as well.  Investigating.

[2012-02-10 16:13] temas commented on #775
I can replicate this by hand with openssl s_client -connect localhost:443 and sending it a valid request.  It hangs for a long time.  The same request sent directly to my locker is immediately served.  So that definitely isolates this as an integral issue.

[2012-02-10 16:15] quartzjer commented on #775
I'm on gogo, but haven't seen anything take more than the expected 10-20sec expected here.

[2012-02-10 16:18] quartzjer commented on #783
Reproduced, seems there's none of my own tweets pulled in: https://me.sandbox.singly.com/Me/twitter/getCurrent/tweet?limit=10

[2012-02-10 16:27] corntoole commented on #778
I renamed the directory and that seems to have fixed that issue. Thanks.
On the data recovery issue, I'm sure a good bit of the data (e.g. twitter timeline) got re-downloaded, but I would like to know how to recover it.

[2012-02-10 16:27] #778 closed, assigned to nobody

[2012-02-10 16:29] temas commented on #775
Again it's gone again.  The intermittent nature of this is annoying and not allowing me to isolate it.

[2012-02-10 17:02] quartzjer opened #785 "twitter connector tweets synclet should do paging"
It should return in chunks versus a long-running slow everything batch (that takes too long on first connect if you have a bunch of tweets)

[2012-02-10 17:02] quartzjer commented on #783
Wrong url, it's https://me.sandbox.singly.com/Me/twitter/getCurrent/tweets?limit=10 and they're there now, it just takes a LONG time to fetch them, I have photos now too.  I'm going to close this and opened #785 as it's the real problem.

[2012-02-10 17:02] #783 closed, assigned to nobody

[2012-02-10 17:35] mdz commented on #781
I can reproduce this with wget easily:

tutti:[~/src/singly/Locker] time (count=250; while [ $count -ge 0 ]; do wget -q -O /dev/null http://localhost:8042/core/revision; count=$(($count-1)); done)
( count=250 ; while [ $count -ge 0 ]; do; wget -q -O /dev/null ; count= ; done  0.30s user 0.74s system 49% cpu 2.095 total
tutti:[~/src/singly/Locker] time (count=250; while [ $count -ge 0 ]; do wget -q

[2012-02-10 17:41] mdz commented on #781
That one is a different test case I suppose, since it is only fetching one URL per connection (though as you can see, enabling/disabling keepalives does make a difference anyway)

[2012-02-10 17:45] quartzjer commented on #781
I would expect different behaviors for sure, and I'm not sure which I'd expect to perform better even, but I don't think it's the root cause of any real issue to keep open?

When we get to needing to optimize massive http to an individual locker, I'm pretty sure we'll be refactoring out the http proxy from the stack anyway :)

[2012-02-10 17:48] mdz commented on #781
I can't reproduce bad behavior with this code (which I _think_ uses keepalives):

#!/usr/bin/python

import httplib2
import time
import sys

url = sys.argv[1]
iterations = 250

h = httplib2.Http()

start = time.time()
while iterations > 0:
    resp, content = h.request(url, 'GET')
    iterations -= 1

end = time.time()

print end - start

[2012-02-10 17:54] temas commented on #775
Other tidbits I've been able to verify
- The integral front end still responds while it is hung
- System network settings are as expected
- Number of sockets in use is low relative to listen queues and http-proxy settings
- Locker is responsive during a hang

Just realized the slya-proxy is running on sandbox so looking down that route some.

[2012-02-10 18:09] kristjan commented on #774
This is working for @mdz but not me. So this issues is closed, but something else is funny.

[2012-02-10 18:09] #774 closed, assigned to kristjan

[2012-02-10 19:11] mdz commented on #781
The issue we're seeing in practice is #775 anyhow, so I'll track this there

[2012-02-10 19:11] #781 closed, assigned to nobody

[2012-02-10 19:51] kristjan commented on #773
The lack of Cmd-click behavior is because there's a JS handler on all those links. Do you think opening external links in new windows is good enough, or would you like to put in the effort to fix behavior when they do more than just click?

[2012-02-10 20:11] mdz commented on #775
This should be fixed by 1a539c0e065f76555e402f118e96887b55a1c3b6 in slya-proxy. Please reopen if it recurs.

[2012-02-10 20:11] #775 closed, assigned to temas

[2012-02-10 20:15] temas opened #786 "Proxy socket multiplication"
With the move to 0.6 we need to check how we are using the http agent with http-proxy.  Right now it seems incorrect and causes the proxy to create a new full socket for each usage.  A first attempt at this is to look at the agent option in the proxy calls.

[2012-02-10 22:02] mdz commented on #774
The "something else" was puppet being broken on one of the backend servers (now corrected).

[2012-02-10 23:35] beaugunderson opened #787 "Fix CORS headers for image proxying"
This is related to #766.

As you can [see here](https://gist.github.com/1793921), we're currently sending two copies of 'Access-Control-Allow-Origin'.

I'm not sure if that's the entire issue, but CORS requests for images that include proxy=1 are still being forbidden by the browser in both Chrome and Firefox. I'll follow this up with some additional testing results.

[2012-02-11 00:13] #773 closed, assigned to kristjan

[2012-02-11 01:06] LSchutte opened #788 "Links (DEMO) not using Facebook links"
In sandbox and production LINKS (DEMO) doesn't have Facebook links.  Also, while you're at it, can we change Links to News instead?

[2012-02-11 02:20] #772 closed, assigned to kristjan

[2012-02-11 02:47] beaugunderson commented on #772
As for the 'why': at the time I took filtering out of the existing left navigation there wasn't new sidebar content to replace it yet--and the App Gallery depended on there being at least one app (in this case the 'Featured' app) listed in the left-hand navigation to serve as the default app when one wasn't specified. :)

[2012-02-11 02:52] beaugunderson commented on #787
From talking to @othiym23 it appears that the Singly proxy is adding its own Access-Control-Allow-Origin CORS header. It appears that the logic that adds that header should be modified to only do so if an existing Access-Control-Allow-Origin header isn't set.

I verified that cross-origin image loading works with a simple Express setup that mirrors how I was using it via the Singly API (namely add

[2012-02-11 21:40] kristjan commented on #768
Nope, this ain't closed, that was pushed to a non-master branch

[2012-02-11 22:13] #768 closed, assigned to kristjan

[2012-02-11 22:15] kristjan commented on #768
Actual commit on master is 3da356c

[2012-02-12 16:09] quartzjer opened #790 "Add a connector for the Pinterest API"
http://pinterest.com/developers/api/

Friends/Followers, Home feed, Boards, and Pins.

[2012-02-13 05:42] quartzjer commented on #771
I've added this in a pretty simple way for now: http://jeremie.com/i/b96569ee417d9bfac4f08df8ffb3d8ea.png

[2012-02-13 05:45] #771 closed, assigned to quartzjer

[2012-02-13 05:46] quartzjer commented on #685
I did the work in #771, going to re-milestone this now.

[2012-02-13 05:54] quartzjer commented on #704
I should be ready to make this config change and test it in sandbox tomorrow :)

[2012-02-13 17:02] merc3po commented on #776
This doesn't seem like it needs to be done for OPENIT, right?

[2012-02-13 17:11] merc3po commented on #702
Not closing this yet, it's missing stuff
<img src="https://img.skitch.com/20120213-ximqaumm99xshkwsnufdec9efh.png">

[2012-02-13 17:39] #735 closed, assigned to smurthas

[2012-02-13 17:58] othiym23 opened #791 "Pandora connector barfing on Singly sandbox"
Can't tell from the log whether this is a registry or a code issue:

{"level":"error","message":"Pandora newsfeed error:\tsynclet parsing of stdin failed - Error: Cannot find module '/home/Me/node_modules/pandora/newsfeed.js'\n","timestamp":"13 Feb 17:53:49"}

[2012-02-13 18:24] merc3po commented on #660
I think that the doc @othiym23 references above is the best version of the story to work from.

[2012-02-13 18:41] mdz commented on #776
@merc3po agreed

[2012-02-13 19:18] merc3po opened #792 "Raw data "profile" UI drafts"
Looks like it's what people expect.