[2012-02-13 19:28] merc3po opened #793 "Ability to rearrange, favorite list of apps"
Stubbed for Merci to fill out.

[2012-02-13 19:39] smurthas commented on #764
This is still there: http://bit.ly/zwUn1i

rm -r Me
./locker
goto: /dashboard/explore#Explore-connect
connect GitHub
click the orange Start Exploring link

[2012-02-13 19:45] smurthas commented on #764
Also, if you then click an app, the header doesn't return: http://bit.ly/yXWWdX

[2012-02-13 20:08] smurthas commented on #764
looks like the Start Exploring link points to /dashboard/contactviewer, which isn't a valid path.

[2012-02-13 20:22] smurthas commented on #725
I still see this after a repos sync: http://bit.ly/wStr1N and only have package.json, css, and .gitignore.
Additionally, even after a "bad" sync, I still see the SHAs in the PhotoViewer.tree.json file: https://gist.github.com/1819841
I also, see them as being cached in the me.json file: https://gist.github.com/1819888

This is really, really important to get right as it is the only mechanism for p

[2012-02-13 20:28] smurthas opened #795 "Can get to apps before connecting anything"
If no services are connected, every page in the dashboard should redirect to the connect screen.

seeing this: http://bit.ly/ylUCMx

[2012-02-13 20:31] #770 closed, assigned to smurthas

[2012-02-13 21:41] smurthas commented on #725
@quartzjer I'm assuming you we're assigned to this just because of carry over from before. I'm going to take a look at it since I can easily repro it locally.

[2012-02-13 21:54] #791 closed, assigned to quartzjer

[2012-02-13 22:00] quartzjer commented on #725
I thought I fixed this and closed it, wtf

On Mon, Feb 13, 2012 at 3:41 PM, Simon Murtha-Smith
reply@reply.github.com
wrote:

[2012-02-13 22:13] quartzjer opened #796 "allow apps that don't require any services"
http://jeremie.com/i/98fd4b8b6cece62022e9f8a9e12d3ca9.png

We should support apps that are standalone too and may not depend on any data (just provide a utility).

[2012-02-13 22:25] mdz commented on #777
@jasoncavnar it is OK to comment on closed issues. In this case, it seems like there is still a problem open, so we'll keep this one open to track it

[2012-02-13 23:31] merc3po commented on #796
What's Last At? Can you give me an example?

[2012-02-14 00:07] smurthas commented on #796
Last at very specifically requires foursquare, but he's talking about something that doesn't use service-specific data, only collection data. In that regard, you could have an app the doesn't require any services to be used (creates it's own data via /push). We are still pretty far from that, but this is a good placeholder in the mean time.

[2012-02-14 00:07] merc3po opened #797 "Rename "Locker Project" link in Develop nav"
Let's rename it to "Contribute to the Core Technology" - it's confusing people in usability consistently.

[2012-02-14 00:10] merc3po opened #798 "Rename "Chat with the Team" in the Develop nav"
Let's call it "Find us on IRC" so that people don't think we're about to spawn a live chat situation.

[2012-02-14 00:29] #725 closed, assigned to smurthas

[2012-02-14 00:38] smurthas opened #799 "Yes, I've fucking "GOT IT""
I see this thing just about every time I open up my Locker: http://bit.ly/yYjSVA

[2012-02-14 01:18] merc3po commented on #796
Huh interesting. Thanks! :-)

[2012-02-14 01:30] beaugunderson commented on #796
@smurthas I'm working on an app called Meta-Me that will use /push to let a user store metadata about themselves (primarily for the purpose of making it available to other apps), so you're closer than you think ;)

(As a quick example; if I specify my birth date using Meta-Me then Spearmint will be able to construct a visualization of my last.fm data and show what percentage of my most-played song

[2012-02-14 02:07] smurthas commented on #746
@erictj I'm hesitant to touch this while you are adding analytics because this seems like it will be part of it - is that true?

[2012-02-14 03:27] quartzjer commented on #796
Yep, exactly!  And for apps to prompt to add other apps :)

On Feb 13, 2012, at 5:30 PM, Beau Gundersonreply@reply.github.com wrote:

[2012-02-14 03:29] quartzjer commented on #799
Lol :)

On Feb 13, 2012, at 4:38 PM, Simon Murtha-Smithreply@reply.github.com wrote:

[2012-02-14 12:38] elsmorian commented on #799
+1!

Also, does this need to obscure the whole page? It's basically a hint, it could just be some text and a high contrast arrow pointing to the link. Clicking from the services to the explore page seems to say "Ok cool, we've got your services done, lets have a look at what you can now do with it Wait Hold on one sec, I forgot to tell you, if you want to connect more services they are over there"

[2012-02-14 12:50] elsmorian opened #800 "Demo apps are all authored by [object Object]"
IE: https://skitch.com/elsmorian/8bc7c/locker-running

From a fresh git pull this morning.

[2012-02-14 12:57] elsmorian commented on #734
I'm not sure when this was fixed, but it now is! Thank-you mystery coding elf!

[2012-02-14 12:57] #734 closed, assigned to nobody

[2012-02-14 14:06] elsmorian opened #801 "Clicking icons for services not in apikeys file results in ugly error"
For example, clicking one of the icons the the list of services an app uses that is not in apikeys opens a popup to /auth/_ClickedService_ which contains:

TypeError: Cannot read property 'appKey' of undefined
    at authRedir (/home/elsmorian/NewLocker/Ops/registry.js:561:70)
    at authIsAwesome (/home/elsmorian/NewLocker/Ops/registry.js:537:19)
    at callbacks (/home/elsmorian/NewLocker/node_m

[2012-02-14 14:46] elsmorian commented on #801
Note clicking Instagram generates the above error, as does Facebook, and GContacts. Twitter and Flickr generate a single line saying it cant find the require apikeys.

[2012-02-14 15:32] #801 closed, assigned to nobody

[2012-02-14 15:45] quartzjer opened #802 "list of used services isn't filtered to which actually work"
The _available_ connectors are in /registry/connectors and the list that are shown as required by an app in the header are not filtered against that, so some are shown that can't actually work. (thanks @elsmorian!)

[2012-02-14 19:09] smurthas commented on #800
Did you do a `git submodule update`? There was an update to the dust template that renders that header to fix that.

[2012-02-14 19:16] temas commented on #799
such a potty mouth!

[2012-02-14 19:30] quartzjer opened #803 "investigate unsafe-perms setting for npm"
It can cause problems depending on the uid of the process

[2012-02-14 19:49] quartzjer opened #804 "make sure lockerd gives back proper exit codes"
non-zero when migrations fail, etc

[2012-02-14 20:05] mdz commented on #801
I thought the icons were supposed to be hidden unless API keys were available

[2012-02-14 20:08] elsmorian commented on #800
No, this might be my problem. Is there any way of telling if a submodule update is needed, or is it good practice to do one after each git pull anyway?

[2012-02-14 20:19] smurthas commented on #800
a `git status` will tell you, but it is a good idea to do one each time.

[2012-02-14 20:39] elsmorian commented on #800
Okedoke. I can confirm this fixes the issue :)

[2012-02-14 20:39] #800 closed, assigned to nobody

[2012-02-15 01:11] kristjan commented on #799
I think every time you hit #Explore-connect, a cookie gets set that will show that dialog on your next page. Users only see #Explore-connect immediately after they create a locker, so this may just be a dev problem.

[2012-02-15 01:16] merc3po commented on #799
@elsmorian It's part of the create-account experience and not meant to just appear in this manner.

[2012-02-15 01:19] #764 closed, assigned to kristjan

[2012-02-15 01:20] kristjan commented on #746
This might be covered by the fix to #764. No links are visible until you've connected something besides Github. There are two things that are still a little irritating:
- There is a moment before the navs vanish when you could quickly click them
- You can click your avatar/name, which has the effect of reloading the page

[2012-02-15 01:24] smurthas commented on #799
@kristjan that is possible, but still a bug, that's why I've filed this for a later milestone.

[2012-02-15 02:00] othiym23 opened #805 "appFrame isn't hidden when "Click to connect…" is shown"
![](https://img.skitch.com/20120215-jycnnckdjbii9636uk85qywew.jpg)

[2012-02-15 03:51] quartzjer commented on #704
DONE! :)

[2012-02-15 03:51] #704 closed, assigned to quartzjer

[2012-02-15 06:12] smurthas commented on #702
@merc3po I merged in the pull requests from @beaugunderson, can you confirm everything looks right and if so, close the issue?

[2012-02-15 07:28] quartzjer commented on #746
The essence of the original issue is definitely fixed so I'm going to close this, those other quirks feel like polishing a marshmallow, but if they become an issue and not addressed anywhere else they can get filed on their own...

[2012-02-15 07:28] #746 closed, assigned to nobody

[2012-02-15 07:33] quartzjer commented on #805
#769 is for apps that specifically don't have any services to list/use, but for ones that do require something and those aren't connected yet I disagree about hiding the app frame, I totally want to give the app an opportunity to do something in that case themselves too (and they should always be expected to not break if there's 0 results).

I'm voting to close this as it currently stands :)

[2012-02-15 07:40] othiym23 commented on #805
It was @smurthas's opinion that displaying both the arrow and #appFrame's contents was incorrect behavior, so I'll leave it to the two of you to duke it out. I could go either way.

[2012-02-15 07:47] merc3po commented on #702
@smurthas is this on sandbox? I don't see it there.

[2012-02-15 08:40] smurthas commented on #702
I don't know. It's merged into master.

[2012-02-15 08:52] beaugunderson opened #806 "Screenshots slide down when signed out on singly.com"
@smurthas, @merc3po:

[Behavior visible here.](https://singly.com/#AppGallery-Featured)

It's in `home.js`, lines 83-88... Lives outside the repo or I'd fix it and submit a pull request. :)

[2012-02-15 09:51] quartzjer opened #807 "photos collection should start deduplicating"
cross posted pictures are easy to dedup as they're either identical often even down to the same url

[2012-02-15 09:59] quartzjer commented on #805
I actually bumped into this numerous times tonight in cases where I wanted to use the app for things that weren't in it's uses, pretty annoying to be blockaded :/

[2012-02-15 17:15] smurthas commented on #805
The bug is that both are showing at the same time (exactly as it is stated). If there is no uses.services field, I will not show the arrow and text.

[2012-02-15 17:23] merc3po opened #808 "No app selected when I sign in - blank Explore page"
It's going to a "https://me.sandbox.singly.com/dashboard/explore#Explore" instead of something like #Photosviewer
<img src="http://cl.ly/3e1y3p1c0N092S3B2d0D/Screen%20Shot%202012-02-15%20at%209.22.36%20AM.png">

[2012-02-15 17:32] smurthas commented on #808
yep, same thing here.

[2012-02-15 17:56] smurthas opened #809 "App is listed a being by "myself" when it's not"
I installed it form the registry and it is by quartzjer.

http://bit.ly/zbzImr

[2012-02-15 18:00] amcjen commented on #660
Setting this as _ready_.  Some more work to be done around a proper dashboard, but going to leave that for post-launch.  We're at least collecting the data now.

[2012-02-15 18:00] #660 closed, assigned to amcjen

[2012-02-15 18:03] merc3po commented on #660
Sweet! I'll do some run throughs today to make sure I can get the analytics
for a report.

On Wed, Feb 15, 2012 at 10:00 AM, Eric Jennings <
reply@reply.github.com

##

Merci Victoria Grace

Playful Designer + Producer

http://artserf.net
http://linkedin.com/in/merci
http://twitter.com/merci

[2012-02-15 18:04] amcjen commented on #660
awesomesauce.  Do let me know if anything looks amiss.  Remember too, our analytics are all over the place--we probably ought to create another story of collecting all that data from everywhere and getting it into a single user dashboard. (I started work on this already, but it won't be done in time for the launch)

[2012-02-15 18:37] #805 closed, assigned to smurthas

[2012-02-15 21:46] beaugunderson opened #810 "Behavior when you clear cache or login expires and then click anything is non-optimal"
I got the homepage in the app iframe rather than a redirect to login, which is what I would expect:

![screenshot](http://i.imgur.com/ledPJ.png)

[2012-02-15 23:41] #808 closed, assigned to amcjen

[2012-02-16 00:02] #809 closed, assigned to smurthas

[2012-02-16 02:17] beaugunderson opened #811 "Empty frame on 'see all' links (for 'your apps' and 'installed apps')"
Visible here: [https://me.singly.com/dashboard/appGallery#allApps](https://me.singly.com/dashboard/appGallery#allApps)

Looks like this:

![screenshot](http://i.imgur.com/q4LFZ.png)

[2012-02-16 02:39] quartzjer opened #812 "on first connect, the Gets: has raw data in it"
![asdf](http://jeremie.com/i/b6bf4d883b8696b30ec28cc148d957ce.png)

[2012-02-16 04:33] mdz commented on #729
Any more work to do here, or should we close this?

[2012-02-16 04:34] beaugunderson opened #814 "Expose lastUsed data from uistate.js for /allApps"
The data is still tracked via handleApp but it's not exposed. The logic already exists in `appList.ejs` to display it.

This is a followup for #811.

Final product should [look like this](http://cl.ly/170m343s061z2z0G160I).

[2012-02-16 04:38] #729 closed, assigned to temas

[2012-02-16 05:22] quartzjer opened #815 "app gallery filter isn't based on which connectors actually work"
This list should come from whatever connectors are in prod:
![img](http://jeremie.com/i/2d4747f7a8e58d4d79aa910764ff5608.png)

[2012-02-16 05:57] beaugunderson commented on #787
This was working for a bit and then stopped--I think the proxy still needs looking at.

[2012-02-16 06:28] merc3po opened #816 "Logo half-hidden on create account page"
not a big deal, but not awesome
<img src="http://cl.ly/3J1T251b0G1Y3a1f081c/Screen%20Shot%202012-02-15%20at%2010.27.17%20PM.png">

[2012-02-16 06:31] merc3po opened #817 "After authing Twitter (and having signed up w/ Github) the rest of the UI shows up"
<img src="http://cl.ly/0s0f413S043l1d0l0000/Screen%20Shot%202012-02-15%20at%2010.31.00%20PM.png">

[2012-02-16 06:48] merc3po commented on #816
Oops, moved to Integral where it belongs.

[2012-02-16 06:48] #816 closed, assigned to nobody

[2012-02-16 07:11] merc3po opened #818 ""Hosted by Singly" link seems to log you out"
You're not _actually_ signed out but it sure does look like it.

[2012-02-16 07:34] kristjan opened #819 "Opt-out of analytics is confusing"
When I signed up, I checked a box to opt in. Now I'm being asked to check a box to opt out. If I've opted in, the box should be checked, and I should uncheck it.

![](http://cl.ly/0e0d3H3B3z2q2Y0n0i2N/Screen%20Shot%202012-02-15%20at%2011.33.00%20PM.png)

[2012-02-16 08:39] beaugunderson opened #820 "Lose left padding on App Details page"
@merc3po Simon said to ping you re: removing the padding on the left side of the screenshot on App Details the page--the original mockup I saw had a gray box around everything, but now that's gone I think the padding should go too so that the screenshot lines up with the breadcrumbs.

[2012-02-16 08:53] smurthas opened #821 ""See the code" link doesn't work"

[2012-02-16 16:05] dsample opened #823 "Allow the choice to selectively 'drop' certain aspects of connected services"
Allow users to select each component of a service's API (perhaps leaving services with only one object, like 'Links' from Delicious).

More than just a course Contacts/Photos/Posts/Comments selection, allow us to go deeper and select specific 'fields' to ignore. This would allow a user to sync Facebook/Google Contacts without saving phone numbers, for instance.

[2012-02-16 16:11] dsample opened #824 "Allow us to 'hide' services we don't want to connect"
Since the list of possible services could get quite long, make it possible to shrink/hide some services which we don't have much interest in or actively want to avoid backing up.

For instance, I don't have an iPhone, so for now Instagram isn't useful. I also don't have much personal desire to backup my Last.fm activity and don't use Rdio.

The hidden services could be revealed with a click of a b

[2012-02-16 16:18] temas commented on #19
So this is possible with the newer IDRs in a much cleaner way.  What needs to happen is the UI to know which account is being edited/used and then the auth needs to be made an array in the me.json and other places where it's used.  The IDR account id is a reference into that array.

[2012-02-16 16:24] dsample commented on #19
The UI certainly needs a way to add multiple accounts, especially for things like Twitter where it's common for people to have multiple.

[2012-02-16 17:01] smurthas commented on #702
This is done

[2012-02-16 17:01] #702 closed, assigned to nobody

[2012-02-16 19:14] kristjan opened #825 "Inconsistent use of "key" vs "token""
At least on Account Settings > API Key, but maybe elsewhere. FWIW, @tantalor prefers "key"

[2012-02-16 19:15] kristjan opened #826 "Problem uploading avatar"
Using http://www.gravatar.com/avatar/8134f2e2f24cf73b42d1b751582ba408?s=100

[code]

CC @tantalor

[2012-02-16 19:16] kristjan opened #827 "Use Gravatar"
This is a nice one to use if the user's set it up, and real simple to do.

CC @tantalor

[2012-02-16 19:17] temas commented on #827
My gravatar agrees

[2012-02-16 19:20] kristjan opened #828 "Problem getting API key"
[code]

CC @tantalor

[2012-02-16 19:26] kristjan opened #829 "Contacts DEMO doesn't display Foursquare username"
I wanted to put this in LockerProject/MergedContacts, but that's way out of date.

![](http://cl.ly/2h1j3c1B0k1n302N0L1I/Singly.png)

[2012-02-16 19:28] merc3po commented on #824
You're referring to the list in the left navigation, right?

[2012-02-16 19:28] kristjan opened #830 "Mixed content warnings"
- Load the avatar image securely
- ...

Add 'em as you find 'em

[2012-02-16 19:33] dsample commented on #824
I'm referring to both the left navigation and the Settings page for connecting services. The way I see it, one of the main tasks is to connect their services, and add any new ones they get/you integrate with over time, so making it easy to keep the list clear of undesirable services would be helpful.

It might also help later with application dependancies... to be able to hide/warn about applicati

[2012-02-16 19:43] smurthas commented on #829
Ya, that repo is dead. it's just in the Locker tree now.

[2012-02-16 19:49] merc3po commented on #820
Go ahead :)

[2012-02-16 19:52] kristjan opened #831 "Hide apps when you navigate somewhere else"
Clicking from one app over to another that takes a little while to load, there's no feedback until the second app loads. Sometimes that takes a few seconds and is confusing/annoying.

At minimum, hiding the first app would help a lot. Bonus points for a loading throbber.

[2012-02-16 20:16] smurthas commented on #831
There's a loading throbber in there for the featured page. It almost never shows because it only shows itself if it takes more than 1000ms to load and render the page. Code should be easy to find in page-handlers.js

[2012-02-16 21:01] smurthas opened #832 "disconnecting and reconnecting with different twitter account doesn't work"
It's possible that it extends beyond twitter, and might not be limited to switching accounts, but that was the case in which is occurred.

[2012-02-16 21:09] smurthas commented on #815
I updated the registry endpoint to only return connectors that are both signed and !hidden.

[2012-02-16 21:09] #815 closed, assigned to nobody

[2012-02-16 21:09] kristjan commented on #818
What to we want to do? We could duplicate that page in Locker (blech!) so your avatar still shows up, or maybe just open it in a new window?

[2012-02-16 22:03] merc3po commented on #818
We should duplicate it in Locker. Sorry. :-/ If it opens in a new tab w/ a logged-out looking state it will be super confusing.

[2012-02-16 22:06] kristjan commented on #818
![](https://encrypted-tbn3.google.com/images?q=tbn:ANd9GcQm6BzTl7z1L1qp15-xKJ15kS0eWs-xf0un86CpDYCyXw4Da_KJ)

Can't wait to consolidate this stuff better

[2012-02-16 22:07] merc3po commented on #818
You and me both, homie.

[2012-02-16 23:24] #820 closed, assigned to kristjan

[2012-02-16 23:25] kristjan commented on #817
What's the problem? I thought that title is the expected behavior, and the image is broken

[2012-02-16 23:26] othiym23 commented on #831
you're a loading throbber

[2012-02-16 23:28] #798 closed, assigned to kristjan

[2012-02-16 23:31] kristjan commented on #797
That's real long compared to the rest of the items; how about "Contribute to Locker Core"?

[2012-02-16 23:32] merc3po commented on #817
Ah yeah I think you're right, after reviewing the original mocks. Thank god my brain is not the only documentation. :-P

[2012-02-16 23:32] #817 closed, assigned to nobody

[2012-02-16 23:34] merc3po commented on #797
How about "Contribute to Core Tech" - we don't really use "Locker" around the site, and that implies that our product is called Locker.

[2012-02-16 23:35] kristjan commented on #797
Deal

[2012-02-16 23:35] mdz opened #833 "dashboard integration test says it is "pending""
Pending:
  dashboard allows people to see the EXPLORE page
    # You can't actually see EXPLORE until you auth a service
    # ./spec/integration/dashboard_spec.rb:5

Finished in 6.31 seconds
4 examples, 0 failures, 1 pending

[2012-02-16 23:35] #797 closed, assigned to nobody

[2012-02-16 23:49] othiym23 commented on #827
We probably want an avatar chooser, which would then set the state in a, say, profile collection. The current avatar chooser is minimalistic.

+1

[2012-02-16 23:49] othiym23 commented on #825
Agreed it should be consistent. Doesn't really feel like a key to me, but am persuadable pending some more feedback from the community.

[2012-02-16 23:51] othiym23 commented on #825
clickt buton rong

[2012-02-17 00:07] beaugunderson commented on #787
More information: The `crossOrigin` img attribute strips the HTTP request of cookies--meaning there's no `singly.id` session cookie sent.

When a request is sent for `/Me/photos/thumbnail/:id?proxy=1` with no cookies a 302 redirect is returned to https://singly.com.

cc @quartzjer

[2012-02-17 00:20] smurthas commented on #818
Hmm, that doesn't seem like the best solution. It will look exactly the same if it is in locker. If we just have flag that is set via some loaded JS that tells whether someone is logged in, then we could dynamically change a few small bits of the home page to say things like "Go to your account" instead of the Sign In button in the top right.

Or, we can take the damn link out until we fix all thi

[2012-02-17 00:22] kristjan commented on #818
That's a grand idea. link--!

[2012-02-17 00:55] No9 opened #834 "Singly reset password fails"
When I tried to reset my password on Singly the the process seemed to work but I didn't receive an email.
Also i went to create the profile again using the same Git account and it allowed me to create a user with the same name and reset the password.
This isn't a bug in itself as I didn't us a different git account but something smells..

[2012-02-17 01:01] beaugunderson commented on #787
Workaround: Instead of using `me.singly.com` you can use `api.singly.com/:apiToken/` (because it does't require a session cookie).

[2012-02-17 01:03] No9 opened #835 "Getting the API key gets stuck in a rut"
OS Linux Ubuntu
Chrome 17.0.963.46
Firefox 10.0.1

Started https://me.singly.com/dashboard/develop#Develop-BuildAnApp
Followed instructions about creating a git repo
Opened the page in Chrome local
The javascript message box locked all my chrome instances even the new ones.
When I tried to open it up in Firefox the disabled field wouldn't let me select the key tried to inspect element and it still

[2012-02-17 02:02] #795 closed, assigned to kristjan

[2012-02-17 02:51] quartzjer commented on #835
Thanks Anton, and sorry about the trouble!  We've been trying to make
it as easy as possible and obviously still have some work to do :)
What would you suggest would be the easiest pattern for you?

On Thu, Feb 16, 2012 at 7:03 PM, Anton Whalley
reply@reply.github.com
wrote:

[2012-02-17 03:42] quartzjer commented on #787
Nice sleuthing and workaround! Is it even possible to make it work the normal way?

On Feb 16, 2012, at 8:01 PM, Beau Gundersonreply@reply.github.com wrote:

[2012-02-17 04:00] tantalor commented on #825
Both "API Token" and "API Key" are used quite frequently. Google, WordPress, Flickr, and 37signals use "API Key". GitHub uses "API Token".

I lean towards "API Key" to avoid confusion with "token" is the context of oAuth (access tokens, etc).

[2012-02-17 04:01] tantalor commented on #825
Wikipedia thinks [API key](http://en.wikipedia.org/wiki/API_key) is the standard term.

[2012-02-17 04:54] merc3po commented on #834
Were you logged in and resetting your password from the Account Settings page, or did you follow the "Forgot your password?" link on the Sign In page?

[2012-02-17 05:01] mdz opened #836 "If locker core crashes, it can leave behind an orphan mongod"
We should make sure to clean this up, so that it doesn't cause any mischief or interfere with starting locker back up again

[2012-02-17 05:39] smurthas commented on #835
Ya, the alert is pretty overbearing. I think we could probably do something less intrusive, like a simple JS modal that wouldn't block, just prompt.

[2012-02-17 05:57] smurthas commented on #835
In addition to this, it seems as though session storage doesn't work on all browser for file://, but in those case localStorage often does. I will make sure to check that out.

[2012-02-17 07:45] No9 commented on #834
Followed the reset password link

[2012-02-17 09:06] No9 commented on #835
+1 for smurthas  like a simple JS modal that wouldn't block, just prompt.
Beau helped me get over it in IRC so its all good.
For anyone else reading this https://singly.com/users/me/apiToken is the link he sent.

[2012-02-17 17:24] temas opened #837 "Script to compare /map to Me"
This would probably end up as a migration or hand cleanup tool.  The idea here is to check /map against the Me directory and perform cleanups.  Some of us have been through a good number of core concept migrations and need to spruce up our Me dirs.

[2012-02-17 18:06] kristjan opened #838 "Better behavior when linked to an app that isn't installed"
I sent https://me.singly.com/dashboard/#Explore-tylerstalder-moments to someone who didn't have it installed, and they got a basic 404 page just saying "Not Found". At minimum, perhaps that should say "This application isn't installed", but better would be a redirect to the app's detail page.

![](http://cl.ly/3P1y3Q1g1A3h3h2q2Q1p/Singly-1.png)

[2012-02-17 18:09] kristjan opened #839 "Failure installing application"
[code]

cc @h3h

[2012-02-17 18:35] amcjen commented on #834
Just tried this, and I can't repeat.  I got the e-mail and was able to reset it, and log back in.

No9, would you mind trying it again, and if it's good for you, we'll close this issue?

[2012-02-17 19:58] quartzjer commented on #839
I saw this in the AM too, I think I know how to fix it, if nobody else has I'll try on my flight!

On Feb 17, 2012, at 1:09 PM, Kristján Péturssonreply@reply.github.com wrote:

[2012-02-17 20:01] temas commented on #839
If it's one of our older servers, they seem to need a registry sync forced

[2012-02-17 20:18] beaugunderson commented on #787
I had a small epiphany last night. I started out down the CORS path because I wanted to be able to develop locally (either with file:// or with my own webserver). On me.singly.com I don't think it will actually even need to use CORS since the domains will match! The `proxy=1` parameter will be enough to make it work on the site. For developing locally I found out about the ominous-sounding (but ex

[2012-02-17 20:18] mdz commented on #839
Jason saw this today on prod, and saw it on sandbox recently as well

[2012-02-17 20:55] quartzjer commented on #839
Pretty sure they cached ids when they didn't have a key to validate, I'm going to junk the caching logic to permafix this.

On Feb 17, 2012, at 3:18 PM, Matt Zimmermanreply@reply.github.com wrote:

[2012-02-17 21:47] beaugunderson opened #840 "Can't load app: 'Cannot GET /Me/beaugunderson-meta-me/'"
I have an app (Meta Me) that does't load on me.singly.com:

![screenshot](http://i.imgur.com/vJfex.png)

I recently committed a description and a screenshot, hit the publish button, clicked 'check' and verified that it could see that update.

I haven't actually published the app yet (because I'm still testing it). In the past that hasn't mattered; does it now?

[2012-02-17 23:19] No9 commented on #834
Yup I couldn't reproduce either.
Email came through fine this time.

[2012-02-17 23:19] #834 closed, assigned to nobody

[2012-02-17 23:49] beaugunderson commented on #840
Attempting to actually publish the app didn't solve the problem either. :)

[2012-02-18 23:29] kristjan opened #841 "App Gallery should be sorted (alphabetized?)"
Right now it's just a jumble of apps in apparently their publishedAt order. Alphabetical would make more sense.

[2012-02-18 23:32] pc opened #842 "Command-clicking links doesn't open them in a new tab"
The JS handlers don't do the right thing.

Verified for most links in the logged-in/dashboard interface.

[2012-02-18 23:49] smurthas commented on #841
I actually think order of most recently updated makes the most sense.

On Feb 18, 2012, at 15:29, "Kristján Pétursson"
reply@reply.github.com
wrote:

[2012-02-18 23:52] kristjan commented on #841
That'll make ok sense if we show the updated time; otherwise it's not at all clear what they're being ordered by. As the number of apps increases, I can imagine wanting sections for new/popular/recently updated/etc

[2012-02-18 23:52] smurthas commented on #841
Definitely

On Feb 18, 2012, at 15:52, "Kristján Pétursson"
reply@reply.github.com
wrote:

[2012-02-19 06:14] merc3po commented on #842
Thanks for filing this @pc.

[2012-02-19 22:18] mdz opened #844 "Many photos not being displayed due to http/https mismatch"
Looking at the photos demo in my account, most of the photo previews are shown as broken images, because they're being served over HTTP rather than HTTPS.

[2012-02-20 00:19] mdz opened #845 "Different icons used for Github in different places"
On the side nav and the home page, it's a gray "g". In the contacts app, it's a cat.

[2012-02-20 01:36] merc3po opened #846 "All external links should open in new tabs"
The forums, Locker Project, Github, etc. should all open in new tabs.

[2012-02-20 02:32] merc3po commented on #818
Cool beans. :-)

[2012-02-20 02:48] mdz opened #847 "FATAL ERROR: JS Allocation failed - process out of memory"
Possibly related to last.fm, but hard to say at this stage.

CC @temas

[2012-02-20 03:00] max-mapper commented on #847
use moar `Buffer`s

[2012-02-20 03:28] trentlarson commented on #845
There's the "g":
https://github.com/LockerProject/Locker/blob/master/Apps/dashboardv3/static/img/icons/32px/github.png
(... and 16px and 24px and icons-old versions)

... and the octocat
https://github.com/LockerProject/Locker/blob/master/Apps/MergedContacts/static/img/social-icons/32px/github.png
(... and 16px and 24px versions)

... and the octocat silhouette:
https://github.com/LockerProject/Lo

[2012-02-20 03:51] mdz commented on #845
+1 on octocat! :-) I'm indifferent on precisely which one, and defer to @merc3po on the particulars

[2012-02-20 03:59] merc3po commented on #845
All the icons on the site (apart from the app) are the gray "g", and appear in a lot of places like the header of every app, the app gallery, etc. I'd rather not start changing them on the site to match the app. (The cat is cuter and when we refactor the frontend business we can sub the gray g out for it, though.)

[2012-02-20 08:02] mdz commented on #830
cf. #844

[2012-02-20 16:30] smurthas opened #848 "Reporting browser javascript errors"
We have several mechanisms of catching, logging and reporting backend errors and exceptions. We need something similar on the frontend so we know when an unexpected error occurs and can send it back to the locker for logging.

[2012-02-20 16:31] smurthas commented on #839
In addition to fixing this, I've also added #848, to catch, handle, and report back frontend errors to the locker.

[2012-02-20 17:04] quartzjer commented on #839
#849 is meant to address this, but not done yet...

[2012-02-20 17:14] merc3po opened #850 "Can't see API token"
Clicks the button and doesn't get anything.

[2012-02-20 17:18] merc3po opened #851 "On the next load of Explore, reverts to Contacts demo"
The last-used app should be loaded by default in the Explore tab; right now it's the Contacts (DEMO) app regardless of what app you last had loaded.

[2012-02-20 23:18] amcjen commented on #850
Checked this in Chrome, in Safari, and in Firefox, and all three show me my API token when clicking on the link.  Is it still broken for you?

[2012-02-20 23:46] amcjen commented on #844
From what connectors are you getting broken images?

[2012-02-20 23:51] mdz commented on #844
I don't know how to determine that for sure, but I think they're Twitter and Facebook based on the URLs, e.g.:

http://p.twimg.com/AlRNxaVCAAECFux.jpg
http://www.facebook.com/photo.php?fbid=10150543553236536&set=a.419863696535.198057.39606211535&type=1

[2012-02-20 23:52] amcjen commented on #844
hmm, ok.  Flickr as well.  Not sure Flickr even allows https versions of their URLs. (I tried, and got a "cert not trusted" message)

We should be able to redirect the twitter and facebook ones though I think.

[2012-02-21 00:02] mdz commented on #844
my Flickr photos seem to be showing up OK in photos DEMO, even though they're http: URLs. Weird.

[2012-02-21 00:33] merc3po commented on #850
I'll email him and ask - this was posted to the forums. I'll cc you.

[2012-02-21 16:10] quartzjer commented on #839
all, check out https://github.com/LockerProject/Locker/pull/849 I believe it's ready for a pull!

[2012-02-21 17:17] mdz commented on #832
I can't reproduce this.

On sandbox (build 587), I tried disconnecting and reconnecting Twitter. Everything seemed to work, and after refreshing #Settings-Connections my Twitter username appeared. New links appeared in the links demo, and in the log I see activity:

21 Feb 17:14:44 - info: processing synclet data from tweet://twitter/timeline?id=twitter of length 4
21 Feb 17:14:44 - info: total of

[2012-02-21 17:23] smurthas commented on #832
Did you reconnect with a different twitter account (sorry, typo in the title, fixed now)?

[2012-02-21 17:25] mdz commented on #832
I did not, I'll try that.

[2012-02-21 17:28] mdz commented on #832
I tried reconnecting to a different account. The old Twitter username still appeared on #Settings-Connections, which was confusing, but otherwise it seemed to work. The links coming in appear to be from the new account.

[2012-02-22 07:04] beaugunderson opened #852 "Error page should provide more information"
This is the current text:

[code]

Some ideas for what the error page could do:
-    Tell the user if there was planned downtime
-    Give the user some indication into whether everything is borked or it's just their instance
-    Give the user more insight into what the problem was (i.e. if `mongod` died due to lack of memory you might give guidance on adding ?limit= to queries)
-    Tell the use

[2012-02-22 18:46] smurthas commented on #850
This is a dupe of #828

[2012-02-22 18:46] #850 closed, assigned to nobody

[2012-02-22 18:50] smurthas commented on #832
I'm going to try to repro this. If I can't, I'll close it.

[2012-02-22 21:10] smurthas commented on #826
Spoke w @merc3po, we are going to remove the ability to put in a url and add in gravatar support (#827)

[2012-02-22 21:50] beaugunderson opened #853 "GET of api.singly.com/:token/push is missing CORS headers"
[code]

Previously `/push` returned valid CORS headers.

This is what's needed:

[code]

[2012-02-22 23:34] smurthas opened #854 "Rename core apps to match handles"
Migration needed to update srcdir for existing lockers.

to be clear, the 4 DEMO apps that install by default.

[2012-02-22 23:42] amcjen commented on #844
I dug deeper into this, and tried kicking every photo URL to https instead of http, and that caused a bunch of broken images, as Chrome won't load Instagram over https because of a CA cert mismatch.  Same with Twitpic.  Not sure what to do at this point.  Thoughts?

[2012-02-22 23:53] beaugunderson commented on #844
@erictj Jeremie did add the ?proxy=1 parameter to `/Me/photos/thumbnail/:id` and `/Me/photos/:id` to proxy the image data--that will display the images at the expense of additional Singly bandwidth/CPU.

(This is how Spearmint attempts to get around Flickr and Facebook not returning CORS headers)

[2012-02-22 23:59] smurthas commented on #853
The Allow-Origin header is already there, and the Allow-Headers shouldn't be needed with `$.post` - is something failing or not working for you?

See https://github.com/smurthas/HistoMine/blob/master/extension/background.js#L41 for a working example

[2012-02-23 00:05] beaugunderson commented on #853
I'm trying to GET, not POST :)

Edit: A GET of that URL should return the list of push datasets, according to the dev docs. This allows me to build the list automatically so that I can visualize data from them with the Playground app I'm working on.

[2012-02-23 00:08] #828 closed, assigned to kristjan

[2012-02-23 02:15] #853 closed, assigned to nobody

[2012-02-23 03:06] smurthas opened #855 "push api should enforce valid content-type headers"
Currently, you can push in data as form encoded and it will return a 200, but all numbers in the object will have been converted to strings, meaning when you retrieve it, the object will have changed. If anything other application/json is passed, it should return a 400.

[2012-02-23 03:10] smurthas opened #856 "/synclets/*/getCurrent/* is not RESTful"
getCurrent is a strange an unexpected pattern and synclets doesn't align with the other pattern of /Me.

I suggest we move to `/Me/:svc/:type` and `/Me/:svc/:type/:id`, e.g. `/Me/twitter/tweets` and `/Me/twitter/tweets/1234567890123` (notice it's tweets, not tweet)

[2012-02-23 03:14] quartzjer commented on #856
+1!

On Wed, Feb 22, 2012 at 9:10 PM, Simon Murtha-Smith
reply@reply.github.com
wrote:

[2012-02-23 04:43] beaugunderson opened #857 "POST to /push/:dataset fails due to missing CORS headers if Content-Type is set"
This will need to be fixed to fix to implement #855.

If you specify a Content-Type (like `application/json`) then you can't post to `/push/:dataset` because of Chrome's pre-flight CORS check:

[code]

[2012-02-23 17:08] mdz commented on #856
+1

[2012-02-23 17:47] #839 closed, assigned to temas

[2012-02-23 23:42] kristjan opened #858 "Abstract link fetching and parsing"
Lockers do a lot of potentially duplicate work fetching and munging Links. Move that code into a node module so that the locker can either handle everything itself or refer to a central cache performing the same function.

[2012-02-24 00:50] kristjan opened #859 "Give Locker an authentication layer"
Lockers should be able to exist on a public network without being wide open. They should handle their own password authentication for login and API key(s) for other access.

[2012-02-24 01:03] mdz opened #860 "regcleanup regression: TypeError: Cannot read property 'signed' of undefined"
{"level":"error","message":"[TypeError: Cannot read property 'signed' of undefined]","timestamp":"23 Feb 23:53:54"}
{"level":"error","message":"'TypeError: Cannot read property \'signed\' of undefined\n    at /home/Ops/registry.js:261:19\n    at Request._callback (/home/Ops/registry.js:319:43)\n    at Request.callback (/home/node_modules/request/main.js:108:22)\n    at Request.<anonymous> (/home/n

[2012-02-24 01:06] #860 closed, assigned to temas

[2012-02-24 01:12] temas opened #861 "Core selftest should verify the migration version"
selftest should have a warning/error if the state.json version does not match the current max migration.

[2012-02-24 17:26] amcjen commented on #830
Hmm, I'm at an impasse on what to do about the mixed-content warnings.  Instagram doesn't let you add https without an "untrusted cert" popup (even worse than mixed-content IMO), and worse, in researching this I came across this post:

http://groups.google.com/group/instagram-api-developers/browse_thread/thread/96c3a7bff8187eff

Which sounds like we may not be able to display Instagram photos at a

[2012-02-24 17:41] amcjen commented on #844
Awesome @beaugunderson, I'll have a look at that.  Thanks!

[2012-02-24 17:43] amcjen commented on #830
n/m, looks like we already have proxying, working on that

[2012-02-24 17:53] #844 closed, assigned to amcjen

[2012-02-24 18:40] smurthas opened #862 "LinkaLatte not working"
@jasoncavnar saw this on his locker on singly.com

[2012-02-24 19:24] smurthas opened #863 "Publishing doc formatting broken"
Probably a simple fix, looks like it is pointing to the wrong js file: http://bit.ly/wa6esS

[2012-02-24 19:26] smurthas opened #864 "Should link to the singly-dev mailing list from the DEVELOP section"

[2012-02-24 20:14] smurthas opened #865 "icons dont move when authing completes"
in the left nav, from the framed connect screen

[2012-02-24 20:19] smurthas opened #866 "When connecting a service on the account settings page, profile info doesn't populate"

[2012-02-24 20:30] smurthas opened #867 "After writing app, need more guidance on how to sync and see in locker"

[2012-02-24 23:45] quartzjer opened #868 "auto-updates not working"
When a new package is updated+signed, existing adds won't auto-update.

[2012-02-24 23:46] #868 closed, assigned to nobody

[2012-02-25 00:03] smurthas opened #869 "Not all Facebook photos showing up"
Under certain circumstances, only a subset of photos will be synced. Could be related to permissions on the FB end, or could be our code. I was able to isolate that the FB connector was only returning the subset, so it doesn't have anything to do with the Photos collection.

(can't yet repro myself, but this is happening with every sync on a Singly specific account).

[2012-02-25 20:12] othiym23 opened #870 "forever.js is masking errors, not helping"
If something is wrong with the underlying mongod, forever will just spin in an eternal loop, adding load to the host system and not successfully starting up:

[code]

[2012-02-25 20:59] othiym23 opened #871 "GitHub connector storing LESS errors in the database"
[code]

[2012-02-25 21:10] #184 closed, assigned to nobody

[2012-02-25 21:14] #836 closed, assigned to nobody

[2012-02-25 21:24] mdz opened #872 "There was an error sending post://facebook/home?id=facebook#1182018291_224896524272198 update to http://localhost:8042/Me/links/events got Error: socket hang up"
Seeing this repeatedly in prod logs. Sounds like we tried to send something to links but it wasn't there?

[2012-02-25 21:51] othiym23 opened #873 "Twitter event repeatedly causes locker to puke and die"
Saw the following error in a locker, restored it from last good backup, waited an hour or so, and got the exact same error on the exact same event:

[code]

[2012-02-25 21:57] quartzjer opened #874 "on restart, synclet next run gets reset"
defaults to the next frequency, ignoring the existing offset saved

[2012-02-25 21:58] mdz commented on #873
It looks like it's getting an uncaught exception during shutdown

[2012-02-25 21:59] othiym23 commented on #873
If the following function fails due to something coming from Mongo, it's not clear to me where the callback with the error information will be handled, but it appears to be propagated out of ldatastore.js

[code]

[2012-02-25 23:04] smurthas opened #875 "Improvement: have collections read APIs run from core"
That way, they can expose an API.js file that will be required by core and expose their read only endpoints as part the core app. Two good things:
1. A collections data processing can be niced down like crazy during times of heavy load while leaving data access performant.
2. Less HTTP requests to simply get data out of the data store.

[2012-02-25 23:18] mdz commented on #870
Forever is gone as of build 609

[2012-02-25 23:18] #870 closed, assigned to nobody

[2012-02-25 23:34] quartzjer commented on #875
+1, this is exactly what I've been suggesting in the architecture initiatives!

On Feb 25, 2012, at 5:04 PM, Simon Murtha-Smithreply@reply.github.com wrote:

[2012-02-25 23:54] mdz commented on #873
https://github.com/LockerProject/Locker/pull/876 should make it easier to debug uncaught exceptions during shutdown

[2012-02-26 00:56] smurthas commented on #874
This is how the function used to work: https://github.com/LockerProject/Locker/blob/7d062489f81963105083965a71eabc657337c102/Common/node/lsyncmanager.js#L214

notice lines 215-217 where it does the modulus and if < 0, bumps it up. That simple logic is all we need to add back in to schedule things evenly. Not sure why it ever got taken out!

[2012-02-26 01:03] smurthas commented on #875
I'm going to take a pass at this with the links collection. Should be straight forward. As a side benefit our APIs will likely become much more consistent as we can write a few common library functions.

[2012-02-26 08:29] smurthas commented on #873
That is definitely a bug - that function should just throw the error as it is sync and the async functions above it should try catch.

Beyond that, looks like a bug in ldatastore or lsyncmanager. Something is passing an Object instead of a function as the callback to `removeCurrent` in ldatastore.

I'm going to fig the first bug, put in some debug code and let it run.

[2012-02-26 09:25] smurthas commented on #873
As best I can tell, when building the async queue in either the `deleteData` or `addData` functions of ldatastore, something goes wrong and results in a callback being set for an individual queue task that isn't actually a function so when async tries to call `apply` it can't. I wrapped the queue's process function to print a debug statement if it catches an error. The debug statement will look li

[2012-02-26 21:27] #874 closed, assigned to quartzjer

[2012-02-26 23:23] mdz commented on #874
I'm not entirely sure, but you and @smurthas  seem to be talking about different things here. Are there two separate issues?

[2012-02-27 20:52] othiym23 opened #877 "locker core should be (optionally) instrumented"
To better understand the behavior of the locker over time, it would be extremely useful to have some fine-grained instrumentation of many of the events inside the locker:
1. synclet starts
2. synclet stops
3. synclet sends event
4. collection receives event
5. collection processes event
6. datastore loads object
7. datastore saves object
8. locker starts a process
9. locker stops a process

Events

[2012-02-27 21:25] mdz commented on #877
collection starts/stops

[2012-02-27 21:26] quartzjer commented on #877
+1, looks like a pretty comprehensive start!

Might also add a set for http calls through core, both the /Me/\* proxied core/synclet ones as well...

[2012-02-27 21:32] temas commented on #877
My gut tells me we could quickly overinstrument and get bogged down in trying to correlate data, but I guess it's better to be able to pull out than add in and miss something.

Also, be cognizant of the analytics opt-in.

[2012-02-27 22:30] othiym23 commented on #877
@temas, that's a good point that ties to something else I've been wondering about:
1. what's the best way to uniquely identify a locker from within itself?
2. what's the easiest way for a locker to identify whether it's opted in to the analytics gathering?

I'd argue that with the correct answer to #1 (i.e. come up with a unique, unvarying identifier that still isn't tied to any public piece of in

[2012-02-27 22:34] mdz commented on #877
In order to implement pager notifications in the locker wrapper script, I was planning to pass in the locker name as an environment variable, FWIW

[2012-02-27 22:36] quartzjer commented on #877
1. absolutely, Me/key.pub, and ideally the sha of that for shorthand/references everywhere (including the dht)
2. it'd be great to have that stored in the locker as the master (along with auth :)

[2012-02-27 22:40] othiym23 commented on #877
@quartzjer I'm fine with the idea of using some or all of Me/key.pub, but I do have a question as to whether that's too identifying, especially as we start to use the key for other things.

I'll just put this out there: this information isn't traditional analytics data. I think it should be fine to gather for all hosted accounts, and really, to be useful, it _needs_ to be gathered for all of them.

[2012-02-27 23:19] quartzjer commented on #877
The public key is designed+designated to be public, so it should be good :)

We have to collect stats externally on processes regardless, I agree this is much more like that, IMO the opt in is about tracking someone's personal actions/activities/etc.

On Feb 27, 2012, at 4:40 PM, Forrest L Norvellreply@reply.github.com wrote:

[2012-02-27 23:53] kristjan commented on #877
I agree that these kind of system statistics relate more to infrastructure visibility than to personal data and can be collected regardless of optin. If we can't see what our servers are doing, we can't anticipate or respond to outages.

[2012-02-28 11:02] tomgalloway opened #879 "Locker won't start without build.json"
Hi,

On the latest code, lockerd.js trys to open build.json but this file isn't created or under source control. I've got round it by creating this file with dummy data but I'm not sure what data needs to be in here?

Cheers,
Tom

[2012-02-28 11:37] quartzjer commented on #879
I'm mobile at the moment, but I believe the makefile should create it, try typing 'make'?

On Feb 28, 2012, at 5:02 AM, tomgallowayreply@reply.github.com wrote:

[2012-02-28 13:08] tomgalloway commented on #879
Yeah that fixed it thanks.

[2012-02-28 13:08] #879 closed, assigned to nobody

[2012-02-28 17:17] mdz opened #880 "Documentation on how to build Locker is out of date"
In particular, it's missing "make".

[2012-02-28 17:18] mdz opened #881 "lockerbox fails with current Locker"
It doesn't run make. Once it does, the Makefile will need logic to update PATH the same way ./locker does, to find the dependencies installed by lockerbox

[2012-02-28 17:19] mdz commented on #880
e.g. #879

[2012-02-28 18:57] #880 closed, assigned to nobody

[2012-02-28 19:04] amcjen commented on #881
Not clear on what this bug is.  In locker, the only path handling is: NODE_PATH=Common/node.  There is also a NODE_PATH setting in the lockerbox Makefile, but to the same directory, and it's for an oldtest target.

Additionally, I was able to successfully build the lockerbox locker on my machine, following the documentation.  If you're getting failures when building, would you post what commands y

[2012-02-28 22:37] smurthas commented on #551
I converted this to a `logger.warn`

[2012-02-28 22:37] #551 closed, assigned to smurthas

[2012-02-28 22:53] beaugunderson opened #882 ""check for updates" button doesn't see the latest updates to my app"
Singly thinks the last update was 5 days ago:

![Screenshot](http://f.cl.ly/items/1i2e0L3Z180m471r2Y1z/Image%202012-02-28%20at%202.44.28%20PM.png)

In reality, it was 4 days [more recent than that](https://github.com/beaugunderson/Playground/commit/2c3c7719841b879059b9e8a1e9c71f65b4b50cdf). :)

I clicked the "check for updates" button 5 or so times today and yesterday.

[2012-02-28 23:29] mdz opened #883 "Hot backups"
It should be possible to take a consistent backup of a locker

[2012-02-29 00:50] mdz commented on #881
I'm talking about PATH itself, not the node PATH.  Without the right PATH, it won't even be able to launch node!

[2012-02-29 00:50] mdz commented on #881
It would have worked on your machine because you already have the dependencies installed, but lockerbox is supposed to work even if you don't have them yet

[2012-02-29 02:17] smurthas opened #884 "Collection read APIs should be replacble"
If new code is pulled from the registry, the api.js needs to be parsed again and the endpoints it adds to core need to be replaced. A few thoughts in the moment in case this doesn't get done for a while:
1. could do a simple override in our proxy code. instead of the api.js adding endpoints directly to the core locker app, it could just add them to an object and the proxy code could check for a ma

[2012-02-29 02:22] smurthas opened #885 "api.js JS client should wrap the push API better"
right now requires doing a manual post and setting content type headers, etc. we should make it much easier than that by just wrapping it up into a `client.push` command like the `client.get`

[2012-02-29 02:30] smurthas commented on #685
We can either do use the GH push API or add more sync now actions (i vote for the former), but many people are still having trouble getting things in a reasonable amount of time, so I'm moving this to be high priority

[2012-02-29 02:37] quartzjer commented on #882
There's a bug where an empty file makes the sync barf, in this case https://github.com/beaugunderson/Playground/blob/master/css/iframe.css is 0, I'll work on fixing the silly barf but you can also make the sync work by removing or putting something in there as a workaround :)

[2012-02-29 03:09] smurthas opened #886 "Need a way to get some service data by timestamp"
For instance, get my tweets from a specific day, or my FB posts across a whole week. This is the biggest problem for stuff that isn't in a collection.

[2012-02-29 03:20] smurthas opened #887 "Build a WordPress connector"
It will be sweet. It should also enable posting out to a wordpress blog.

[2012-02-29 03:23] smurthas opened #888 "Improve connectors' post-out capabilities"
it's straight forward to add. we should be able to post to twitter and fb at a minimum, bonus == tumblr. as noted in #887, wordpress as well (probably should be done as part of that issue, but mentioning it here for coordination purposes)

[2012-02-29 03:25] temas commented on #888
Look at the twitter code for a current thought on how this could be implemented.  It currently has the ability to post tweets.

[2012-02-29 04:55] beaugunderson commented on #882
Thanks for the workaround and the explanation! :)

---

Sent from my phone.

On Feb 28, 2012, at 6:37 PM, Jeremie Miller
reply@reply.github.com
wrote:

[2012-02-29 19:51] mdz opened #889 "LinkedIn auth dialog is too small"
http://imageshack.us/photo/my-images/843/authorizelinkedinchromi.png/

[2012-02-29 19:51] quartzjer opened #890 "don't sort primary key indexed queries"
it's a stupid idea

http://stackoverflow.com/questions/8440694/mongodb-not-using-indexes-when-sorting

[2012-02-29 21:15] othiym23 commented on #890
Can you expand on why you think it's stupid? The referenced thread doesn't say it's a bad idea to sort, just that you have to be aware of how sorts & queries will interact with the indexes you have, which is going to be true for pretty much any query optimizer for any DB.

[2012-02-29 22:03] quartzjer commented on #890
What is stupid is that in most of our indexed primary key queries
we're passing in an irrelevant sort that is confusing things, I'm
cleaning them up this afternoon.

On Wed, Feb 29, 2012 at 3:15 PM, Forrest L Norvell
reply@reply.github.com
wrote:

[2012-02-29 23:33] mdz commented on #797
I find the new text confusing as well, because it's not apparent what "core tech" is and whether it's different from what the developer is already using. How about "Help extend the platform" or something like that?

[2012-02-29 23:36] mdz commented on #862
This is still happening, and is adversely affecting Jason's demos. :-)

[2012-02-29 23:39] mdz commented on #862
Possibly related?

[links]
[links] /home/Collections/Links/dataIn.js:165
[links]                        locker.ievent(lutil.idrNew("link","links",obj.id),obj);
[links]  [links]  [links]  [links]  [links]  [links]  [links]  [links]  [links]  [links]  [links]  [links]  [links]  [links]  [links]  [links]  [links]  [links]  [links]  [links]  [links]  [links]  [links]  [links]  [links]  [links]  [links

[2012-02-29 23:39] merc3po commented on #797
Cool that seems short enough :-)

[2012-03-01 01:01] quartzjer opened #892 "links collection memory hog"
It's possible that a link that is to a stream that doesn't stop sending could run forever, we should stop any request, and we should log what ones are active!

[2012-03-01 01:12] quartzjer commented on #892
Fixed in https://github.com/LockerProject/Locker/commit/86567a4bfd2741d7fc33c987a89ebdf2b4777043

[2012-03-01 01:12] #892 closed, assigned to quartzjer

[2012-03-01 07:31] quartzjer commented on #890
Fixed in https://github.com/LockerProject/Locker/commit/87d6852032aca2d70565c5d07004c1fdb2982c78

[2012-03-01 07:31] #890 closed, assigned to quartzjer

[2012-03-01 07:52] #882 closed, assigned to nobody

[2012-03-01 22:07] amcjen commented on #881
Well, for OS X, we're assuming you have the XCode toolbase installed already, which will def. have those tools installed.  If you are on another Ubuntu, this isn't the case.

I will spin up a fresh Ubuntu VM and add path stuff.

[2012-03-01 22:31] mdz commented on #881
XCode comes with node.js and mongodb?

[2012-03-01 23:07] #881 closed, assigned to nobody

[2012-03-02 19:13] othiym23 opened #895 "warning: possible EventEmitter memory leak detected"
May not be an actual problem, but see this now when running tests, and in logs on production:

[code]

[2012-03-02 19:16] quartzjer commented on #895
This is a known issue, I submitted https://github.com/nodejitsu/node-http-proxy/pull/206 to fix it. I don't /believe/ it has any actual impact other than being noisy.

[2012-03-02 19:27] quartzjer opened #896 "exceptions thrown in synclet vm aren't caught"
![asdf](http://jeremie.com/i/0c1c20cd8fffe9bb2aac25f35d9372b3.png)

[2012-03-02 19:40] quartzjer opened #897 "synclets will try to run even when not auth'd"
Edge cases allow for .auth:{} to exist even if no .authed flag and is invalid, be careful to expect both before running synclets

[2012-03-02 20:21] #897 closed, assigned to quartzjer

[2012-03-02 20:31] quartzjer opened #898 "twitter connector shouldn't use fs cached profile anymore"
we use auth object to cache that now, shouldn't use filesystem

[2012-03-02 22:00] quartzjer opened #899 "clean up debris from jeremie's cached twitter profile.json"
For a few hours, any twitter contacts synclet run would have pulled mine in, needs to be cleaned up!

[2012-03-02 22:34] quartzjer commented on #899
The plan is to have a migration that will lmongo.client.dropCollection('asynclets_twitter_contact'), then give out a command to /Me/contacts/update.  Then the next time the twitter friends synclet runs normally, all those contacts will be recreated from scratch clean.

[2012-03-03 10:37] #899 closed, assigned to quartzjer

[2012-03-03 17:03] mdz opened #900 "Collections routinely exit with status 1"
This is commonly seen in logs:

3 Mar 08:11:58 - info: contacts exited with status 1, signal null
3 Mar 08:22:04 - info: places exited with status 1, signal null
3 Mar 08:22:04 - info: links exited with status 1, signal null
3 Mar 08:22:50 - info: search exited with status 1, signal null

If these are graceful shutdowns, they should exit with status 0. If they're being shut down uncleanly somehow,

[2012-03-05 07:40] quartzjer commented on #685
I'd vote for asap a simple visible sync button first, and defer the github push stuff a little longer, the external/api/token stuff will likely evolve in the next few weeks and could cause some regression on a push route now.

[2012-03-05 19:18] othiym23 opened #901 "Pandora connector is barfing in hosted accounts"
[code]

[2012-03-05 19:21] othiym23 commented on #901
Later...

[code]

[2012-03-05 19:21] othiym23 commented on #901
(This is on my own hosted account.)

[2012-03-05 19:42] merc3po commented on #685
@quartzjer Here's a mock showing a "sync Github" button in the UI:
<img src="http://cl.ly/1V3M463X001H1h0p152K/Screen%20Shot%202012-03-05%20at%2011.40.28%20AM.png">

[2012-03-05 20:23] temas opened #902 "Explore mongo vs ijod resource usage"
There are a few facets to this.  First is isolating the core processing from any other pieces.  This is done by disabling all of the Collections, and making the synclet manager immediately respond with saved data.  Once this is isolated we can measure the current amount of resource usage for processing synclet results.  Then switching to the ijod branch we can perform with the same data and check

[2012-03-05 20:32] mdz opened #903 "insert locker.system.indexes exception 11000 E11000 duplicate key error index: locker.alinks_link.$id_1 dup key: { : null } 122ms"
5 Mar 12:32:06 - info: [mongo] Mon Mar  5 12:32:06 [conn2] insert locker.system.indexes exception 11000 E11000 duplicate key error index: locker.alinks_link.$id_1  dup key: { : null } 122ms

Happened soon after local locker startup

[2012-03-05 23:38] merc3po opened #904 "Ability to remove your own account"
We also want to track that event

[2012-03-06 01:00] smurthas opened #905 "GitHub is connected, but shows up as still being connectable"
![img](http://bit.ly/y5RHSU)

[2012-03-06 19:15] mdz opened #906 "Whenever a child process is spawned, we should log the PID"

[2012-03-06 19:18] temas opened #907 "Update logging, again"
Logging needs another pass.  There's some general distaste for winston and we need to know that the system logs what and when we expect.  [Stoopid](https://github.com/mikeal/stoopid) is a possiblity.

[2012-03-06 19:23] temas commented on #906
It seems that we do in lsyncmanager, but some logs have been seen without the line.  Needs some more investigation.

[2012-03-06 19:33] temas opened #908 "Child services should have an endpoint for sending stats"
when a child process starts it should file back it's usage stats every minute or so to core, this can then be passed through to monitoring and what at the stats core endpoint.

[2012-03-07 00:58] mdz opened #910 "Building node requires OpenSSL development bits, but "make deps" doesn't install them"
Originally filed as part of #289, and moved to LockerProject/lockerbox#6. Moving it back here due to #909.

[2012-03-08 21:40] othiym23 opened #912 "Links (DEMO) [linkalatte] no longer infinitely scrolling"
Used to page in more data as you hit the bottom, no longer does so.

[2012-03-08 21:41] kristjan commented on #862
Appears resolved; Jason can see links again.

New known bug in #912

[2012-03-08 21:41] #862 closed, assigned to nobody

[2012-03-08 22:15] kristjan commented on #840
We get a 304 during install instead of a couple 200s from a working one (https://github.com/beaugunderson/playground)

https://gist.github.com/2003768

[2012-03-08 22:27] beaugunderson commented on #840
Interesting, the directory shown in your gist is missing files (no index.html, js/, img/, for example)

[2012-03-08 22:28] kristjan commented on #840
Yeah, it looks like the NPM tarball is actually incomplete

http://jer.iriscouch.net/registry/_design/app/_rewrite/beaugunderson-meta-me/-/beaugunderson-meta-me-0.0.2.tgz

[2012-03-08 22:33] kristjan commented on #840
Current hypothesis is that the tarball was generated from an incomplete repo sync as a result of #725. @beaugunderson, if it works with the unpublished version, can you try republishing?

Thoughts on avoiding this in the future:
- Pull the tarballs GitHub makes out of tags
- Let devs upload their own tarball

[2012-03-08 23:39] evanmcc opened #913 "Developer-only parts of the singly.com site fail with uninformative errors."
When you go to:
https://singly.com/dashboard/develop#Develop-BuildAnApp
or:
https://singly.com/dashboard/develop#Develop-ApiExplorer
you get something like: 'Cannot GET /dashboard/develop' in plain text, rather than something that tells you what's going on.  @kristjan says on IRC that the first should be visible when you're not logged in as a developer, and the second needs dev info, so it should

[2012-03-09 01:15] #685 closed, assigned to kristjan

[2012-03-09 01:22] kristjan commented on #840
@quartzjer, Need your help on this one. Force synching doesn't appear to pull in the rest of the repo.

[2012-03-09 04:09] kristjan commented on #835
This is implemented in Singly/Integral@8ced2f0 and will be deployed soon

[2012-03-09 18:56] #840 closed, assigned to kristjan

[2012-03-09 18:58] beaugunderson commented on #840
I met up with @quartzjer last night and we resolved this by removing the cached entry. There should probably be another ticket opened to make the github synclet cache less aggressively (maybe the ability to overwrite partial syncs if the force parameter is true?)

[2012-03-09 23:37] #835 closed, assigned to kristjan

[2012-03-10 00:17] temas commented on #902
A summation of this was given in the Singly engineering meeting this week, but let me try and TL;DR it

In investigating this I came across some core important realizations that overtook this work.  Primarily, this was that we need to be better about batching our operations rather than serializing them.  IJOD and master were neck and neck in terms of general performance until I began working on th

[2012-03-10 00:21] temas commented on #902
https://github.com/LockerProject/Locker/pull/914

[2012-03-10 00:51] kristjan commented on #832
What should this behavior be of authing a new Twitter account?
- Leave what's already been pulled in (disconnect step should handle cleanup if we want that)
- Show your new handle
- Start pulling in new data

[2012-03-10 00:55] othiym23 commented on #832
I think the Principle of Least Surprise dictates that if you deauth, your data should be left alone, and if you reauth using the same handle, then just add the new data. If you auth with a different handle, though, start from a clean slate by nuking the old data.

There is a separate issue, which should be captured via a feature request / another issue, which is that it would be very useful to be

[2012-03-10 00:56] othiym23 commented on #832
Because the profile data is saved on the auth object, it should be a matter of ensuring that the auth object is completely removed from me.json on the new auth to make sure the proper profile settings get changed.

[2012-03-10 02:11] othiym23 opened #915 "statsd doesn't use the value of the count for counters"
...so I need to find a way to get the length counter to accurately report that length. That, or modify statsd.

[2012-03-10 02:53] mdz opened #916 "Failure to resolve the DNS name of the statsd server brings locker down hard"
[code]

[2012-03-10 04:40] othiym23 commented on #916
Derp. Asynchronous and synchronous error-handling can't mix. Had to revert my change. Will take this up with the Node team.

[2012-03-10 23:01] mdz commented on #895
The noisiness is a real issue; I see tracebacks go by in the logs and it makes my nerves tingle.

@quartzjer - you got a followup on your pull request asking for some changes

[2012-03-12 05:43] quartzjer opened #917 "file descriptor leakage"
Something is leaking file descriptors, I'm seeing hundreds per node process, and lsof shows them as an unknown/anonymous socket, so far docs suggest that is one being deleted before close()'d?

[2012-03-12 16:36] temas commented on #877
Is this done enough to close and move to more granular issues as they come up?

[2012-03-12 16:38] othiym23 commented on #877
It is, I think. There's still room for instrumentation on things like Express / Connect (for things like user responsiveness of the system), but I'd rather have us do targeted additions as we come up with specific issues we want to measure.

[2012-03-12 16:38] #877 closed, assigned to othiym23

[2012-03-12 18:05] mdz commented on #917
I believe this is what @othiym23 intended to fix in 2c9aef54ff8f2dd5e3c75c948d29885774513bb3

[2012-03-12 18:33] othiym23 commented on #917
We can consider this one closed, unless we see a reversion. Node does not go out of its way to make working with datagrams simple, but the oversight was mine. Sorry about this / the storm of notifications we got overnight.

[2012-03-12 18:33] #917 closed, assigned to othiym23

[2012-03-12 22:44] mdz commented on #566
This is still happening (a lot) in prod

[2012-03-13 16:18] mdz opened #920 "Error processing json: TypeError: Cannot read property 'page' of undefined"
Error processing json: TypeError: Cannot read property 'page' of undefined
13 Mar 15:34:44 - error: Uncaught exception:
13 Mar 15:34:44 - error: [TypeError: Cannot read property 'contact' of undefined]
13 Mar 15:34:44 - error: 'TypeError: Cannot read property \'contact\' of undefined\n    at Request._callback (/home/Connectors/Flickr/lib/paging.js:51:42)\n    at Request.callback (/home/node_module

[2012-03-13 16:19] mdz opened #921 "Uncaught exception at shutdown: TypeError: undefined is not a function"
13 Mar 15:34:44 - info: [mongo] Tue Mar 13 15:34:44 dbexit: really exiting now
13 Mar 15:34:44 - error: Uncaught exception:
13 Mar 15:34:44 - error: [TypeError: undefined is not a function]
13 Mar 15:34:44 - error: 'TypeError: undefined is not a function\n    at /home/node_modules/mongodb/lib/mongodb/db.js:661:28\n    at /home/node_modules/mongodb/lib/mongodb/db.js:715:28\n    at /home/node_module

[2012-03-13 22:53] mdz commented on #916
Is this still open, or was it addressed by d3cea88?

[2012-03-13 23:33] othiym23 commented on #916
It's closed. I'm poking at the Node team on the corresponding bug on node, because it seems weird to have the dgram code assume a listener stream, but I think the pattern the stats code has in place now is how Node wants things done today.

[2012-03-13 23:33] #916 closed, assigned to nobody

[2012-03-14 17:31] merc3po commented on #634
We have some messaging to do around this, but it doesn't belong in Locker...

[2012-03-14 17:31] #634 closed, assigned to nobody

[2012-03-14 18:08] merc3po commented on #669
Is this really ASAP if we're concerned w/ providing a consistent Singly.com experience?

[2012-03-14 18:13] merc3po commented on #915
What does this relate to?

[2012-03-14 18:14] temas commented on #921
Fixed in b8c74e5bf7400a23f0bfbc736384495a3f433a3c

[2012-03-14 18:14] #921 closed, assigned to temas

[2012-03-14 18:14] temas commented on #920
Fixed in b8c74e5bf7400a23f0bfbc736384495a3f433a3c

[2012-03-14 18:14] #920 closed, assigned to temas

[2012-03-14 19:29] mdz commented on #871
This looked bizarre at first, but on second look, I think it's totally normal. The text comes from the content of https://github.com/cloudhead/less.js/issues/663, and mongo is logging it because the insert was "slow" (205ms)

[2012-03-14 19:29] #871 closed, assigned to nobody

[2012-03-14 19:30] othiym23 commented on #915
Gathering information about the state of the infrastructure for performance monitoring. Also, I think @temas fixed this yesterday or the day before. Temas?

[2012-03-14 20:21] mdz commented on #826
@smurthas so we should close this in favor of #827?

[2012-03-14 20:23] mdz commented on #730
dev.singly.com just goes to the home page now, so I guess this is a non-issue

[2012-03-14 20:23] #730 closed, assigned to nobody

[2012-03-14 20:31] mdz commented on #674
Does anyone else see this?

[2012-03-14 20:31] smurthas commented on #826
Yes

[2012-03-14 20:31] #826 closed, assigned to nobody

[2012-03-14 20:32] mdz commented on #907
What are the shortcomings of winston that we want to address?

[2012-03-14 20:38] mdz commented on #564
Cosmetic, not worth tracking on the issue list at this stage

[2012-03-14 20:38] #564 closed, assigned to temas

[2012-03-14 20:40] mdz commented on #546
I think this is actually #547

[2012-03-14 20:40] #546 closed, assigned to nobody

[2012-03-14 20:43] mdz commented on #368
Is this still happening with the new contacts collection? /cc @smurthas

[2012-03-14 20:44] mdz commented on #906
It looks like this is working as designed; must have been pilot error grepping the logs

[2012-03-14 20:44] #906 closed, assigned to nobody

[2012-03-14 21:04] beaugunderson opened #925 "First level logged-out nav loses CAPITALS when on the 'Develop' tab"
[A visual explanation.](http://beau.clarify-it.com/d/m4x6gm)

[2012-03-14 21:05] mdz opened #926 "Synclet scheduler should be unified"
Currently, initial scheduling is done in lsyncmanager.scheduleRun(), but then this is modified in lsyncmanager.executeSynclet() to back off based on how much new/changed data there is ("tolerance") or whether another synclet is running (delays by 10 seconds), with the result that it's hard to follow the logic to tell when something will run (and the log message lies).

It would be good to combine

[2012-03-14 21:29] mdz opened #927 "Twitter connector gets stuck not running any synclets, delaying them all"

[2012-03-14 21:30] mdz commented on #927
Log looks like this:

[code]

with no twitter synclets running for many hours

[2012-03-14 21:35] kristjan commented on #925
Heh, thanks - overapplied some CSS

[2012-03-14 21:38] kristjan commented on #925
Fixed in Singly/integral@973d918

[2012-03-14 21:38] #925 closed, assigned to kristjan

[2012-03-14 22:30] smurthas commented on #368
While it is certainly possible, I'm going to close this as it is probably not around anymore. If we see it again, of course we can reopen.

[2012-03-14 22:30] #368 closed, assigned to nobody

[2012-03-14 22:54] smurthas commented on #927
Was a synclet actually running/stuck at the time, or was this just tolerance?

[2012-03-14 23:03] mdz commented on #926
The complexity here is making it hard for me to see why things like this can happen:

[code]

[2012-03-14 23:05] othiym23 commented on #927
@temas investigated this, and it seemed like the `timeline` synclet had hung without crashing in a way that the sync manager could recover, causing all the other synclets to be delayed.

[2012-03-14 23:06] mdz commented on #927
Something was definitely stuck. No twitter synclets had run since:

[code]

Looks like timeline is probably the one that got stuck.

[2012-03-14 23:08] mdz commented on #927
This seems to be happening with the twitter connector across a great many (but not all) of our accounts.

[2012-03-14 23:33] smurthas commented on #832
I was able to repro this. I can investigate. I disconnected my personal account, and connected singly's account and still had the same profile and the synclets ran but didn't pull in any new contacts.

[2012-03-14 23:35] mdz commented on #832
Could the profile mismatch cause problems like in #899?

[2012-03-15 00:05] smurthas commented on #832
Sure could.

[2012-03-15 00:24] mdz commented on #832
@kristjan makes a good point that we should figure out what to do with the old data in this case. I can't think of a better solution than asking the locker owner what to do. If they accidentally connected the wrong account, they'll probably want to clear it out, but if they're migrating to a new account, they'll want to keep the old data.

[2012-03-15 00:31] kristjan commented on #832
I'm perfectly happy leaving that decision for when someone brings it up. By
default, I think everything Locker does should be only cumulative.

On Wed, Mar 14, 2012 at 5:24 PM, Matt Zimmerman <
reply@reply.github.com

[2012-03-15 00:34] mdz commented on #539
The winston callback stuff isn't working as intended, unfortunately

[2012-03-15 00:36] mdz commented on #832
Fair enough, @kristjan. We should make sure that we store enough state that we could go back and cleanly remove the old data if someone requests it.

[2012-03-15 00:38] mdz opened #928 "lastfm: TypeError: Cannot read property 'uts' of undefined"
[code]

[2012-03-15 00:45] kristjan commented on #832
Sound smart. If we're not, it wouldn't hurt to store a source parameter
with every piece of data. Something like twitter/username in this case.

On Wed, Mar 14, 2012 at 5:36 PM, Matt Zimmerman <
reply@reply.github.com

[2012-03-15 01:11] mdz opened #929 "lastfm: TypeError: Cannot read property 'length' of undefined"
15 Mar 00:59:26 - error: Uncaught exception:
15 Mar 00:59:26 - error: [TypeError: Cannot read property 'length' of undefined]
15 Mar 00:59:26 - error: 'TypeError: Cannot read property \'length\' of undefined\n    at /home/Connectors/LastFM/lib.js:296:47\n    at Request._callback (/home/Connectors/LastFM/lib.js:101:45)\n    at Request.callback (/home/node_modules/request/main.js:108:22)\n    at Req

[2012-03-15 01:22] othiym23 commented on #929
This should be resolved by 5c281687056a5b1e68bcf7d936ad02a93e811dc6. But, you know, testing first.

[2012-03-15 03:12] othiym23 commented on #929
Yup. That, and the following 2 or 3 commits, fixed the issue. Deployed as part of build 695.

[2012-03-15 03:12] #929 closed, assigned to nobody

[2012-03-15 14:43] temas commented on #928
Forrest and I got this last night.  ee9842c0f61f67ab19240a9bb2e7d768b86cae49

[2012-03-15 14:43] #928 closed, assigned to nobody

[2012-03-15 14:45] temas commented on #927
So it's definitely only twitter right now, and it's not isolated to timeline, I've seen tweets do it too.  Netstat has no open sockets and lsof has no interesting open files.  I'm going to do another code review on the twitter paging code now.  My gut is telling me it's escaping from there somehow.

[2012-03-15 14:46] temas commented on #915
I modified how it was sending the length, is it still incorrect?

[2012-03-15 14:48] temas commented on #913
Yeah, I can reproduce.

[2012-03-15 14:50] temas commented on #903
I think @quartzjer ran in to this while working on some new work too, he'll have some insight.

[2012-03-15 14:52] temas commented on #907
A few off the top of my head are the program end loss issue, poor rotation scheme, some extra complexity in how we're hooking it all together.

[2012-03-15 14:56] temas commented on #287
Overall file layout has changed slightly, and it has always been intended to run from the top level directory.  Closing this issue.

[2012-03-15 14:56] #287 closed, assigned to othiym23

[2012-03-15 14:57] temas commented on #309
This UI is dead, closing.

[2012-03-15 14:57] #309 closed, assigned to nobody

[2012-03-15 14:58] temas commented on #517
I feel your commit addresses this for now, closing this issue.

[2012-03-15 14:58] #517 closed, assigned to nobody

[2012-03-15 14:59] temas commented on #562
This migration tools and issues related to it are now outdated.  Closed.

[2012-03-15 14:59] #562 closed, assigned to nobody

[2012-03-16 20:18] mdz opened #930 "Insecure temporary files"
I see "/tmp/raw" and "/tmp/avatar.png" appear whenever the test suite runs.

[2012-03-16 21:01] kristjan commented on #685
User feedback!

[2012-03-16 23:44] smurthas commented on #832
This ended up getting fixed in https://github.com/LockerProject/Locker/commit/d73ef39d4d952630f01608d2bd2ac35afc62a9fe

[2012-03-16 23:44] #832 closed, assigned to smurthas

[2012-03-17 01:03] smurthas commented on #927
Still see this (only for contacts):

[code]

Not all accounts. My super fast and unscientific internal pattern matching pinned it to old accounts (there were about 5, 3 of which were singleton's accounts), all were on 1, 6, and 7.

Can't tell which connector. We need to improve the logging there.

[2012-03-17 01:05] smurthas commented on #927
of note, this isn't twitter, as twitter has friends, not contacts. Adding logging right now and will update with the results.

[2012-03-17 03:03] smurthas commented on #927
This is gcontacts.

[code]

Interestingly, it seems to have more than one copy running. This seems likely to be a scheduling bug coupled with a gcontacts bug (if there was a twitter bug, it has been squashed).

[2012-03-17 18:27] mdz opened #933 "gcontacts synclet gets stuck, repeating "delaying gcontacts/contacts""
Originally described in #927, but found to be a separate issue.

[code]

Interestingly, it seems to have more than one copy running. This seems likely to be a scheduling bug coupled with a gcontacts bug (if there was a twitter bug, it has been squashed).

[2012-03-17 18:27] mdz commented on #927
I've filed the gcontacts issue as #933. Closing this one as it's resolved.

[2012-03-17 18:27] #927 closed, assigned to nobody

[2012-03-17 18:30] mdz commented on #898
Is this what @smurthas did in d73ef39d4d952630f01608d2bd2ac35afc62a9fe et al? Or something different?

[2012-03-17 19:11] smurthas commented on #898
Yep

[2012-03-17 19:11] #898 closed, assigned to quartzjer

[2012-03-19 04:22] beaugunderson opened #935 ""SYNC GITHUB" button doesn't refresh app list if there's a new repo"
My GitHub account contained a repo that wasn't in my "YOUR APPS" list.

I clicked the "SYNC GITHUB" button and it went through the 'synching', 'synched' states, but the list didn't update.

I did a full page refresh and the list contained the new repository. It would be nice if it refreshed the app list after the sync process completed. :)

[2012-03-19 04:43] mdz opened #936 "Demo apps should be clean examples"
Noticed in helping someone on IRC that (for example) HelloPlaces doesn't use the new APIClient stuff. So if someone uses it as the basis for a new app, they won't have such an easy time doing local development. The example at https://singly.com/dashboard/develop#Develop-BuildAnApp has the right stuff, but then you have to start from scratch building the UI. It would be better if the demo apps were

[2012-03-19 04:58] beaugunderson opened #937 "Links to the developer documentation should redirect when a logged-out user visits"
Currently if you click a link to the dev docs and you're logged out this is all you get to see:

[code]

It would be nice if there was a redirect to somewhere with more information. At present when people want dev docs on IRC that's the best place, and if they happen to be logged out they'll just see an error message.

[2012-03-19 10:40] tylerstalder commented on #937
Yea, right now all the dev docs are being served out of the locker. I think we'll want to move some onto these pages https://singly.com/develop/start so they're link friendly, as well as not requiring login.

[2012-03-19 21:18] mdz commented on #926
FYI it looks like this code has been refactored quite a bit in 3c5e3c846d8d2f073aefdbc8d417ee1db5da4559 (ijod branch)so we should probably not

[2012-03-20 19:46] AlanEllingson opened #939 "Need a method for removing apps from Singly when the repository is deleted."
Apps continue to be available at Singly even though the supporting repository has been deleted.

[2012-03-20 21:00] AlanEllingson opened #940 "github synclet does not remove or rename files properly on sync"
n/t - Ask temas

[2012-03-20 21:01] #940 closed, assigned to nobody

[2012-03-20 21:01] AlanEllingson opened #941 "github synclet does not remove or rename files properly on sync"
_n/t_ --- Ask Temas

[2012-03-24 06:04] advatar opened #944 "proxy support"
At the moment there is no support for running behind a proxy. Maybe this could be added to config.json with a fallback to $http_proxy?

[2012-03-24 18:33] MeanderingCode commented on #944
I agree that this would be good.
In the mean time, is it possible to use a tsocks or similar approach like LD_PRELOAD library loading?  I don't know much about threading and environment inheritance and am new (read: starting to play with this project) to node.js, so info here or messaged to me if more appropriate would be appreciated.

[2012-03-27 03:37] kristjan commented on #939
I assume this is for apps under development, rather than published. Once published, they should probably stick around, but during development, one should certainly be able to clean up dead projects.

Should this be automatic (ie, when the repo is noticed missing during a sync), or manual?

[2012-03-27 04:28] AlanEllingson commented on #939
Of course.

Instinctively I would say "manual" though I can't put my finger on a good reason for it to be that way. If the code is gone then is there a good reason to keep the app?

[2012-03-27 04:54] kristjan commented on #939
I can't think of a really good reason, though there might be a fun edge
case if you do something like change repo ownership. I think manually
sounds fine/easier until an obvious use pattern emerges.

On Mon, Mar 26, 2012 at 9:28 PM, AlanEllingson <
reply@reply.github.com

[2012-03-27 17:30] kristjan opened #946 "Allow authing other services without FB/Twitter"
Add a link to reveal the rest of the connectors if one doesn't want to auth FB/Twitter.

Discussion in https://groups.google.com/forum/?fromgroups#!topic/singly-dev/4wbXTe_zdwI

[2012-03-28 23:57] kristjan commented on #935
Good call. The 4 second fix would be to just autorefresh the whole page.

On Sun, Mar 18, 2012 at 9:22 PM, Beau Gunderson <
reply@reply.github.com

[2012-03-30 16:59] advatar commented on #944
i used node-tunnel to fix node-request and node-oauth. will request a pull later

[2012-04-11 19:23] jernst opened #947 "Incorrect path in documentation"
Seems
curl https://raw.github.com/LockerProject/lockerbox/master/lockerbox.sh > lockerbox.sh

in file
https://github.com/LockerProject/Locker/blob/master/README.md

should be
curl https://raw.github.com/smurthas/lockerbox/master/lockerbox.sh > lockerbox.sh

[2012-05-09 12:49] catchin opened #948 "Events from a Calendar Connector"
I would like to be able to add calendar events to the Locker.

As an example use case, imagine you manage your calendar with Google Calendar and have Contacts and Places linked in the events in your calendar. Then, scrolling through past events gives you a timeline of what you have done, with whom you interacted and where you have been. Also a connection to Photos (if you took them at an event) or

[2012-06-03 02:03] chadwetsell opened #949 "'SyntaxError: Unexpected token' on first run"
Going through the initial install/setup steps, and got everything working, but when I run ./locker I get the following error, and then everything shuts down.

2 Jun 18:49:05 - error: Uncaught exception:
2 Jun 18:49:05 - error: [SyntaxError: Unexpected token }]
2 Jun 18:49:05 - error: 'SyntaxError: Unexpected token }\n    at Object.parse (native)\n    at Object.init (/Users/chad/Locker/Ops/registry

[2012-06-03 19:50] chadwetsell opened #950 "'SyntaxError: Unexpected token' on first run"
Going through the initial install/setup steps, and got everything working, but when I run ./locker I get the following error, and then everything shuts down.

2 Jun 18:49:05 - error: Uncaught exception:
2 Jun 18:49:05 - error: [SyntaxError: Unexpected token }]
2 Jun 18:49:05 - error: 'SyntaxError: Unexpected token }\n    at Object.parse (native)\n    at Object.init (/Users/chad/Locker/Ops/registry

[2012-06-05 12:40] akshayakrsh opened #951 "Ubuntu 12.04: Locker not getting installed"
Both the Fast Installation and Detailed Installation is not working...what to do? I get the following error in make:
https://github.com/isaacs/npm/issues/2496

[2012-06-08 05:47] akshayakrsh commented on #941
I think the synclets in overall are not capable of removing files from the locker, if they are deleted from the source! Already confirmed this with Facebook photos.

[2012-06-08 05:49] akshayakrsh commented on #951
ok, I was able to make it work by running "npm install" in the locker folder and then executing "make" again. It didnt work the first time, I had to try this multiple times before the locker was ready to run!

[2012-06-08 05:49] #951 closed, assigned to nobody

[2012-06-08 05:51] akshayakrsh opened #952 "Default Apps not showing data"
The latest locker (downloaded 3 days back) is not showing any data in the default apps. The FB connector is configured and there's data present in the /Me/facebook folder, the synclets are running regularly but the Apps display no data!!

What to do?

[2012-06-09 04:27] akshayakrsh opened #953 "Error in FB Synclet"
Reporting 2 errors that I see while FB synclet is running:

Error 1 ------------------------------------------------------------------------------------------
8 Jun 19:58:22 - error: Facebook home_update error: synclet returned an error: {"code":"ENOTFOUND","errno":"ENOTFOUND","syscall":"getaddrinfo"}

8 Jun 19:58:22 - info: Synclet home_update finished for facebook timing 64967

Error 2 ---------

[2012-06-10 06:14] akshayakrsh opened #954 "Connector Creation Example Not valid"
When reading the instructions of creating a Connector, all examples say (e.g. https://github.com/LockerProject/Locker/wiki/OAuth-1-Connector-Example):

"The easiest way to get going is to copy and paste the code in Locker/Connectors/skeleton into a new directory for your connector."

The issue is there's no "skeleton" directory in the repository at the mentioned location! Can the Singly team, plea

[2012-06-24 11:12] clemsos opened #957 "run locker with node v6"
hi there !

I can't wait to test this awesome Locker project !
I have clone code from github and follow install instructions, but no way to make it work

Actually it is very similar to the issues described here :  https://github.com/LockerProject/Locker/pull/533

[code]

and

[code]

here is the whole log error i got when accessing webpage from my browser
any suggestions/idea ?

[code]

[2012-07-04 04:51] volkovasystems opened #958 "Issue: Attempting to open connection to running mongodb server."
I am doing test cases for my application with Locker Project application. (lockerproject.org)
The locker is running with root privilege. The files inside it as well as the script has full root and as well as non root access to all the files.
I am also using foreverjs to run the locker. So that when the locker dies it will restart again.
The locker is attempting to open connection on a running mong

[2012-07-04 07:23] volkovasystems commented on #958
Ok I updated my diagnosis. I put db.error and db.previousErrors after db.open then I am receiving this error:
"Error: no open connections"

[2012-07-04 07:29] volkovasystems commented on #958
It seems I am wrong placing the db.error and db.previousErrors so I place them inside db.open callback and I am not receiving any prompts now.

[2012-07-05 07:51] volkovasystems commented on #958
No worries I already solve the issue. The current locker version needs a lower version of NodeJs I don't know what but we are using nodejs@0.6.19

[2012-07-05 07:51] #958 closed, assigned to nobody

[2012-08-07 15:01] bf4 commented on #950
I'm getting the same error, osx mountain lion, first did make deps for everything, then nuked ./deps and brew install imagemagick mongo clucene and the other stuff on the page, but it wants an older node, so I did make deps, make, etc. got the same error again. also tried running it with PATH="./deps/local/bin:$PATH" ./locker

update:  I figured it out.  I had commented out some lines in the apike

[2012-08-30 13:58] xiaoganghan opened #959 "Please update docs"
Was very excited to try it out, but there seems no way to get Locker to run by following the instructions on http://lockerproject.org/ or any 'fast'/'detailed' way here.

[2012-08-31 12:42] usin opened #960 "show "Looks like everything worked!" but when run"./locker", not run."
below is showed code.

root@usin-RB065AA-AB2-a1593cn:/home/usin/Locker# make
Initializing submodules...
Submodule 'Apps/dashboardv3/static/common' () registered for path 'Apps/dashboardv3/static/common'
Git version 1.7.9.5 found.
Node.js version 0.6.9 found.
npm version 1.1.0-3 found.
mongoDB version 2.0.4 found.
ImageMagick version 6.7.9-2 found.
npm http GET https://github.com/lpatters/node-imag

[2012-09-03 07:06] cbfrance commented on #959
This project looks very interesting but hasn't had any commits in 5 months and doesn't seem to have a functional demo. Is it still under active development?

[2012-09-03 07:11] cbfrance commented on #959
... perhaps there is another branch (or fork) that is stable/recommended?

[2012-09-04 17:06] kristjan commented on #959
Development by Singly has forked into https://github.com/singly/hallway/,
which is a multi-tenant version of the Locker. As a result, the Locker is
unmaintained until someone wants to pick up the torch.

On Mon, Sep 3, 2012 at 12:11 AM, Chris Blow notifications@github.comwrote:

[2012-09-04 17:10] xiaoganghan commented on #959
Good to know. Time to close this issue.

[2012-09-08 19:34] bewest commented on #957
Me too.

[2012-09-12 12:33] advatar commented on #960
What is the output from ./locker?

[2012-09-13 02:49] Laobei2012 commented on #957
Me too

[2012-09-13 05:51] kristjan commented on #957
Hi all!

"Official" development has moved from Locker to
https://github.com/Singly/hallway, so first I'd recommend you try running
that instead. It does very much the same thing, just provides more of an
API and slightly less of a Locker, but it is far more up to date.

But, if you'd like to continue on Locker (which is still definitely a great
project, just lacking a maintainer):
- Try running `m

[2012-09-13 08:35] bewest commented on #957
Hmm.  Well, my pull request https://github.com/LockerProject/Locker/pull/961 fixes this issue, FWIW.  Will check out hallway.

[2012-09-13 10:00] Laobei2012 commented on #957
@bewest it does work, thanks

[2012-09-13 16:33] kristjan commented on #957
Merged! Thanks, Ben

On Thu, Sep 13, 2012 at 3:00 AM, Simon notifications@github.com wrote:

[2012-09-14 07:34] clemsos commented on #957
Many thanks ! it works for me. I close this issue

[2012-09-14 07:34] #957 closed, assigned to nobody

[2012-10-19 22:59] graue commented on #959
@kristjan Please put that info in the readme! You'll save people a lot of time trying to figure out if this is an abandoned project and where the effort is going these days.

[2012-10-19 23:11] kristjan commented on #959
Done!

[2014-11-10 02:13] othiym23 commented on #716
Closing as abandoned. :night_with_stars:

[2014-11-10 02:13] #716 closed, assigned to othiym23

[2014-11-10 02:13] othiym23 commented on #847
Closing as irrelevant. :cactus:

[2014-11-10 02:13] #847 closed, assigned to othiym23

[2014-11-10 02:15] othiym23 commented on #286
Closing as irrelevant. 🌋

[2014-11-10 02:15] #286 closed, assigned to nobody

[2014-11-10 02:15] othiym23 commented on #569
Closing as abandoned. 💀

[2014-11-10 02:15] #569 closed, assigned to smurthas

[2014-11-10 02:17] othiym23 commented on #603
I think this one actually got addressed eventually, so closing as quasi-resolved. 🏆

[2014-11-10 02:17] #603 closed, assigned to nobody

[2014-11-10 02:18] othiym23 commented on #646
Closing as resolved, eventually. 🐌

[2014-11-10 02:18] #646 closed, assigned to nobody

[2014-11-10 02:19] othiym23 commented on #675
Closing as abandoned.

[2014-11-10 02:19] #675 closed, assigned to nobody

[2014-11-10 02:20] othiym23 commented on #742
Closing as resolved (I think I even fixed this one myself, although it's so long ago I can't remember). 🌄

[2014-11-10 02:20] #742 closed, assigned to nobody

[2014-11-10 02:20] othiym23 commented on #755
Closing as irrelevant. 🐞

[2014-11-10 02:20] #755 closed, assigned to nobody

[2014-11-10 02:22] othiym23 commented on #776
Closing as abandoned. 🌁

[2014-11-10 02:22] #776 closed, assigned to nobody

[2014-11-10 02:23] othiym23 commented on #873
Closing as abandoned.

[2014-11-10 02:23] #873 closed, assigned to smurthas

[2014-11-10 02:25] othiym23 commented on #895
Closing as resolved, eventually. 🚢

[2014-11-10 02:25] #895 closed, assigned to quartzjer

[2014-11-10 02:26] othiym23 commented on #901
Closing as abandoned. 🚧

[2014-11-10 02:26] #901 closed, assigned to nobody

[2014-11-10 02:27] othiym23 commented on #912
Closing as resolved. 🎭

[2014-11-10 02:27] #912 closed, assigned to nobody

[2014-11-10 02:28] othiym23 commented on #915
Closing as resolved. 🎌

[2014-11-10 02:28] #915 closed, assigned to temas

[2014-11-29 23:44] #937 closed, assigned to nobody

[2014-11-29 23:44] #935 closed, assigned to nobody

[2014-11-29 23:44] #857 closed, assigned to nobody

[2014-11-29 23:44] #852 closed, assigned to nobody

[2014-11-29 23:44] #814 closed, assigned to nobody

[2014-11-29 23:44] #811 closed, assigned to nobody

[2014-11-29 23:44] #810 closed, assigned to nobody

[2014-11-29 23:44] #806 closed, assigned to nobody

[2014-11-29 23:44] #787 closed, assigned to nobody

[2014-11-29 23:45] #483 closed, assigned to quartzjer

[2019-12-09 17:38] emarteca opened #962 "end event listener registration error"
Hi all, I've been working on a tool to identify instances of events registered to the wrong object in uses of some JavaScript event-driven APIs, as part of a research project.
The tool flagged [line 200](https://github.com/LockerProject/Locker/blob/master/tests/locker-core-api-test.js#L200) in tests/locker-core-api-test.js, on the registration of the “end” event.

The reason I believe this is indi